{% extends "base.html" %}
{% block start %}

<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="account-settings-container layout-top-spacing">


            <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                <form id="work-experience" class="section work-experience">
                    <div class="info">
                        <h5 class="">Add packages</h5>
                        <div class="row">
                            <div class="col-md-12 text-right mb-5">
                                <button id="add-work-exp" class="btn btn-primary">Add</button>
                            </div>
                            <div class="col-md-11 mx-auto">

                                <div class="work-section">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="degree2">package title</label>
                                                <input type="text" class="form-control mb-4" id="degree2"
                                                    placeholder="Add your title here">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="degree2">select multiple</label>
                                                <select class="form-control " id="choices-multiple-remove-button"
                                                    placeholder="Select upto 5 tags" multiple>
                                                    <option value="HTML">HTML</option>
                                                    <option value="Jquery">Jquery</option>
                                                    <option value="CSS">CSS</option>
                                                    <option value="Bootstrap 3">Bootstrap 3</option>
                                                    <option value="Bootstrap 4">Bootstrap 4</option>
                                                    <option value="Java">Java</option>
                                                    <option value="Javascript">Javascript</option>
                                                    <option value="Angular">Angular</option>
                                                    <option value="Python">Python</option>
                                                    <option value="Hybris">Hybris</option>
                                                    <option value="SQL">SQL</option>
                                                    <option value="NOSQL">NOSQL</option>
                                                    <option value="NodeJS">NodeJS</option>
                                                </select>

                                            </div>
                                        </div>








                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>



                </form>
            </div>

        </div>
    </div>
</div>
</div>


<script>
    $(document).ready(function () {

        var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
            removeItemButton: true,
            maxItemCount: 5,
            searchResultLimit: 5,
            
        });


    });
</script>

{% endblock %}