{%extends 'base.html'%}
{% block start %}


<style type="text/css">
    .bg-1 {
        background: #ECECF8;
    }
</style>

<div style="margin-top: 6%; display: flex;">
    <div style="margin: 0 auto; font-size: xxx-large;">
        Create New Package
    </div>
</div>



<div class="card">
    <div class="card-body">
        {% include "utils/alert.html" %}
        <form id="addPackageForm">
            {% csrf_token %}
            <div class="form-row mb-4">
                <div class="form-group col-md-6">
                    <label for="lesson_title">Package Name (max 100)</label>
                    <input type="text" class="form-control" min="4" max="100" required name="lesson_title" id="lesson_title" 
                        placeholder="Enter Package Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="package_type"> Package Type</label>
                    <select required id="subjects" name="package_type" class="form-control basic tagging ">
                        <option value="video">Video</option>
                        <option value="test">Test</option>
                    </select>
                </div>
            </div>


            <div class="form-row mb-4">

                <div class="form-group col-md-6">

                    <label for="actual_price">Actual Price</label>
                    <input required type="number" id="actual_price" max="10000" name="actual_price" class="form-control" placeholder="Enter Actual Price in Rupees"> 
                    
                </div>

                <div class="form-group col-md-6">
                    <label for="selling_price">Selling Price</label>
                    <input required id="selling_price" type="number" max="10000" name="selling_price" class="form-control" placeholder="Enter Selling Price in Rupees"> 
                </div>


            </div>
            <div class="form-row mb-4" id="video_upload">

                <div class="form-group col-md-6" id="belowTypePicker">
                    <div id="expiryTypePicker">
                        <label for="subscriptionType"> Expiry Type </label>
                        <select required name="subscriptionType" id="subscriptionType" class="form-control" onchange="changeExpiryType(event)">
                            <option disabled selected value="">Choose Expiry Type</option>
                            <option value="Fixed Date">Fixed Date</option>
                            <option value="Subscription">Subscription</option>
                        </select>
                    </div>


                  
                </div>

                <div class="form-group col-md-6">
                    <div id="expiryTypePicker">
                        <label for="is_active"> Enable Purchase </label>
                        <select required name="is_active" id="is_active" class="form-control">
                            <option value=false>No</option>
                            <option value=true selected>Yes</option>
                        </select>
                    </div>

                </div>

            </div>

           

            <div class="form-row mb-4">
                <div class="form-group col-md-12">
                    <label for="description">Description </label>
                    <textarea id="summernote" required name="description" class="form-control" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="form-row mb-4" id="document_upload">

                <div class="form-group mb-6">
                    <div class="custom-file">
                        <label for="image_for_web">Choose file For Web</label>
                        <input type="file" required class="form-control" name="image_for_web" id="image_for_web">
                    </div>
                </div>

                <div class="form-group mb-6">
                    <div class="custom-file">
                        <label for="image_for_app">Choose file For App</label>
                        <input type="file" required class="form-control" name="image_for_app" id="image_for_app">
                    </div>
                </div>

            </div>

            <button type="submit" id="handleSubmit" class="btn btn-primary mt-3">Create Package</button>
        </form>

    </div>
</div>

<script>
    let editor = CKEDITOR.replace( 'description' );
    var description;
    editor.on( 'change', function( evt ) {
    // getData() returns CKEditor's HTML content.
    description =  evt.editor.getData();            
});
</script>





<script>
    let expiryDateContainer = document.getElementById('expiryDateContainer');
    let subscriptionContainer = document.getElementById('subscriptionContainer');
    function getCookie(name) {
        if (!document.cookie) {
            return null;
        }
        const xsrfCookies = document.cookie.split(';')
        .map(c => c.trim())
        .filter(c => c.startsWith(name + '='));
        if (xsrfCookies.length === 0) {
            return null;
        }
            return decodeURIComponent(xsrfCookies[0].split('=')[1]);
    }
    
    const csrfToken = getCookie('csrftoken');

    let isFormValid = false;
    function formValidation() {
        if (document.getElementById('inputEmail4').value === '') {
            alert('Please enter a pakage title');
        } else if (document.getElementById('subjects').value === '') {
            alert('Please select a subject');
        } else if (document.getElementById('actual_price').value === '') {
            alert('Please enter actual price');     
        } else if (document.getElementById('selling_price').value === '') {
            alert('Please enter selling price');     
        } else if (document.getElementById('expiryType').value === '') {
            alert('Please Choose Expiry Type');     
        } else if (document.getElementById('expiryType').value === 'fixed-date') {
            if (document.getElementById('expiryDate').value === '') {
                alert('Please Enter Last Date of Expiry ');
            } else {
                isFormValid = true;
            }
        } else if (document.getElementById('expiryType').value === 'subscription') { 
            if (document.getElementById('subscriptionDays').value === '') {
                alert('Please Enter no. of Expiry Days');
            } else {
                isFormValid = true;
            }

        } else if (document.getElementById('image_for_web').value === '') {
            alert('Please Choose Image For Web');
        } else if (document.getElementById('image_for_app').value === '') {
            alert('Please Choose Image For Mobile');
        } else {
            isFormValid = true;
        };

        return isFormValid;
    };

    // submitting form
    const addPackageForm = document.getElementById('addPackageForm');
    addPackageForm.addEventListener('submit', (e) => {
        e.preventDefault();
        isFormValid = false;

        let formData = new FormData();

        formData.append('package_title', document.getElementById('lesson_title').value);
        formData.append('package_description', description);
        formData.append('actual_price', document.getElementById('actual_price').value);
        formData.append('selling_price', document.getElementById('selling_price').value);
        formData.append('package_type', document.getElementById('subjects').value);
        formData.append('subscription_type', document.getElementById('subscriptionType').value);
        formData.append('is_active', document.getElementById('is_active').value);
        formData.append('web_image', document.getElementById('image_for_web').files[0]);
        formData.append('mobile_image', document.getElementById('image_for_app').files[0]);

        if (document.getElementById('subscriptionType').value === 'Fixed Date') {
            formData.append('sell_till_date', document.getElementById('expiryDate').value);
            
        } else if (document.getElementById('subscriptionType').value === 'Subscription') {
            formData.append('days', document.getElementById('subscriptionDays').value);
            
        }

                

            if (document.getElementById('subjects').value === 'video') {
                
                fetch('/api/courses/course-packages/', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': csrfToken
                    },
                })
                .then(function(response) {
                    return response.json();
                })
                .then(function(response) {
                    console.log(response);
                    if (response.status === true) {
                        alert('Successfully created package');
                        window.location.href = '/courses/packages/';
                    } else {
                        alert('Error while creating package');
                    }
                });
                    

            } else {
                // fetch for test API
            }
        });


    const belowTypePicker = document.getElementById('belowTypePicker');
    
    let expiryDateDiv = document.createElement('div');
    expiryDateDiv.classList.add('form-group');
    expiryDateDiv.classList.add('mt-4');
    expiryDateDiv.innerHTML = `
    <label for="expiryDate">Choose Expiry Date</label>
    <input type="date" required name="expiryDate" class="form-control" id="expiryDate">
    `;

    let subscriptionDiv = document.createElement('div');
    subscriptionDiv.classList.add('form-group');
    subscriptionDiv.classList.add('mt-4');
    subscriptionDiv.innerHTML = `
    <label for="subscriptionDays">Subscription Period</label>
    <input type="number" required id="subscriptionDays" class="form-control" placeholder="Enter Subscription Period (in Days)">
    `;

    function changeExpiryType() {
        if (event.currentTarget.value === 'Fixed Date') {
            belowTypePicker.appendChild(expiryDateDiv);
            try {
                subscriptionDiv.remove();
            } catch (error) {
                console.log(error);
            }
        } else if (event.currentTarget.value === 'Subscription') {
            belowTypePicker.appendChild(subscriptionDiv);
            try {
                expiryDateDiv.remove();
            } catch (error) {
                console.log(error);
            }
        } else {
            try {
                subscriptionDiv.remove();
                expiryDateDiv.remove();
            } catch (error) {
                console.log(error);
            }
        }
    }
</script>




{% endblock %}