{%extends 'base.html'%}
{% block start %}

<style type="text/css">
    .bg-1 {
        background: #ECECF8;
    }

    a.active{
        background-color: #FF8F16;
    }

    .deleteBtn{
        cursor: pointer;
    }
</style>
<div class="section-header" style="margin-top: 5%;">
    <h1>Add Lesson</h1>

</div>


<div class="card" id="contentDiv">
    <!-- <div class="card-header">
    <h4>Horizontal Form</h4>    
  </div> -->
    <div class="card-body">
        {% include "utils/alert.html" %}
        <form>
            {% csrf_token %}
            <div class="form-row mb-4">
                <div class="form-group col-md-6">
                    <label for="lesson_title">Lesson title</label>
                    <input type="text" class="form-control" required name="lesson_title" id="lesson_title"
                        placeholder="Enter lesson title">
                </div>



                <div class="form-group col-md-6">
                    <label for="subject">Choose Subject</label>
                    <select required id="chooseSubject" name="subject" class="form-control basic tagging " onchange="updateChapters()">
                        <option value="" selected disabled>Choose Subject</option>
                    </select>



                </div>
                <div class="form-group col-md-6">

                    <label for="chapter">Choose Chapter</label>
                    <select required id="chooseChapters" name="chapter" class="form-control basic tagging ">
                        <option value="" selected disabled>Choose Chapter</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="lesson_type">Lesson Type</label>
                    <select required class="form-control" id="lesson_type" name="lesson_type" id="lesson_type" onchange="changeLessonType()">
                        <option selected value="Video">Video</option>
                        <option value="Document">Document</option>
                        <option value="Video + Document">Video + Document</option>


                    </select>
                </div>


            </div>
            <div class="form-row mb-4" id="video_upload">

                <div class="form-group col-md-6">
                    <label for="video_platform">Video Platform</label>
                    <select required class="form-control" name="video_platform" id="videoType" onchange="changeVideoType()">
                        <option value="Live">YouTube Live</option>
                        <option value="Vimeo">Vimeo</option>
                        <option selected value="Youtube">YouTube</option>

                    </select>

                    <div id="timePicker" style="display: none;">
                        <label for="startTime" class="mt-4"> Enter Start Time Of Live </label>
                        <input class="form-control" type="datetime-local" name="startTime" id="startTime">
                        <br>
                        <label for="live_image">Upload Live Image Here</label>
                        <input type="file" name="live_image" class="form-control" id="live_image">
                    </div>

                </div>


                <div class="form-group col-md-6">
                    <label for="video_link" id="videoLink">Link</label>
                    <input type="text" onchange="loadLesson()" required id="video_link" class="form-control"
                        name="video_link" id="inputEmail4" placeholder="Enter lesson link">
                    <small>Paste Id only | preview appears here</small> 
                    <br>
                    <iframe width="560" id="iframe" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="display: none;">
                    </iframe>
                </div>
            </div>

            <div class="form-group col-md-6">

                <label for="inputEmail4">Is free</label>
                <select class="form-control" name="is_free" id="is_free">
                    <option selected value="0">No</option>
                    <option value="1">Yes</option>

                </select>
            </div>
            

            <div class="form-row mb-4" id="document_upload" style="display: none;">

                <div class="form-group col-md-6">
                    <label for="document_link">Upload Document</label>
                    <input class="form-control" id="document_link" type="file" name="document_link">
                </div>

            </div>



            <br><hr><br>


            <div class="form-row mb-4" id="video_upload">
                <!-- tags selection part -->


                
                <div>
                    <label for="tags">Select Packages To Include</label>
                    <select id="tagsDropdown" name="tags" class="fstdropdown-select" onchange="includeTag(event)">
                        <option value="" selected disabled>Choose Package</option>
                        {% for course_package in  course_packages %}
                            <option value="{{course_package.uid}}">{{course_package.package_title}}</option>
                        {% endfor  %}

                    </select>  
                </div> 

                <div class="table table-striped" style="margin: 1%;">
                    <table class="display">
                        <!-- <thead>
                            <tr><td>Package Name</td></tr>
                            <tr><td>Published Date</td></tr>
                            <tr><td>Action</td></tr>
                        </thead> -->
                        <tbody id="tags">
                            <!-- use for loop to show already selected pacages... -->
                            <!-- <tr><td class="tag">Tag1</td> <td><input type="datetime-local"></td> <td class="delBtn" onclick="deleteTag(event)">❌</td></tr>
                            <tr><td class="tag">Tag2</td> <td><input type="datetime-local"></td> <td class="delBtn" onclick="deleteTag(event)">❌</td></tr>
                            <tr><td class="tag">Tag3</td> <td><input type="datetime-local"></td> <td class="delBtn" onclick="deleteTag(event)">❌</td></tr> -->
                        </tbody>
                    </table>  
                </div>               
            </div>

            <button id="submitFormBtn" type="submit" class="btn btn-primary mt-3">Add Chapter</button>
            <!-- <button id="testBtn" class="btn btn-primary mt-3">Test Code</button> -->
        </form>

    </div>
</div>


<script>
    let tagSection = document.getElementById('tagSection');
    let tagsDropdown = document.getElementById('tagsDropdown');
    let chooseSubject = document.getElementById('chooseSubject');
    let chooseChapters = document.getElementById('chooseChapters');
    function getCookie(name) {
        if (!document.cookie) {
            return null;
        }
        const xsrfCookies = document.cookie.split(';')
        .map(c => c.trim())
        .filter(c => c.startsWith(name + '='));
        if (xsrfCookies.length === 0) {
            return null;
        }
            return decodeURIComponent(xsrfCookies[0].split('=')[1]);
    }
    
    const csrfToken = getCookie('csrftoken');

    // let testBtn = document.getElementById('testBtn');
    // testBtn.addEventListener('click', function (e) {
    //     // getting data of all tags...
    //     let test = document.getElementById('document_link');
    //     console.log(test.value);
    //     const formData = new FormData();
    //     formData.append('document_link', test.files[0]);
    //     formData.append('csrfmiddlewaretoken', csrfToken);
    //     fetch('/api/courses/go-live/', {
    //         method: 'POST',
    //         body: formData,
    //         headers: {
    //             'X-CSRFToken': csrfToken
    //         }
    //     })
    //     .then(response => response.json())
    //     .then(data => {
    //         console.log('da', data)
    //     })
    //     .catch(error => {
    //         console.error('err', error)
    //     })
        
    // });

    // handling form submission using fetch POST method starts here
    let submitFormBtn = document.getElementById('submitFormBtn');
    submitFormBtn.addEventListener('click', function (e) {
        e.preventDefault();
        console.log('Submitting form...');


        // let fileupload = document.getElementById('document_link');
        // async function uploadFile() {
        // let formData = new FormData(); 
        // formData.append("file", fileupload.files[0]);
        // await fetch('/', {
        //     method: "POST", 
        //     body: formData
        // }); 
        // alert('The file has been uploaded successfully.');
        // }

        const formData = new FormData();
        
        let video_platform = document.getElementById('videoType').value;
        // let data = {
        //     'lesson_title' : document.getElementById('lesson_title').value,
        //     'chapter' : document.getElementById('chooseChapters').value,
        //     'lesson_type': document.getElementById('lesson_type').value,
        //     'video_platform': document.getElementById('videoType').value,
        //     'start_time': document.getElementById('startTime').value,
        //     'video': {
        //         'video_link': document.getElementById('video_link').value,
        //     },
        //     'document': {
        //         'document_link': document.getElementById('document_link').value,
        //     },
        //     'live_image': document.getElementById('live_image').value,
        //     'is_free': document.getElementById('is_free').value,
        // };
        

        formData.append('lesson_title', document.getElementById('lesson_title').value);
        formData.append('chapter', document.getElementById('chooseChapters').value);
        formData.append('lesson_type', document.getElementById('lesson_type').value);
        formData.append('video_platform', video_platform);
        formData.append('start_time', document.getElementById('startTime').value);
        formData.append('video', {
            'video_link': document.getElementById('video_link').value,
        });
        formData.append('document', {
            'document_link': document.getElementById('document_link').files[0],
        });
        formData.append('live_image', document.getElementById('live_image').value);
        formData.append('is_free', document.getElementById('is_free').value);


        // getting data of all packages...
        let allTags = document.getElementsByClassName('tag');
        let allPackageDates = document.getElementsByClassName('packageDate');
        let packages = [];
        for (let i = 0; i < allTags.length; i++) {
            packages.push({
                "uid" : allTags[i].id,
                "created_at" : allPackageDates[i].value
            });
            
        };
        // data['packages'] = packages;

        formData.append('packages', packages);

        if (video_platform === 'Live') {
            fetch('/api/courses/go-live/', {
                method: 'POST', // or 'PUT'
                headers: {
                    'X-CSRFToken': csrfToken
                },
                body: formData
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
            });
        } else {
            fetch('/api/courses/lessons/', {
                method: 'POST', // or 'PUT'
                headers: {
                    'X-CSRFToken': csrfToken
                },
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
            });
        }

        console.log(formData);
    });

    // handling form submissions ends here

    // make a fetch call on 'http://13.232.227.45/api/courses/course-packages/' to get all packages using no-cors
    fetch('/api/courses/subjects/', {
        method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
            data.data.forEach((e, i) => {
                let option = document.createElement('option');
                option.text = e.subject_title;
                option.value = e.uid;
                chooseSubject.appendChild(option);
                
            });
    });

    fetch('/api/courses/course-packages/', {
        method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
            console.log('1',data.data);
            data.data.forEach((e, i) => {
                let option = document.createElement('option');
                option.text = e.package_title;
                option.value = e.uid;
                tagsDropdown.appendChild(option);
                
            });
    });
    

    // update options of chooseChapters
    function updateChapters() {
        let selectedSubject = chooseSubject.value;
        fetch('/api/courses/get-chapters/?uid=' + selectedSubject, {
            method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
            data.data.forEach((e, i) => {
                let option = document.createElement('option');
                option.text = e.chapter_title;
                option.value = e.uid;
                chooseChapters.appendChild(option);
            });
        })
    }


    function deleteTag(event) {
        event.currentTarget.parentNode.remove();
    };

    
    function checkTag(tagName) {
        let allTags = document.getElementsByClassName('tag');
        let flag = false;
        for (let i = 0; i < allTags.length; i++) {
            let singleTag = allTags[i];
            if (singleTag.innerHTML === tagName) {
                flag = true;
                break;
            }
            
        }

        return flag;
    }

    function clickTag(event) {
        let tagName = event.target.innerHTML;
        let tagId = event.target.id;
        console.log(tagName, tagId);
    }
    // handleChangePackageDateTime 
    function handleChangePackageDateTime(event) {
        console.log(event.target.value);
    }

    let tags = document.getElementById('tags');
    function includeTag(event, id) {
        let tagName = event.currentTarget.selectedOptions[0].innerText;
        let tagId = event.currentTarget.value;
        if (event.currentTarget.value === "") {
            console.log('nothing selected');
        } else {
           if (checkTag(tagName) === true ) {
               console.log('Tag already exists...');
           } else {
                let tagElement = document.createElement('tr');
                // tagElement.className = "badge badge-dark p-1 m-1 tag";
                let td1 = document.createElement('td');
                td1.className = "tag";
                td1.innerHTML = tagName;
                td1.id = tagId;
                let td2 = document.createElement('td');
                td2.innerHTML = '<input type="datetime-local" class="packageDate" onchange="handleChangePackageDateTime(event)" name='+id+'>';
                let td3 = document.createElement('td');
                td3.innerHTML = '❌';
                td3.className = 'delBtn';
                td3.addEventListener("click", deleteTag);
                tagElement.appendChild(td1);
                tagElement.appendChild(td2);
                tagElement.appendChild(td3);
                tags.appendChild(tagElement);
           }
        }
    }

    function changeVideoType() {
        let videoType = document.getElementById('videoType');
        if (videoType.value == 'Live') {
            document.getElementById('timePicker').style.display = 'block';
            document.getElementById('videoLink').innerText = 'Enter Live Link';
            document.getElementById('startTime').setAttribute('required', 'required');
        } else {
            document.getElementById('timePicker').style.display = 'none';
            document.getElementById('videoLink').innerText = 'Enter Video Link';
        }
    };


    function changeLessonType() {
        var lesson_type = document.getElementById('lesson_type')
        console.log(lesson_type.value)
        if (lesson_type.value == 'Video') {
            document.getElementById('video_upload').style.display = ''
            document.getElementById('document_upload').style.display = 'none'
            document.getElementById('video_link').required = true

        } else if(lesson_type.value == 'Document') {
            document.getElementById('document_link').setAttribute('required', 'required')
            document.getElementById('document_upload').style.display = ''
            document.getElementById('video_upload').style.display = 'none'
            document.getElementById('video_link').required = false
        }else if(lesson_type.value == 'Video + Document'){
            document.getElementById('document_link').setAttribute('required', 'required')
            document.getElementById('document_upload').style.display = ''
            document.getElementById('video_upload').style.display = ''
            document.getElementById('video_link').required = true
        }
    }

    function loadLesson() {
        var element = document.getElementById('video_link').value

        if (element) {
            var url = `https://www.youtube.com/embed/${element}`
            document.getElementById('iframe').style.display = ''
            document.getElementById('iframe').src = url
        }else{
            document.getElementById('iframe').style.display = 'none'
            document.getElementById('iframe').src = ''
        }


    }
</script>


{% endblock %}