{%extends 'base.html'%}

{%block start%}

<!-- <div style="margin-top: 6%; display: flex;">
    <div style="margin: 0 auto;">
        <button class="btn btn-primary" style="font-size: xx-large;">Content</button>
    </div>
    
    <div style="margin: 0 auto;">
        <button class="btn btn-primary" style="font-size: xx-large;">Publish</button>
    </div>
</div> -->


<div style="margin-top: 6%; display: flex;">
    <div style="margin: 0 auto; font-size: xxx-large;">
        All Videos
    </div>
    
    <div style="margin-right: 5px; margin-top: 2px;">
        <a href="{% url 'add_lessons' %}" class="btn btn-primary">Add New</a href="">
    </div>
</div>

<hr>

<div class="col-12" style="margin-top: 2%;">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example3" class="display" style="min-width: 845px" >
                    <thead >
                        <tr>
                            <th>S. No.</th>
                            <th>Lesson Title</th>
                            <th>Lesson Chapter</th>
                            <th>Lesson Type</th>
                            <th>Video Platform</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for lesson in lessons %}

                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td class="chapter">{{lesson.lesson_title}}</td>
                            <td class="subject">{{lesson.chapter.chapter_title}}</td>
                            <td>{{lesson.lesson_type}}</td>
                            <td>{{lesson.video_platform}}</td>
                            <td>{{lesson.created_at}}</td>

                            <td>
                                <div class="dropdown show">
                                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="la la-pencil"></i>
                                    </a>
                                  
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                      <a class="dropdown-item" href="{% url 'update_lesson' lesson.uid%}">Edit</a>
                                      <a class="dropdown-item" href="{% url 'delete_lesson' %}?uid={{lesson.uid}}">Delete</a>
                                      <a href="{% url 'preview_video' lesson.uid%}" class="dropdown-item">View</a>
                                    </div>
                                  </div>
            
                                <!-- <a href="{% url 'update_lesson' lesson.uid%}" id="{{lesson.uid}}" class="btn btn-sm btn-primary editSubject"><i class="la la-pencil"></i></a>
                                <button {% if subject.check_in_package %} disabled  {% else %}  onclick="deleteSubject('{{subject.uid}}')" {% endif %}  class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></button> -->
                            </td>
                        </tr>

                        {% endfor %}

                                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form id="editSubjectForm" method="POST">
            {% csrf_token %}
            <div class="form-group">
                
              <select class="custom-select" aria-label="Default select example" name="subject" id="selectSublect">
                <option selected>Select Subject</option>
                {% for subject_chapter in subject_chapters %}
                <option value="{{subject_chapter.chapter_title}}">{{subject_chapter.chapter_title}}</option>
                {% endfor %}
                
              </select>
              <br>
              <br>

              <label for="chapter_title">Subject Name</label>
              <input type="text" name="chapter_title" class="form-control" id="subjectName" placeholder="">
            </div>
            
            <button id="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    </div>
</div>
</div>


<script>
    // let allSubjects = document.getElementsByClassName('editSubject');
    // for (let i = 0; i < allSubjects.length; i++) {
    //     let sub = allSubjects[i];
    //     sub.addEventListener('click', ()=> {
    //         let editSubjectForm = document.getElementById('editSubjectForm');
    //         let action = location.origin+ '/courses/edit-subject-chapter/' + sub.id + '/';
    //         editSubjectForm.setAttribute('action', action);
    //         let placeholder = document.getElementById('subjectName');
    //         let selectSublect = document.getElementById('selectSublect');
    //         let i = sub.classList[sub.classList.length - 1] - 1;
    //         let chapter = document.getElementsByClassName('chapter')[i];
    //         let subject = document.getElementsByClassName('subject')[i];
    //         placeholder.value = subject.innerHTML;
    //         selectSublect.value = chapter.innerHTML;
    //         console.log(sub.id);

    //         // document.getElementById('submit').addEventListener('click', ()=> {
    //         //     console.log(placeholder.value);
    //         //     let formData = new FormData();
    //         //     formData.append("subject", placeholder.value);
    //         //     fetch(action, {
    //         //         method: POST,
    //         //         body: formData
    //         //     }).then(res => res.json()).then(data => {
    //         //         console.log('--', data);
    //         //     })
    //         // })
    //     })        
    // }
</script>



{%endblock%}