{% extends "base.html" %}
{% block start %}
<div class="container py-5 px-4">

    <div style="margin: 0 auto; font-size: xxx-large;">
        Live Chat
    </div>
    

    <div class="row overflow-hidden" id="people_online">

    </div>

    <div class="row rounded-lg overflow-hidden shadow">
        <!-- Users box-->

        <!-- Chat Box-->
        <div class="col-12 px-0">
            <div class="px-4 py-5 chat-box bg-white" id="chat_ui">


            </div>

            <!-- Typing area -->
            <form action="#" id="messageForm" class="bg-light">
                <div class="input-group">
                    <input type="text" id="message" placeholder="Type a message" aria-describedby="button-addon2"
                        class="form-control rounded-0 border-0 py-4 bg-light">
                    <div class="input-group-append" onclick="sendMessage()">
                        <button id="send-btn" type="submit" class="btn btn-link">
                            <img style="height:30px" src="https://img.icons8.com/ios/452/sent.png"></button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<script>
    const msgForm = document.getElementById('messageForm');
    const firebaseConfig = {
      apiKey: "AIzaSyBU9QQ8-tfQjWBewvOIIw9ruP-01NXaj2g",
      authDomain: "malaviya-acedemy.firebaseapp.com",
      databaseURL : "https://malaviya-acedemy-default-rtdb.firebaseio.com/",
      projectId: "malaviya-acedemy",
      storageBucket: "malaviya-acedemy.appspot.com",
      messagingSenderId: "176187494863",
      appId: "1:176187494863:web:eba4d28c0683c7e96882ba"
    };
    // Initialize Firebase

    firebase.initializeApp(firebaseConfig);
    var db = firebase.database()

    function writeUserData( message) {
        const db = getDatabase();
        set(ref(db, '{{room_id}}/' + userId), {
        username: 'teacher',
        message: message,
    });
    }


    msgForm.addEventListener('submit', function sendMessage(e){
        e.preventDefault();
        const text = msgInput.value;

        if(!text.trim()) return alert('Please type a message'); //no msg submitted
        const msg = {
            name: name,
            text: text
        };
    });

    
    const app = initializeApp(firebaseConfig);
    console.log(app)


    
    const updateMsgs = data =>{
        const {dataName, text} = data.val(); //get name and text
        
        //load messages, display on left if not the user's name. Display on right if it is the user.
        const msg = `<li class="${dataName == name ? "msg my": "msg"}"><span class = "msg-span">
            <i class = "name">${name}: </i>${text}
            </span>
            </li>`
            
        msgScreen.innerHTML += msg; //add the <li> message to the chat window
            
            //auto scroll to bottom
            document.getElementById("chat-window").scrollTop = document.getElementById("chat-window").scrollHeight;
    }
    msgRef.on('child_added', updateMsgs);
    // const app = initializeApp(firebaseConfig);
    // console.log(app)

    // const db = getDatabase(app);

    console.log(db);

 </script>

{% endblock %}