{%extends 'base.html'%}
{% block start %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script> -->


<style type="text/css">
    .bg-1 {
        background: #ECECF8;
    }
</style>

<div style="margin-top: 6%; display: flex;">
    <div style="margin: 0 auto; font-size: xxx-large;">
        Create New Packagess
    </div>
</div>



<div class="card">
    <div class="card-body">
        {% include "utils/alert.html" %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row mb-4">
                <div class="form-group col-md-6">
                    <label for="package_title">Package Name</label>
                    <input type="text" class="form-control" required name="package_title" id="package_title"
                        placeholder="Enter Package Title">
                </div>
                <div class="form-group col-md-6">
                    <label for="package_type"> Package Type</label>
                    <select required id="package_type" name="package_type" class="form-control basic tagging ">
                        <option value="video">Video</option>
                        <option value="text">Test</option>
                    </select>
                </div>
                <div class="form-group col-md-6">

                    <label for="actual_price">Actual Price</label>
                    <input type="number" id="actual_price" name="actual_price" class="form-control" placeholder="Enter Actual Price in Rupees"> 
                    
                </div>

                <div class="form-group col-md-6">
                    <label for="selling_price">Selling Price</label>
                    <input type="number" id="selling_price" name="selling_price" class="form-control" placeholder="Enter Selling Price in Rupees"> 
                </div>


            </div>
            <div class="form-row mb-4" id="video_upload">

                <div class="form-group col-md-6">
                    <div id="expiryTypePicker">
                        <label for="expiryType"> Expiry Type </label>
                        <select name="expiryType" class="form-control" onchange="changeExpiryType(event)">
                            <option selected>Choose Expiry Type</option>
                            <option value="fixed-date">Fixed Date</option>
                            <option value="subscription">Subscription</option>
                        </select>
                    </div>


                    <div id="expiryDateContainer" style="display: none; margin-top: 3%;">
                        <label for="expiryDate">Choose Expiry Date</label>
                        <input type="date" name="expiryDate" class="form-control" id="expiryDate">
                    </div>

                    <div id="subscriptionContainer" style="display: none; margin-top: 3%;">
                        <label for="subscriptionDays">Subscription Period</label>
                        <input type="number" class="form-control" placeholder="Enter Subscription Period (in Days)">
                    </div>

                </div>

               

               
            </div>
            

            <div class="form-row mb-4">
                <div class="form-group col-md-12">
                    <label for="description">Description </label>
                    <textarea id="summernote" name="description" class="form-control" cols="30" rows="5"></textarea>
                </div>
            </div>

            <div class="form-row mb-4" id="document_upload">

                <div class="form-group mb-6">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image_for_web" id="inputGroupFile01">
                        <label class="custom-file-label" for="image_for_web">Choose file For Web</label>
                    </div>
                </div>

                <div class="form-group mb-6">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image_for_app" id="inputGroupFile01">
                        <label class="custom-file-label" for="image_for_app">Choose file For App</label>
                    </div>
                </div>

            </div>

            <button type="submit" id="handleSubmit" class="btn btn-primary mt-3">Create Package</button>
        </form>

    </div>
</div>


<script>
    let expiryDateContainer = document.getElementById('expiryDateContainer');
    let subscriptionContainer = document.getElementById('subscriptionContainer');

    // handle form submission start
    let handleSubmit = document.getElementById('handleSubmit');
    handleSubmit.addEventListener('click', function (event) {
        let data = {
            'package_title' : document.getElementById('inputEmail4').value,
            'package_type' : document.getElementById('subjects').value,
            'actual_price' : document.getElementById('actual_price').value,
            'selling_price' : document.getElementById('selling_price').value,
        }
    });


    // handle form submission end

    function changeExpiryType() {
        if (event.currentTarget.value === 'fixed-date') {
            expiryDateContainer.style.display = 'block';
            subscriptionContainer.style.display = 'none';
        } else if (event.currentTarget.value === 'subscription') {
            subscriptionContainer.style.display = 'block';
            expiryDateContainer.style.display = 'none';
        } else {
            expiryDateContainer.style.display = 'none';
            subscriptionContainer.style.display = 'none';
        }
    }
</script>


<script>
    $(document).ready(function () {
        $('#summernote').summernote();
    });
</script>


{% endblock %}