{%extends 'base.html'%}
{% block start %}

<style type="text/css">
    .bg-1 {
        background: #ECECF8;
    }

    .deleteBtn{
        cursor: pointer;
    }
</style>

<div class="section-header" style="margin-top: 5%;">
    <h1>Edit Lesson</h1>

</div>


    <div class="card" id="contentDiv" style="display: block;">  
        <!-- <div class="card-header">
        <h4>Horizontal Form</h4>
    </div> -->
        <div class="card-body">
            {% include "utils/alert.html" %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row mb-4">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Lesson title</label>
                        <input type="text" class="form-control" required name="lesson_title" value="{{lesson.lesson_title}}"
                            id="lesson_title" placeholder="Enter lesson title">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Subject Chapters</label>
                        <select required id="chooseChapters" name="chapters" class="form-control basic tagging ">
                            {% for subject_chapter in  subject_chapters %}
                            <option {% if lesson.subject_chapters ==  subject_chapter %} selected {% endif %}
                                value="{{subject_chapter.uid}}">{{subject_chapter.chapter_title}}</option>
                            {% endfor  %}
                        </select>
                    </div>

                    <div class="form-group col-md-6">

                        <label for="inputEmail4">Is free</label>
                        <select class="form-control" name="is_free">
                            <option value="0">No</option>
                            <option value="1">Yes</option>

                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        
                        <label for="lesson_type">Lesson Type</label>
                        <select class="form-control" id="lesson_type" name="lesson_type" onchange="changeLessonType()">
                            <option  {% if lesson.lesson_type == 'Video' %} selected {% endif %} value="Video">Video</option>
                            <option  {% if lesson.lesson_type == 'Document' %} selected {% endif %} value="Document">Document</option>
                            <option  {% if lesson.lesson_type == 'Video + Document' %} selected {% endif %} value="Video + Document">Video + Document</option>


                        </select>
                    </div>

                

    </div>

                    <div class="form-row mb-4" id="video_upload">

                        <div class="form-group col-md-6">
                            <label for="video_uploaded_on">Video Platform</label>
                            <select id="videoType" required class="form-control" name="video_uploaded_on">
                                <option {% if lesson.video_uploaded_on == 'Vimeo' %} selected {% endif %} value="Vimeo">Vimeo
                                </option>
                                <option {% if lesson.video_uploaded_on == 'Youtube' %} selected {% endif %} value="Youtube">
                                    Youtube</option>
        
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="video_link">Lesson Link</label>
                            <input value="{{lesson.video.video_link}}" type="text" onchange="loadLesson()" required id="lesson_link" class="form-control"
                                name="video_link" id="video_link" placeholder="Enter lesson title">
                            <small>Paste Id only</small>
                            <br>
                            <iframe width="550" id="iframe" height="215" src="">
                            </iframe>
                        </div>
                    </div>

                    <div class="form-row mb-4" id="document_upload" style="display: none;">

                        <div class="form-group col-md-6">
                            <label>Upload New Document</label>
                            <input class="form-control" id="document_link" type="file" name="document">
                            <br>
                            <a href="/{{lesson.document.url}}">View Uploaded Document</a>
                        </div>

                    </div>



                </div>
            </form>

    </div>

    <div class="card" id="publishDiv" style="display: block;">
        <!-- <div class="card-header">
        <h4>Horizontal Form</h4>    
      </div> -->
        <div class="card-body">
            {% include "utils/alert.html" %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row mb-4">
                  
                    <div class="form-group col-md-6">
    
                        <label for="inputEmail4">Is free</label>
                        <select class="form-control" id="is_free" name="is_free">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
    
                        </select>
                    </div>
                </div>
    
    
                <div class="form-row mb-4" id="video_upload">
                    <!-- tags selection part -->
    
    
                    
                    <div>
                        <div>                    
                            <div class="select-box">
                                <div class="options-container">
                                    {% for course_package in  all_course_packages %}
                                        <div class="option" onclick="includeTag(event)">
                                            <input type="checkbox" name="category" id="{{course_package.uid}}">
                                            <label for="{{course_package.uid}}">{{course_package.package_title}}</label>
                                        </div>
                                    {% endfor  %}
                        
                                  
                                </div>
                        
                                <div class="selected">
                                  Choose Packages to include
                                </div>
                        
                                <div class="search-box">
                                    <input type="text" placeholder="Start Typing..." />
                                </div>
                            </div>
                        </div> 
                    </div> 
    
                    <br>
                    <!-- <p>{{lesson.packages}}</p> -->
                    <div class="table table-striped" style="margin: 1%;">
                        <table class="display">
                            <!-- <thead>
                                <tr><td>Package Name</td></tr>
                                <tr><td>Published Date</td></tr>
                                <tr><td>Action</td></tr>
                            </thead> -->
                            <tbody id="tags">
                            
                                {% for course_package_lesson in course_package_lessons %}
                                
                            <tr><td class="tag">
                                 {{course_package_lesson.course_package_chapter.course_package_subject.course_package.package_title}}
                            </td><td>
                            <input type="datetime-local" {% if course_package_lesson.added_at  %} value="{{course_package_lesson.added_at}}" {% else %} value="{{course_package_lesson.created_at}}" {% endif %}>
                            </td>
                            <td class="delBtn" onclick="deleteTag2(event)">❌</td></tr>
                          
                                {% endfor  %}
                            </tbody>
                        </table>  
                    </div>               
                </div>
    
    
                
    
               <button type="submit" id="updateBtn" class="btn btn-primary mt-3">Update Published Details</button>
            </form>
    
        </div>
    </div>

<script>
    // function to parse date from 1632058848038 to 2018-12-31T00:00:00.000Z
    function parseDate(date) {
        var date = new Date(date);
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hour = date.getHours();
        var min = date.getMinutes();
        var sec = date.getSeconds();
        var dateString = year + "-" + month + "-" + day + "T" + hour + ":" + min + ":" + sec + "Z";
        return dateString;
        
    }


    let iframe = document.getElementById('iframe');
    let lesson_link = document.getElementById('lesson_link');
    lesson_link.onchange = loadLesson;
    if (lesson_link.value !== '') {
        loadLesson();
    }

    let tagSection = document.getElementById('tagSection');
    let tagsDropdown = document.getElementById('tagsDropdown');

    // script for package include dropdown starts

    var selected = document.querySelector(".selected");
    const optionsContainer = document.querySelector(".options-container");
    const searchBox = document.querySelector(".search-box input");

    const optionsList = document.querySelectorAll(".option");

    selected.addEventListener("click", () => {
    optionsContainer.classList.toggle("active");

    searchBox.value = "";
    filterList("");

    if (optionsContainer.classList.contains("active")) {
        searchBox.focus();
    }
    });

    optionsList.forEach(o => {
    o.addEventListener("click", (e) => {
        // selected.innerHTML = o.querySelector("label").innerHTML;
        // optionsContainer.classList.remove("active");
        let checkbox = e.target.firstElementChild;
        if (checkbox === null) {
        return;
        }

        if (checkbox.checked === false) {
        checkbox.checked = true;
        } else {
        checkbox.checked = false;
        };

        console.log(selectedItems());

    });
    });

    searchBox.addEventListener("keyup", function(e) {
    filterList(e.target.value);
    });

    const filterList = searchTerm => {
    searchTerm = searchTerm.toLowerCase();
    optionsList.forEach(option => {
        let label = option.firstElementChild.nextElementSibling.innerText.toLowerCase();
        if (label.indexOf(searchTerm) != -1) {
        option.style.display = "block";
        } else {
        option.style.display = "none";
        }
    });
    };

    function selectedItems() {
    var selectedArray = [];
    var selectedCheckboxes = document.querySelectorAll(".option input[type='checkbox']"); 
    var correspondingLabels = document.querySelectorAll(".option label");
    for (var i = 0; i < selectedCheckboxes.length; i++) {
        if (selectedCheckboxes[i].checked) {
        selectedArray.push([selectedCheckboxes[i].id, correspondingLabels[i].innerText]);
        }
    };
    return selectedArray;
    };

    function includeTag(event) {
        const packageUid = event.target.firstElementChild.id;
        const packageName = event.target.querySelector("label").innerText;

        if (checkTag(packageName) === true ) {
            console.log('Tag already exists...');
            deleteTag(packageUid);
        } else {
            let tagElement = document.createElement('tr');
            // tagElement.className = "badge badge-dark p-1 m-1 tag";
            let td1 = document.createElement('td');
            td1.className = "tag";
            td1.innerHTML = packageName;
            td1.id = packageUid;
            let td2 = document.createElement('td');
            td2.innerHTML = '<input type="datetime-local" class="packageDate" onchange="handleChangePackageDateTime(event)" name='+packageUid+'>';
            tagElement.appendChild(td1);
            tagElement.appendChild(td2);
            tags.appendChild(tagElement);
        }
    

    };

    function deleteTag2(event){
        event.target.parentElement.remove();
    }


    function deleteTag(packageUid) {
        let allSelectedPackages = document.querySelectorAll(".tag");
        for (var i = 0; i < allSelectedPackages.length; i++) {
            if (allSelectedPackages[i].id === packageUid) {
                allSelectedPackages[i].parentElement.remove();
            }
        }
    };
    
    function checkTag(tagName) {
        let allTags = document.getElementsByClassName('tag');
        let flag = false;
        for (let i = 0; i < allTags.length; i++) {
            let singleTag = allTags[i];
            if (singleTag.innerHTML === tagName) {
                flag = true;
                break;
            }
            
        }

        return flag;
    }

    function clickTag(event) {
        let tagName = event.target.innerHTML;
        let tagId = event.target.id;
        console.log(tagName, tagId);
    }

    function handleChangePackageDateTime(event) {
        console.log(event.target.value);
    }
// script for package include dropdown ends
    

    function changeVideoType() {
        let videoType = document.getElementById('videoType');
        if (videoType.value == 'Live') {
            document.getElementById('timePicker').style.display = 'block';
        } else {
            document.getElementById('timePicker').style.display = 'none';
        }
    };


    function changeLessonType() {
        var element = document.getElementById('lesson_type')
        console.log(element.value)
        if (element.value == 'Video') {
            document.getElementById('video_upload').style.display = ''
            document.getElementById('document_upload').style.display = 'none'
            document.getElementById('document_link').required = false
            document.getElementById('lesson_link').required = true

        } else if(element.value == 'Document') {
            document.getElementById('document_upload').style.display = ''
            document.getElementById('video_upload').style.display = 'none'
            document.getElementById('document_link').required = true
            document.getElementById('lesson_link').required = false
        }else if(element.value == 'Video + Document'){
            document.getElementById('document_upload').style.display = ''
            document.getElementById('video_upload').style.display = ''
            document.getElementById('document_link').required = true
            document.getElementById('lesson_link').required = true
        }
    }

    changeLessonType();

    function loadLesson() {
        var element = document.getElementById('lesson_link').value

        if (element) {
            var url = `https://www.youtube.com/embed/${element}`
            document.getElementById('iframe').style.display = ''
            document.getElementById('iframe').src = url
        }else{
            document.getElementById('iframe').style.display = 'none'
            document.getElementById('iframe').src = ''
        }


    }
    

    function getCookie(name) {
        if (!document.cookie) {
            return null;
        }
        const xsrfCookies = document.cookie.split(';')
        .map(c => c.trim())
        .filter(c => c.startsWith(name + '='));
        if (xsrfCookies.length === 0) {
            return null;
        }
            return decodeURIComponent(xsrfCookies[0].split('=')[1]);
    }
    
    const csrfToken = getCookie('csrftoken');

    let docReUploaded = false;
    document.getElementById('document_link').onchange = function() {
        docReUploaded = true;
        console.log('doc uploaded changed');
    }

    async function uploadoc() {
        console.log('Uploading file...');
        // document.getElementById('loader').style.display = 'block';
        const formData = new FormData();
        formData.append('document_file', document.getElementById('document_link').files[0]);
        let response = await fetch('/api/courses/document/', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': csrfToken
            }
        });
        const json = await response.json();
        console.log(json);
        return json.uid;

        

    }

    
    let isFormValid = false;
    function formValidation() {
        if (document.getElementById('lesson_title').value === '') {
            alert('Please enter a title for the lesson');
        }  else if (document.getElementById('chooseChapters').value === '') {
            alert('Please select at least one chapter');     
        } else if (document.getElementById('lesson_type').value === 'Video') {
            if (document.getElementById('lesson_link').value === '') {
                alert('Please Enter Video Link ');
            }
        } else if (document.getElementById('lesson_type').value === 'Document') { 
            if (document.getElementById('document_link').files.length === 0 && docReUploaded === true) {
                alert('Please select a document to upload');
            } else{
                isFormValid = true;
            }

        } else if (document.getElementById('lesson_type').value === 'Video + Document') {
            if (document.getElementById('lesson_link').value === '') {
                alert('Please Enter Video Link ');
            }

            else if (document.getElementById('document_link').files.length === 0  && docReUploaded === true) {
                alert('Please select a document to upload');
            } else {
                isFormValid = true;
            }

        } else {
            isFormValid = true;
            console.log('form validated');
        };

        return isFormValid;
    };
    
    const submitForm = async (e) => {
        e.preventDefault();

        if (formValidation() === true) {
            let video_platform = document.getElementById('videoType').value;
            let data = {
                'uid': '{{lesson.uid}}',
                'lesson_title' : document.getElementById('lesson_title').value,
                // 'chapter' : document.getElementById('chooseChapters').value,
                // 'video_platform' : video_platform,
                // 'lesson_type' : document.getElementById('lesson_type').value,
                // 'is_free' : document.getElementById('is_free').value,
                'video': {
                    'video_link': document.getElementById('lesson_link').value,
                }
            };

            // document upload
            if (docReUploaded === true) {
                let docLink = await uploadoc();
                console.log('...', docLink);
                data['document'] = docLink;
            } else {
                data['document'] = '{{lesson.document.uid}}'
            }

            
            
        
            // getting data of all packages...
            let allTags = document.getElementsByClassName('tag');
            let allPackageDates = document.getElementsByClassName('packageDate');
            let packages = [];
            for (let i = 0; i < allTags.length; i++) {
                if (allPackageDates[i].value === '') {
                    packages.push({
                        "uid" : allTags[i].id,
                        "created_at" : parseDate(Date.now()),
                    });
                } else {
                    packages.push({
                        "uid" : allTags[i].id,
                        "created_at" : allPackageDates[i].value
                    });
                }
                
                
            };
            data['packages'] = packages;

            console.log(data);

            if (video_platform === 'Live') {

                let res = await axios.patch('/api/courses/go-live/', data, {
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    }
                });
                console.log(res);            

            } else {
                let res = await axios.patch('/api/courses/lessons/', data, {
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    }
                });
                console.log(res);
            }
        }

        

        // log all data of form data
        
    };

    const updateBtn = document.getElementById('updateBtn');
    updateBtn.addEventListener('click', submitForm)


</script>



{% endblock %}