{% extends 'EasyHireApp/administrator/base.html' %}
{% block content %}
{% load static %}

<div class="row" style="padding:1em;">
    <div class="col s12" style="margin-top:1%;">
      <h5><blockquote>Institutes Lists
        <a class="btn blue modal-trigger right" href="#modal-add-new-institute">Add New Institute</a>
      </blockquote></h5>
    </div>
    <div class="col s12">
      <br>
      <table id="table-group-discussion-details">
          <thead>
              <tr>
                  <th>Institutes</th>
                  <th>Status</th>
                  <th>Total Applicants</th>
                  <th>Edit</th>    
          </tr>
          </thead>
          <tbody>
            {% for institutes in institutes_objs %}
              <tr>
                  <td>{{ institutes.name }}</td>
                  <td>
                  {% if institutes.is_activated %}
                    <span>Active</span>
                  {% else %}
                    <span>Inactive</span>
                  {% endif %}
                </td>
                <td>
                  {% for no_applicant in no_applicants %}
                    {% if no_applicant.institutes == institutes.name %}
                      <span>{{ no_applicant.count }}</span>
                    {% endif %}
                  {% endfor %}
                </td>
                  <td><a class="green-text modal-trigger" href="#modal-applicant-institute-{{ institutes }}"><i class="material-icons">edit</i></a></td>
              </tr>
              <div id="modal-applicant-institute-{{ institutes }}" class="modal" style="border:0.1em solid black;">
                <div class="modal-content row s12">
                  <div class="col s12">
                      <h6>Applicants at {{ institutes.name }}<sup>*</sup></h6>
                      <ul class="collection">
                        {% for applicant in applicant_objs %}
                          {% if applicant.college_name == institutes %}
                            <li class="collection-item"><b>Name:</b> <u>{{ applicant.name }}</u> <b>|</b>  <b>Stream:</b> <u>{{ applicant.stream}}</u> <b>|</b> <b>Percentage:</b> <u>{{ applicant.percentage }}</u> <b>|</b> <b>Year of Passing:</b> <u>{{ applicant.year_of_passing }}</u> </li>
                          {% endif%}
                        {% endfor %}
                      </ul>
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="javascript:void(0)" class="btn grey modal-close left">Close</a>
                  {% if institutes.is_activated %}
                    <a class="btn red safe modal-close" id="btn-deactivate" onclick="deactivate_institute('{{ institutes }}')">Deactivate</a>
                  {% else %}
                    <a class="btn blue safe modal-close" id="btn-activate" onclick="activate_institute('{{ institutes }}')">Activate</a>
                  {%endif%}
                </div>
            </div>
            {% endfor %}
          </tbody>
        </table>      
    </div>
</div>

<div id="modal-add-new-institute" class="modal" style="border:0.1em solid black;">
    <div class="modal-content row s12">
      <div class="input-field col s12">
          <h6>Institute Name<sup>*</sup></h6>
            <input id="input-institute-name" type="text" class="validate">
        </div>
    </div>
    <div class="modal-footer">
      <a href="javascript:void(0)" class="btn grey modal-close">Cancel</a>
      <a class="btn blue safe modal-close" id="btn-add-institute">Add</a>
    </div>
</div>
{% endblock %}
