{% extends 'EasyHireApp/administrator/base.html' %}
{% block content %}
{% load static %}

<div class="row">
    <h5>
        <blockquote class="row">
            Download Database
        </blockquote>
    </h5>
</div>

<!-- <div class="row" style="padding:1em;">
    <a class="btn" onclick="open_modal('modal-download-applicant')">Download Applicant Data Excel</a>
    <a class="btn" onclick="open_modal('modal-download-quiz')">Download Quiz Data Excel</a>
    <a class="btn" onclick="open_modal('modal-download-topic')">Download Topic Data Excel</a>
</div>-->

<div class="row" style="padding:1em;">
    <div class="col s6" style="padding:1em">
        <a class="btn" onclick="open_modal('modal-download-applicant')">Download Applicant Data Excel</a>
    </div>
    <div class="col s6" style="padding:1em">
        <a class="btn" onclick="open_modal('modal-download-quiz')">Download Quiz Data Excel</a>
    </div>
    <div class="col s6" style="padding:1em">
        <a class="btn" onclick="open_modal('modal-download-topic')">Download Topic Data Excel</a>
    </div>
    <div class="col s6" style="padding:1em">
        <a class="btn" onclick="open_modal('modal-download-consolidated-videos')">Download Consolidated Videos</a>
    </div>
</div>


<div id="modal-download-applicant" class="modal">
    <div class="modal-content">
        <div class="row">
            <h6>Download Applicant Profiles</h6>

            <div class="col s12">
              <div class="row">
                  <i class="material-icons">help</i> Optional start and end date signup date for applicant.
                  <div class="col s12">
                      <div class="row">
                          <div class="col s6">
                              <p>Start Date<sup>optional</sup></p>
                              <input type="date" name="start-date" id="input-start-date-1">
                          </div>
                          <div class="col s6">
                              <p>End Date<sup>optional</sup></p>
                              <input type="date" name="end-date" id="input-end-date-1">
                          </div>
                      </div>
                  </div>
              </div>
            </div>
           <a href="javascript:void(0)" class="waves-effect waves-green btn blue white-text right" onclick="download_database('1')">Download Excel</a>
        </div>
    </div>
</div>


<div id="modal-download-quiz" class="modal">
    <div class="modal-content">
        <div class="row">
            <h6>Download Applicant Profiles</h6>

            <div class="col s12">
              <div class="row">
                  <i class="material-icons">help</i> Optional start and end quiz creation date
                  <div class="col s12">
                      <div class="row">
                          <div class="col s6">
                              <p>Start Date<sup>optional</sup></p>
                              <input type="date" name="start-date" id="input-start-date-2">
                          </div>
                          <div class="col s6">
                              <p>End Date<sup>optional</sup></p>
                              <input type="date" name="end-date" id="input-end-date-2">
                          </div>
                      </div>
                  </div>
              </div>
            </div>
           <a href="javascript:void(0)" class="waves-effect waves-green btn blue white-text right" onclick="download_database('2')">Download Excel</a>
        </div>
    </div>
</div>

<div id="modal-download-topic" class="modal">
    <div class="modal-content">
        <div class="row">
            <h6>Download Topics</h6>

            <div class="col s12" id="div-select-date-for-download">
              <div class="row">
                  <i class="material-icons">help</i> Optional start and end date for topic creation date
                  <div class="col s12">
                      <div class="row">
                          <div class="col s6">
                              <p>Start Date<sup>optional</sup></p>
                              <input type="date" name="start-date" id="input-start-date-3">
                          </div>
                          <div class="col s6">
                              <p>End Date<sup>optional</sup></p>
                              <input type="date" name="end-date" id="input-end-date-3">
                          </div>
                      </div>
                  </div>
              </div>
            </div>
           <a href="javascript:void(0)" class="waves-effect waves-green btn blue white-text right" onclick="download_database('3')">Download Excel</a>
        </div>
    </div>
</div>



<div id="modal-download-consolidated-videos" class="modal">
    <div class="modal-content">
        <div class="row">
            <h6>Download consolidated videos</h6>

            <div class="col s12">
              <div class="row">
                  <i class="material-icons">help</i> Optional start and end date for videos.
                  <div class="col s12">
                      <div class="row">
                          <div class="col s6">
                              <p>Start Date<sup>optional</sup></p>
                              <input type="date" name="start-date" id="input-start-date-4">
                          </div>
                          <div class="col s6">
                              <p>End Date<sup>optional</sup></p>
                              <input type="date" name="end-date" id="input-end-date-4">
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn grey white-text modal-close">Close</a>
        <a href="javascript:void(0)" class="waves-effect waves-green btn blue white-text" onclick="download_database('4')">Download</a>
    </div>
</div>


<script>
    function open_modal(modal_id){
        $('#'+modal_id).modal('open');
        $('#'+modal_id).removeAttr('tabindex');
    }
</script>

{% endblock %}

