{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <title>EasyHire | Administrator Console</title>

    <link href="{% static 'EasyHireApp/admin/img/favicon.ico' %}" rel="icon">

    <link href="{% static 'EasyHireApp/admin/css/flag-icon.min.css' %}" rel="stylesheet">

    <link href="{% static 'EasyHireApp/admin/css/materialize.min.css' %}" type="text/css" rel="stylesheet" 
    media="screen,projection"/>

    <link href="{% static 'EasyHireApp/admin/css/style.css' %}" type="text/css" rel="stylesheet" 
    media="screen,projection"/>

    <link href="{% static 'EasyHireApp/admin/css/material_icons.css' %}" type="text/css" rel="stylesheet" media="screen,projection">

    <link href="{% static 'EasyHireApp/admin/css/select2.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">

    <link href="{% static 'EasyHireApp/admin/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'EasyHireApp/admin/js/jquery-3.3.1.min.js' %}"></script>

    <script src="/static/EasyHireApp/ckeditor/ckeditor.js"></script>

</head>
<body>

      {% csrf_token %}
      <div class="navbar-fixed">
        <nav class="navbar">
          <div class="nav-wrapper gradient-45deg-orange-dark-red gradient-shadow">
            <a href="javascript:void(0)" data-target="sidenav-left" 
            class="sidenav-trigger">
              <i class="material-icons black-text">menu</i>
            </a>
            <ul id="nav-mobile" class="right">
              <li>
                <a href="javascript:void(0)" class="dropdown-trigger" data-target='profile-dropdown' id="btn-profile-dropdown">
                  <i class="left material-icons">person</i> {{ request.user.name }}
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <!-- Dropdown Structure -->
      <ul id='profile-dropdown' class='dropdown-content'>
        <li><a href="/logout" class="black-text">Logout <i class="material-icons purple-text text-darken-4">logout</i></a></li>
      </ul>

      <ul id="sidenav-left" class="sidenav sidenav-fixed white">

        <li>
          <div style="position: relative; padding:0.45em; margin-bottom: 8px;font-size:19px;" 
          class="center red darken-4 gradient-shadow">
            <a href="/" class="white-text">Macleods | EasyHire</a>
          </div>
        </li>
        {% if request.user.is_authenticated %}
              {% if request.user.role == "2" %}
              <ul class="collapsible">
                <li>
                  <a href="/administrator/manage-applicants/" class="collapsible-header">
                    <i class="material-icons red-text text-darken-4">group</i> Applicants
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" class="collapsible-header"><i class="material-icons red-text text-darken-4">assignment</i> Quiz</a>
                  <div class="collapsible-body">
                    <ul>
                      <li>
                        <a href="/manage-quiz/">
                          <i class="material-icons red-text text-darken-4">assignment_ind</i> Quiz Configuration
                        </a>
                      </li>
                      <li>
                        <a href="/manage-quiz/topics/">
                          <i class="material-icons red-text text-darken-4">description</i> Topic
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="javascript:void(0)" class="collapsible-header"><i class="material-icons red-text text-darken-4">data_usage</i> Master Database</a>
                  <div class="collapsible-body">
                    <ul>
                      <li>
                        <a href="/master-list/departments">
                          <i class="material-icons red-text text-darken-4">school</i> Departments
                        </a>
                      </li>
                      <li>
                        <a href="/master-list/events">
                          <i class="material-icons red-text text-darken-4">event</i> Events
                        </a>
                      </li>
                      <!-- <li>
                        <a href="/master-list/institutes">
                          <i class="material-icons red-text text-darken-4">school</i> Institute
                        </a>
                      </li> -->
                      <li>
                        <a href="/master-list/streams">
                          <i class="material-icons red-text text-darken-4">assignment</i> Streams
                        </a>
                      </li>
                      <li>
                        <a href="/master-list/tags">
                          <i class="material-icons red-text text-darken-4">title</i> Tags
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="/master-list/create-applicants" class="collapsible-header">
                    <i class="material-icons red-text text-darken-4">group_add</i>Create Applicants
                  </a>
                </li>
                <li>
                  <a href="/master-list/create-administrator" class="collapsible-header">
                    <i class="material-icons red-text text-darken-4">person_add</i>Manage Recruiters
                  </a>
                </li>
                <li>
                  <a href="/master-list/edit-applicants" class="collapsible-header">
                    <i class="material-icons red-text text-darken-4">edit</i>Edit Applicants
                  </a>
                </li>
                <li>
                  <a href="/master-list/database" class="collapsible-header">
                    <i class="material-icons red-text text-darken-4">backup</i>Reports
                  </a>
                </li>
              </ul>
          {% else %}
            {% if request.user.role == "3" %}
              <ul class="collapsible">
                {% if request.user.administrator.can_manage_applicants %}
                  <li>
                    <a href="/administrator/manage-applicants/" class="collapsible-header">
                      <i class="material-icons red-text text-darken-4">group</i> Applicants
                    </a>
                  </li>
                {% endif %}
                {% if request.user.administrator.can_manage_quiz %}
                <li>
                  <a href="javascript:void(0)" class="collapsible-header"><i class="material-icons red-text text-darken-4">assignment</i> Quiz</a>
                  <div class="collapsible-body">
                    <ul>
                      <li>
                        <a href="/manage-quiz/">
                          <i class="material-icons red-text text-darken-4">assignment_ind</i> Quiz Configuration
                        </a>
                      </li>
                      <li>
                        <a href="/manage-quiz/topics/">
                          <i class="material-icons red-text text-darken-4">description</i> Topic
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                {% endif %}
                {% if request.user.administrator.can_manage_database %}
                <li>
                  <a href="javascript:void(0)" class="collapsible-header"><i class="material-icons red-text text-darken-4">data_usage</i> Master Database</a>
                  <div class="collapsible-body">
                    <ul>
                      <li>
                        <a href="/master-list/departments">
                          <i class="material-icons red-text text-darken-4">school</i> Departments
                        </a>
                      </li>
                      <li>
                        <a href="/master-list/events">
                          <i class="material-icons red-text text-darken-4">event</i> Events
                        </a>
                      </li>
                      <li>
                        <a href="/master-list/streams">
                          <i class="material-icons red-text text-darken-4">assignment</i> Streams
                        </a>
                      </li>
                      <li>
                        <a href="/master-list/tags">
                          <i class="material-icons red-text text-darken-4">title</i> Tags
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                {% endif %}
                {% if request.user.administrator.can_create_applicants %}
                <li>
                  <a href="/master-list/create-applicants" class="collapsible-header">
                    <i class="material-icons red-text text-darken-4">group_add</i>Create Applicants
                  </a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
          {% endif %}
        {% endif %}
      </ul>
      <div id="div-content-container">
        {% block content %}
        {% endblock %}         
      </div>
  <script type="text/javascript">
    var isMobile = /iPhone|Android/i.test(navigator.userAgent);
    if (isMobile) {
        if (window.matchMedia("(orientation: landscape)").matches) {
          alert("Please use potrait mode. Thank you.")
          window.location = "/"
      }
    } 
  </script>
  <script type="text/javascript" src="{% static 'EasyHireApp/admin/js/materialize.min.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'EasyHireApp/admin/js/jquery.dataTables.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'EasyHireApp/admin/js/select2.min.js' %}"></script>

  <script src="{% static 'EasyHireApp/admin/js/init.js' %}"></script>

  <script type="text/javascript">

    function adjustStyle(width) {
      width = parseInt(width);
      if (width < 994){
        $("#div-content-container").attr("style","margin-left:0px;");
      } else {
        $("#div-content-container").attr("style","margin-left:300px;");
      }
    }
    $(function() {
      adjustStyle($(this).width());
      $(window).resize(function() {
        adjustStyle($(this).width());
      });
    });

  </script>
</body>
</html>
