{% extends 'EasyHireApp/quiz/base.html' %}
{% block content %}
{% load static %}


<div class="row" style="padding:1em;">

	<div class="col s12">
		<a class="btn grey white-text" href="/manage-quiz/"><i class="material-icons inline-icon">arrow_back</i>
			Back</a>
		<a class="btn green white-text save-quiz-config right  {% if not quiz_obj.is_editable %} disabled {% endif %}">
			<i class="material-icons inline-icon">save</i> Save
		</a>
	</div>
	<div class="col s12 m4 l4">
		<h6>
			<blockquote>Quiz Title <sup>*</sup> </blockquote>
		</h6>
		<div class="divider"></div>
		<div class="input-field col s12 m4 l4">
			<input type="text" name="quiz-config-title" id="quiz-config-title" value="{{ quiz_obj.title }}"
				{% if not quiz_obj.is_editable %}
					readonly
				{% endif %}>
		</div>


        <div class="input-field col s12 m4 l4 offset-m4 offset-l4 row">
            <spane>Quiz Tag</spane>
			<select id="select-quiz-tag">
				<option val="-1"
                {% if quiz_obj.tag is None %}
                    selected
                {% endif %}
                >None</option>
				{% for tag in quiz_tag_objs %}
					<option value="{{tag.pk}}"
                    {% if quiz_obj.tag == tag %}
                        selected
                    {% endif %}
                    >{{tag.title}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="input-field col s12 m4 l4" style="display:none;">
			{% if quiz_obj.include_profiler %}
			<p>
				<label>
					<input type="checkbox" id="checkbox-include-personality-profiler" checked />
					<span class="black-text">Include Personality Profiler</span>
				</label>
			</p>
			{% else %}
			<p>
				<label>
					<input type="checkbox" id="checkbox-include-personality-profiler" />
					<span class="black-text">Include Personality Profiler</span>
				</label>
			</p>
			{% endif %}
		</div>
	</div>

    <div class="input-field row col s12 m6 l6 offset-m2 offset-l2">
        <div class="col m8" style="padding-top: 0.3em">
        <select id="select-copy-quiz">
            <option val="" disabled>Select source quiz</option>
            {% for quiz_obj in other_quiz_objs %}
                <option value="{{quiz_obj.pk}}">{{quiz_obj.title}}</option>
            {% endfor %}
        </select>
        </div>
        <div class="col m4">
        <a class="btn blue safe modal-trigger {% if not quiz_obj.is_editable %} disabled {% endif %}" href="#modal-copy-quiz" id="btn-copy-quiz">Copy Quiz</a>
        </div>
        <div id="modal-copy-quiz" class="modal"
                style="border:0.1em solid black;">
                <div class="modal-content">
                    <div class="row">
                        <h6>Copying from a quiz will replace all data of current quiz with the selected quiz. Do you want to copy?</h6>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" class="btn one modal-close">Cancel</a>
                    <a class="btn safe modal-close" id="btn-copy-quiz-function" onclick="copy_quiz_content('{{quiz_obj.pk}}')">Copy</a>
                </div>
        </div>
    </div>
    <div class="col s12">
        <div class="col s12 m4 l4">
            <p>
				<label>
					<input type="checkbox" id="checkbox-sectional-timer" {% if quiz_obj.is_sectional_timed %} checked {% endif %}/>
					<span class="black-text">Quiz has sectional timer</span>
				</label>
			</p>
        </div>
        <div class="col s12 m4 l4">
            <p>
                <label for="quiz-buffer-time">Buffer time (mins):</label>
                <input id="quiz-buffer-time" type="number" placeholder="Buffer time" min="0" max="30" value="{{ quiz_obj.buffer_time }}">
            </p>
        </div>
    </div>

	<!-- 	<div class="col s12">
	  	<h6>
	  		<blockquote>No of questions and duration<sup>*</sup> </blockquote> 
	  	</h6>
        <div class="divider"></div>
        <br>
		<div class="input-field col s12 m3 l3">
			<input type="number" name="quiz-config-no-questions" id="quiz-config-no-questions" value="{{ quiz_obj.no_questions }}">
			<label for='quiz-config-no-questions'>No of questions</label>
		</div>
		<div class="input-field col s12 m3 l3">
			<input type="number" name="quiz-config-duration" id="quiz-config-duration" value="{{ quiz_obj.time }}">
			<label for='quiz-config-duration'>Duration(in minutes)</label>
		</div>
	</div> -->


	<div class="col s12" id="div-quiz-section">
		<h6>
			<blockquote>Quiz Sections <sup>*</sup> </blockquote>
		</h6>
		{% if quiz_section_objs %}
		<table>
			<thead>
				<tr>
					<th>Topic</th>
					<th>No of questions</th>
					<th>Section Time</th>
					<th>Weightage (100%)</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for quiz_section_obj in quiz_section_objs %}
				<tr>
					<td>{{ quiz_section_obj.topic.name }}</td>
					<td>{{ quiz_section_obj.no_questions }}</td>
					<td>{{ quiz_section_obj.time }} mins</td>
					<td>{{ quiz_section_obj.weightage }} %</td>
					{% if quiz_obj.is_editable %}
					<td><a class="blue-text text-darken-4" href="#" onclick="load_edit_modal(
							'{{quiz_section_obj.is_quiz_section_static}}', 
							'{{quiz_section_obj.topic.name}}', 
							'{{quiz_section_obj.no_questions}}', 
							'{{quiz_section_obj.easy_questions}}', 
							'{{quiz_section_obj.medium_questions}}', 
							'{{quiz_section_obj.hard_questions}}', 
							'{{quiz_section_obj.time}}',
							'{{quiz_section_obj.weightage}}', 
							'{{quiz_section_obj.topic.pk}}'
						)">
							<i class="material-icons inline-icon">edit</i></a></td>
					{% else %}
					<td>
					
					    <a class="blue-text text-darken-4" href="#" onclick="load_edit_modal(
                                                        '{{quiz_section_obj.is_quiz_section_static}}',
                                                        '{{quiz_section_obj.topic.name}}',
                                                        '{{quiz_section_obj.no_questions}}',
                                                        '{{quiz_section_obj.easy_questions}}',
                                                        '{{quiz_section_obj.medium_questions}}',
                                                        '{{quiz_section_obj.hard_questions}}',
                                                        '{{quiz_section_obj.time}}',
                                                        '{{quiz_section_obj.weightage}}',
                                                        '{{quiz_section_obj.topic.pk}}'
                                                )">
	                                    <i class="material-icons grey-text tooltipped" data-position="bottom" data-tooltip="Cannot edit quiz section from an ongoing quiz">edit</i>
                                        </a>
					</td>
					{% endif %}
					<!--<td><a class="modal-trigger blue-text text-darken-4"
							href="#modal-remove-quiz-section-{{ quiz_section_obj.pk }}"><i
								class="material-icons inline-icon">delete</i></a></td>-->
					<td>
						{% if quiz_obj.is_editable %}
						<a class="modal-trigger blue-text text-darken-4"
							href="#modal-remove-quiz-section-{{ quiz_section_obj.pk }}">
							<i class="material-icons inline-icon">delete</i>
						</a>
						{% else %}
						<a>
							<i class="material-icons grey-text tooltipped" data-position="bottom" data-tooltip="Cannot delete quiz section from an ongoing quiz">delete</i>
						</a>
						{% endif %}
					</td>
				</tr>

				<div id="modal-remove-quiz-section-{{ quiz_section_obj.pk }}" class="modal"
					style="border:0.1em solid black;">
					<div class="modal-content">
						<div class="row">
							<h6>Are you sure, you want to remove <b>{{ quiz_section_obj.topic.name }}</b> from this
								section?</h6>
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:void(0)" class="btn one modal-close">Cancel</a>
						<a href="/manage-quiz/delete-quiz-section/{{ quiz_section_obj.pk }}" class="btn danger">Remove</a>
					</div>
				</div>

				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p style="padding:1em; border-radius:0.5em;" class="grey lighten-3 black-text center">
			Empty Quiz Section
		</p>
		{% endif %}
		<br>
		<!--<a class="btn blue white-text right" href="#" onclick="load_add_modal()">Add Quiz Section</a>-->
		{% if quiz_obj.is_editable %}
			<a class="btn blue white-text right" href="#" onclick="load_add_modal()">Add Quiz Section</a>
		{% else %}
			<a class="btn grey white-text right tooltipped" data-tooltip="Cannot add quiz section in an ongoing quiz">
				Add Quiz Section
			</a>
		{% endif %}
	</div>

	<div class="col s12" id="div-quiz-config-instruction">
		<h6>
			<blockquote>Quiz Instruction <sup>*</sup> </blockquote>
		</h6>
		<div class="divider"></div>
		<div class="input-field col s12">
			<textarea id="quiz-config-instruction" class="materialize-textarea">
            {{ quiz_obj.instruction }}</textarea>
		</div>
	</div>

	<div class="col s12">
		<br><br>
		<a class="btn grey white-text" href="/manage-quiz/"><i class="material-icons 	inline-icon">arrow_back</i>
			Back</a>
		<a class="btn green white-text save-quiz-config right {% if not quiz_obj.is_editable %} disabled {% endif %}"><i class="material-icons inline-icon">save</i> Save</a>
	</div>

</div>


<!--<div id="modal-add-quiz-section" class="modal" style="border:0.1em solid black;">
    <div class="modal-content">
    	<div class="row">
			<div class="input-field col s12">
				<h6>Topic<sup>*</sup></h6>
		        <select id="select-quiz-section-topic">		          
		        	{% for topic in topics %}
		        		{% if topic in quiz_obj.topics.all %}
		        			<option value="{{ topic.pk }}" selected>{{ topic.name }}</option>
		        		{% else %}
		        			<option value="{{ topic.pk }}">{{ topic.name }}</option>
		        		{% endif %}
		        	{% endfor %}
		        </select>
		    </div>
			<div class="col s4">
				Section Weightage<sup>*</sup>
				<input type="number" name="quiz-section-weightage" 
				id="quiz-section-weightage">
		    </div>    		
			<div class="col s4">
				No of questions<sup>*</sup>
				<input type="number" name="quiz-section-no-questions" id="quiz-section-no-questions">
		    </div>    		
			<div class="col s4">
				Section Time<sup>*</sup> (in minutes)
				<input type="number" name="quiz-section-time" id="quiz-section-time">
		    </div>    		
    	</div>
    </div>
    <div class="modal-footer">
      <a href="javascript:void(0)" class="btn modal-close">Cancel</a>
      <a class="btn safe modal-close" id="btn-add-quiz-section">Add</a>
    </div>
</div>-->

<div id="modal-add-quiz-section" class="modal" style="border:0.1em solid black;">
	<div class="modal-content">
		<div class="input-field col s12">
			<h6>Quiz Section Type<sup>*</sup></h6>
			<div id="div-select-quiz-section-type">
				<select id="select-quiz-section-type" onchange="show_config()">
					<option value="">Choose a quiz section type</option>
					<option value="1">Adaptive Quiz</option>
					<option value="2">Static Quiz</option>
				</select>
			</div>
			<h6 id="quiz-section-type" style="display: none;"></h6>
		</div>
		<div class="row" id="config-type" style="display:none;">
			<div class="input-field col s12">
				<h6>Topic<sup>*</sup></h6>
				<div id="div-select-quiz-section-topic">
					<select id="select-quiz-section-topic" onchange="select_change()">
						{% for topic in topics %}
						{% if topic in quiz_obj.get_topic_list %}
						<!-- <div style="display: none;"> -->
							<option value="{{ topic.pk }}">{{ topic.name }}</option>
						<!-- </div> -->
						{% else %}
						<option value="{{ topic.pk }}" selected>{{ topic.name }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<h6 id="quiz-topic-name" style="display: none;"></h6>
			</div>
			<div class="col s4">
				Section Weightage<sup>*</sup>
				<input type="number" name="quiz-section-weightage" id="quiz-section-weightage">
			</div>
			<div class="col s4" id="div-quiz-section-no-questions" >
				No of questions<sup></sup>
				<input type="number" name="quiz-section-no-questions" oninput="validate_total()"
					id="quiz-section-no-questions">
			</div>
			<div class="col s4">
				Section Time<sup>*</sup> (in minutes)
				<input type="number" name="quiz-section-time" id="quiz-section-time">
			</div>
		</div>
		<div class="row" id="config-type-static" style="display:none;">
			<div class="col s4">
				No. of easy questions<sup>*</sup>
				<input type="number" name="quiz-easy-question" oninput="validate_easy()" id="quiz-easy-question">
			</div>
			<div class="col s4">
				No. of medium questions<sup>*</sup>
				<input type="number" name="quiz-medium-question" oninput="validate_medium()" id="quiz-medium-question">
			</div>
			<div class="col s4">
				No. of hard questions<sup>*</sup>
				<input type="number" name="quiz-hard-question" oninput="validate_hard()" id="quiz-hard-question">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="javascript:void(0)" class="btn modal-close">Cancel</a>
		{% if quiz_obj.is_editable %}  <a class="btn safe modal-close" id="btn-add-quiz-section">Add</a>{% endif %}
	</div>
</div>

<script type="text/javascript">
	CKEDITOR.replace('quiz-config-instruction', {
		height: 300
	});

	existing_topics = {}

	$(document).ready(function () {
		select_change();
		'{% for topic in quiz_obj.get_topic_list %}'
			existing_topics['{{topic.pk}}'] = true;
		'{% endfor %}'
	});

	function topic_already_added(topic_pk){
		return (topic_pk in existing_topics);
	}

	function show_config() {
		value = document.getElementById("select-quiz-section-type").value;
		if (value == "1") {
			document.getElementById("config-type").style.display = "block"
			document.getElementById("config-type-static").style.display = "none"
			document.getElementById("quiz-section-no-questions").readOnly = false;
		}
		else if (value == "2") {
			document.getElementById("config-type").style.display = "block"
			document.getElementById("config-type-static").style.display = "block"
			document.getElementById("quiz-section-no-questions").readOnly = true;
		}
		else {
			document.getElementById("config-type").style.display = "none"
			document.getElementById("config-type-static").style.display = "none"
		}
	}

	topic_questions = {};
	var flag_easy = true, flag_medium = true, flag_hard = true;

	'{% for topic in topics %}'
	topic_questions['{{topic.pk}}'] = {
		'easy': '{{ topic.no_easy_question }}',
		'medium': '{{ topic.no_medium_question }}',
		'hard': '{{ topic.no_hard_question }}',
                'easy_activated' : '{{ topic.no__easy_activated_question }}',
		'medium_activated'  : '{{ topic.no__medium_activated_question }}', 
		'hard_activated' : '{{ topic.no__hard_activated_question }}',
		 get total(){
			 return parseInt(this.easy) + parseInt(this.medium) + parseInt(this.hard)
		 },
		 get total_activated (){
			return parseInt(this.easy_activated) + parseInt(this.medium_activated) + parseInt(this.hard_activated)
		 }
	}
	'{% endfor %}'

	console.log(topic_questions);

	function load_edit_modal(is_quiz_section_static, name, no_questions,
		no_easy_question, no_medium_question, no_hard_question,
		time, weightage, topic_pk) {
		console.log(is_quiz_section_static, name, no_questions, time, weightage, topic_pk)
		
		$('#select-quiz-section-topic').val(topic_pk);
		console.log("quiz section",$('#select-quiz-section-topic').val());
		$('#div-select-quiz-section-topic').hide();
		$('#quiz-topic-name').html(name);
		$('#quiz-topic-name').show();

		select_change();
		
		if (is_quiz_section_static == "True") {
			$('#select-quiz-section-type').val("2");
			$('#quiz-section-type').html("Static Quiz");
			$('#quiz-easy-question').val(no_easy_question);
			$('#quiz-medium-question').val(no_medium_question);
			$('#quiz-hard-question').val(no_hard_question);
		}
		else {
			$('#select-quiz-section-type').val("1");
			$('#quiz-section-type').html("Adaptive Quiz");
		}

		$('#div-select-quiz-section-type').hide();
		$('#quiz-section-type').show();

		$('#quiz-section-no-questions').val(no_questions);
		$('#quiz-section-weightage').val(weightage);
		$('#quiz-section-time').val(time);

		show_config();
		validate_total();

		$('#btn-add-quiz-section').html('Update');
		$('#modal-add-quiz-section').modal('open');
		$('#modal-add-quiz-section').removeAttr('tabindex');
	}

	function load_add_modal(){
		$('#div-select-quiz-section-type').show();
		$('#quiz-section-type').hide();

		$('#div-select-quiz-section-topic').show();
		$('#quiz-topic-name').hide();
	
		select_change();
		show_config();
		validate_total();

		$('#btn-add-quiz-section').html('Add');
		$('#modal-add-quiz-section').modal('open');
		$('#modal-add-quiz-section').removeAttr('tabindex');
	}

	function select_change() {
		topic_pk = $('#select-quiz-section-topic').val();

		$('#config-type-static').html('\
		<div class="col s4">\
			No. of easy questions <br>(max '+ topic_questions[topic_pk]['easy'] + ') Act('+parseInt(topic_questions[topic_pk]['easy_activated']) + ')<sup>*</sup>\
			<input type="number"  value="0" name="quiz-easy-question" oninput="validate_easy()" id="quiz-easy-question">\
		</div>\
		<div class="col s4">\
			No. of medium questions <br>(max '+ topic_questions[topic_pk]['medium'] + ') Act('+parseInt(topic_questions[topic_pk]['medium_activated']) + ') <sup>*</sup>\
			<input type="number"  value="0" name="quiz-medium-question" oninput="validate_medium()" id="quiz-medium-question">\
		</div>\
		<div class="col s4">\
			No. of hard questions <br>(max '+ topic_questions[topic_pk]['hard'] +') Act('+parseInt(topic_questions[topic_pk]['hard_activated']) + ')<sup>*</sup>\
			<input type="number"  value="0" name="quiz-hard-question" oninput="validate_hard()" id="quiz-hard-question">\
		</div>\
		');
		if ($('#section-quiz-section-type').val() == "2"){
			$('#div-quiz-section-no-questions').html('\
			No of questions\
			<input type="number" name="quiz-section-no-questions" oninput="validate_total()"\
			 id="quiz-section-no-questions">\ ');
		}
		else {
			$('#div-quiz-section-no-questions').html(`
			No of questions &nbsp; max (${topic_questions[topic_pk]['total']})
			Act(${topic_questions[topic_pk]['total_activated']})<sup>*</sup>
			<input type="number" name="quiz-section-no-questions" oninput="validate_total()"id="quiz-section-no-questions">`)
			// $('#div-quiz-section-no-questions').html('\
			// No of questions &nbsp; (max\
			// \
			// '+ (parseInt(topic_questions[topic_pk]['hard'])+parseInt(topic_questions[topic_pk]['medium'])+parseInt(topic_questions[topic_pk]['easy'])) + ') Act('+topic_questions[topic_pk]['total_activated'] +')<sup>*</sup>\
			// <input type="number" name="quiz-section-no-questions" oninput="validate_total()"\
			//  id="quiz-section-no-questions">\ ');
		}
		validate_easy();
		validate_medium();
		validate_hard();
	}

	function validate_easy() {
		topic_pk = $('#select-quiz-section-topic').val();
		no_easy_question = parseInt($('#quiz-easy-question').val());
		topic_easy_questions = parseInt(topic_questions[topic_pk]['easy_activated'])
		console.log(no_easy_question);
		if (no_easy_question<0 || no_easy_question > topic_easy_questions || isNaN(no_easy_question)) {
			// console.log(no_easy_question);
			$('#quiz-easy-question').css('border-bottom', '1px solid red');
			flag_easy = false;
		}
		else {
			$('#quiz-easy-question').css('border-bottom', '');
			flag_easy = true;
		}
		$('#quiz-section-no-questions').val(parseInt($('#quiz-easy-question').val()) + parseInt($('#quiz-medium-question').val()) + parseInt($('#quiz-hard-question').val()));
		validate_total();
	}

	function validate_medium() {
		topic_pk = $('#select-quiz-section-topic').val();
		no_medium_question = parseInt($('#quiz-medium-question').val());
		topic_medium_questions = parseInt(topic_questions[topic_pk]['medium_activated'])
		console.log("medium",no_medium_question);
		if (no_medium_question<0 || isNaN(no_medium_question) || no_medium_question > topic_medium_questions) {
			$('#quiz-medium-question').css('border-bottom', '1px solid red');
			flag_medium = false;
		}
		else {
			$('#quiz-medium-question').css('border-bottom', '');
			flag_medium = true;
		}
		$('#quiz-section-no-questions').val(parseInt($('#quiz-easy-question').val()) + parseInt($('#quiz-medium-question').val()) + parseInt($('#quiz-hard-question').val()));
		validate_total();
	}

	function validate_hard() {
		topic_pk = $('#select-quiz-section-topic').val();
		no_hard_question = parseInt($('#quiz-hard-question').val());
		topic_hard_questions = parseInt(topic_questions[topic_pk]['hard_activated'])
		// console.log(no_easy_question+topic_easy);
		if (no_hard_question<0 || no_hard_question > topic_hard_questions || isNaN(no_hard_question)) {
			$('#quiz-hard-question').css('border-bottom', '1px solid red');
			flag_hard = false;
		}
		else {
			$('#quiz-hard-question').css('border-bottom', '');
			flag_hard = true;
		}
		$('#quiz-section-no-questions').val(parseInt($('#quiz-easy-question').val()) + parseInt($('#quiz-medium-question').val()) + parseInt($('#quiz-hard-question').val()));
		validate_total();
	}

	function validate_total() {
		value = document.getElementById("select-quiz-section-type").value;
		topic_pk = $('#select-quiz-section-topic').val();

		if (value == "1") {
			no_questions = parseInt($('#quiz-section-no-questions').val());
			console.log(no_questions);
			total_questions = parseInt(topic_questions[topic_pk]['easy']) + parseInt(topic_questions[topic_pk]['medium']) + parseInt(topic_questions[topic_pk]['hard']);
			if (0 < no_questions && no_questions <= total_questions) {
				$('#btn-add-quiz-section').removeClass('disabled');
				$('#quiz-section-no-questions').css('border-bottom', '');
			}
			else {
				$('#quiz-section-no-questions').css('border-bottom', '1px solid red');
				$('#btn-add-quiz-section').addClass('disabled');
			}
			return;
		}
		console.log("total",$('#quiz-section-no-questions').val());
		if (flag_easy && flag_medium && flag_hard && parseInt($('#quiz-section-no-questions').val())>0) {
			$('#btn-add-quiz-section').removeClass('disabled');
			$('#quiz-section-no-questions').css('border-bottom', '');
		}
		else {
			$('#quiz-section-no-questions').css('border-bottom', '1px solid red');
			$('#btn-add-quiz-section').addClass('disabled');
		}
	}

</script>

{% endblock %}
