@font-face {
  font-family: "special-font";
  src: url("/static/EasyHireApp/admin/fonts/Quicksand-Medium.ttf");
}

html{
    font-family: "special-font", Fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit; 
}

.inline-icon {
 vertical-align: bottom;
 font-size: 22px !important;
}

.text-uppercase{
	text-transform: uppercase;
}

#global-preloader{
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
  position: fixed;
  opacity: 1;
  z-index: 9999;
  background: url('/static/ERPSystemApp/img/curved-bar-preloader.svg') 50% 50% no-repeat;
  background-color: #FFFFFF;
}

.login-bg
{
    background-image: url('/static/ERPSystemApp/img/flat-bg.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;          
}

#login-page
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    height: 100%; 

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}

#login-page .card-panel.border-radius-6.login-card
{
    margin-left: 0 !important;
}      

.gradient-45deg-purple-deep-orange
{
      background: #8e24aa;
      background: -webkit-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
      background: -moz- oldlinear-gradient(45deg, #8e24aa, #ff6e40) !important;
      background:      -o-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
      background:         linear-gradient(45deg, #8e24aa, #ff6e40) !important;
}

.gradient-45deg-purple-deep-orange.gradient-shadow
{
    -webkit-box-shadow: 0 6px 20px 0 rgba(255, 110, 64, .5) !important;
            box-shadow: 0 6px 20px 0 rgba(255, 110, 64, .5) !important;
}

.gradient-45deg-indigo-deep-purple
{
      background: #e8eaf6;
      background: -webkit-linear-gradient(45deg, #e8eaf6, #311b92) !important;
      background: -moz- oldlinear-gradient(45deg, #e8eaf6, #311b92) !important;
      background:      -o-linear-gradient(45deg, #e8eaf6, #311b92) !important;
      background:         linear-gradient(45deg, #e8eaf6, #311b92) !important;
}

.gradient-45deg-indigo-deep-purple.gradient-shadow
{
    -webkit-box-shadow: 0 6px 20px 0 rgba(75, 0, 130, .5) !important;
            box-shadow: 0 6px 20px 0 rgba(75, 0, 130, .5) !important;
}


.gradient-45deg-orange-dark-red
{
      background: #ffe0b2;
      background: -webkit-linear-gradient(45deg, #ffe0b2, #b71c1c) !important;
      background: -moz- oldlinear-gradient(45deg, #ffe0b2, #b71c1c) !important;
      background:      -o-linear-gradient(45deg, #ffe0b2, #b71c1c) !important;
      background:         linear-gradient(45deg, #ffe0b2, #b71c1c) !important;
}

.gradient-45deg-orange-dark-red.gradient-shadow
{
    -webkit-box-shadow: 0 6px 20px 0 rgba(139, 0, 0, .5) !important;
            box-shadow: 0 6px 20px 0 rgba(139, 0, 0, .5) !important;
}

/* width */
::-webkit-scrollbar {
  width: 0.5em !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 110, 64, 0.5); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 110, 64, 0.5); 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active, .sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active{
    background-color: #ffe0b2 !important;
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active a, .sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active a{
    color: #000000 !important;  
}
