{%extends 'base.html'%}

{%block start%}

<div style="margin-top: 6%; ">
    <div style="margin-top: 6%; display: flex;">
    <div style="margin: 0 auto; font-size: xxx-large;">
        Add Coupon
    </div>

</div>

<hr>

<div class="card">
    <div class="card-body">
        {% include "utils/alert.html" %}
        <form id="addCouponForm">
            {% csrf_token %}
            <div class="form-row mb-4">
                <div class="form-group col-md-6">
                    <label for="coupon_code">Coupon Code (max 30)</label>
                    <input type="text" class="form-control" required minlength="4" maxlength="30" name="coupon_code" id="coupon_code"
                        placeholder="Enter Unique Coupon Code">
                </div>



                <div class="form-group col-md-6">
                    <label for="coupon_validity">Coupon Validity</label>
                    <input type="datetime-local" required class="form-control" name="coupon_validity" id="coupon_validity">
                </div>
                <div class="form-group col-md-6">

                    <label for="usage_limit">Total Usase Limits</label>
                    <input type="number" name="usage_limit" max="9999999" required class="form-control" id="usage_limit" placeholder="Total Usase alowed for this coupon">
                </div>

                <div class="form-group col-md-6">
                    <label for="per_user_usase_limit">Per User Limit</label>
                    <input type="number" name="per_user_usase_limit" max="9999999" required class="form-control" id="per_user_usase_limit" placeholder="Usase allowed per user">
                </div>


            </div>
            <div class="form-row mb-4" id="video_upload">

                <div class="form-group col-md-6" id="discountUpContainer">
                    <label for="discount_type">Discount Type</label>
                    <select required class="form-control" name="discount_type" id="discount_type" onchange="changeDiscountType()">
                        <option selected disabled value="">Select Discount Type</option>
                        <option value="Percentage Discount">Percentage Discount</option>
                        <option value="Fixed Discount">Fixed Discount</option>
                    </select>

                    <div id="discountDiv">

                    </div>

                </div>


                <div class="form-group col-md-6">
                        <label for="apply_coupon_type">Where you want to apply this coupon?</label>
                        <select required class="form-control" name="apply_coupon_type" id="apply_coupon_type" onchange="changeApplyPackage()">
                            <option selected disabled value="">None</option>
                            <option value="all-packages">All Packages</option>
                            <option value="selected-packages">Selected Packages</option>
                        </select>
    
                        <div id="packageDiv" class="mt-4" style="display: none;">
                            <div>
                                <div>                    
                                    <div class="select-box">
                                        <div class="options-container">
                                            {% for course_package in  course_packages %}
                                                <div class="option" onclick="includeTag(event)">
                                                    <input class="tagId" style="pointer-events: none;" type="checkbox" name="category" id="{{course_package.uid}}">
                                                    <label for="{{course_package.uid}}">{{course_package.package_title}}</label>
                                                </div>
                                            {% endfor  %}
                                
                                          
                                        </div>
         
                                        


                                        <div class="selected">
                                          Choose Packages to include
                                        </div>
                                
                                        <div class="search-box">
                                            <input type="text" placeholder="Start Typing..." />
                                        </div>
                                    </div>
                                </div> 
                            </div> 
            
                            <div class="table table-striped" style="margin: 1%;">
                                <table class="display">
                                    <tbody id="tags">
                                    
                                    </tbody>
                                </table>  
                            </div> 
                        </div>
                </div>

            

            <button id="submitFormBtn" type="submit" class="btn btn-primary mt-3">Create Coupon</button>
            <!-- <button id="testBtn" class="btn btn-primary mt-3">Test Code</button> -->
        </form>

    </div>
</div>


<script>
    const tags = document.getElementById('tags');
    const packageDiv = document.getElementById('packageDiv');
    const discount_type = document.getElementById('discount_type');
    const discount_amount = document.getElementById('discount_amount');
    const apply_coupon_type = document.getElementById('apply_coupon_type');


    var is_all_Package = true;

    const dateTimeObj = document.getElementById('coupon_validity');
    function parseDateTime(date) {
        var dateTime = new Date(date);
        var year = dateTime.getFullYear();
        var month = dateTime.getMonth() + 1;
        var day = dateTime.getDate();
        var hour = dateTime.getHours();
        var minute = dateTime.getMinutes();
        hour = (hour < 10 ? "0" : "") + hour.toString();
        minute = (minute < 10 ? "0" : "") + minute.toString();
        var datetime = year + "-" + month + "-" + day + "T" + hour + ":" + minute;
        return datetime;
    }

    let todaysDate = parseDateTime(Date.now());
    dateTimeObj.setAttribute('min', todaysDate);
    console.log(todaysDate);    

    function parseDate(date) {
        var date = new Date(date);
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hour = date.getHours();
        var min = date.getMinutes();
        var sec = date.getSeconds();
        var dateString = year + "-" + month + "-" + day + "T" + hour + ":" + min + ":" + sec + "Z";
        return dateString;
        
    }
    // script for package include dropdown starts

    var selected = document.querySelector(".selected");
    var selectBox = document.querySelector(".select-box");
    const optionsContainer = document.querySelector(".options-container");
    const searchBox = document.querySelector(".search-box input");

    const optionsList = document.querySelectorAll(".option");

    selected.addEventListener("click", () => {
    optionsContainer.classList.toggle("active");

    searchBox.value = "";
    filterList("");

    if (optionsContainer.classList.contains("active")) {
        searchBox.focus();
    }
    });
    document.addEventListener('click', function(event) {
        var isClickInsideElement = selectBox.contains(event.target);
        if (!isClickInsideElement) {
            //Do something click is outside specified element
            optionsContainer.classList.remove("active");
        }
    });

    optionsList.forEach(o => {
    o.addEventListener("click", (e) => {
        // selected.innerHTML = o.querySelector("label").innerHTML;
        // optionsContainer.classList.remove("active");
        let checkbox = e.target.firstElementChild;
        if (checkbox === null) {
        return;
        }

        if (checkbox.checked === false) {
        checkbox.checked = true;
        } else {
        checkbox.checked = false;
        };

        console.log(selectedItems());

    });
    });

    searchBox.addEventListener("keyup", function(e) {
    filterList(e.target.value);
    });

    const filterList = searchTerm => {
    searchTerm = searchTerm.toLowerCase();
    optionsList.forEach(option => {
        let label = option.firstElementChild.nextElementSibling.innerText.toLowerCase();
        if (label.indexOf(searchTerm) != -1) {
        option.style.display = "block";
        } else {
        option.style.display = "none";
        }
    });
    };

    function selectedItems() {
    var selectedArray = [];
    var selectedCheckboxes = document.querySelectorAll(".option input[type='checkbox']"); 
    var correspondingLabels = document.querySelectorAll(".option label");
    for (var i = 0; i < selectedCheckboxes.length; i++) {
        if (selectedCheckboxes[i].checked) {
        selectedArray.push([selectedCheckboxes[i].id, correspondingLabels[i].innerText]);
        }
    };
    return selectedArray;
    };

    function includeTag(event) {
        const packageUid = event.target.firstElementChild.id;
        const packageName = event.target.querySelector("label").innerText;

        if (checkTag(packageName) === true ) {
            console.log('Tag already exists...');
            deleteTag(packageUid);
        } else {
            let tagElement = document.createElement('tr');
            // tagElement.className = "badge badge-dark p-1 m-1 tag";
            let td1 = document.createElement('td');
            td1.className = "tag";
            td1.innerHTML = packageName;
            td1.id = packageUid;
            tagElement.appendChild(td1);
            tags.appendChild(tagElement);
        }
    

    };

    function deleteTag(packageUid) {
        let allSelectedPackages = document.querySelectorAll(".tag");
        for (var i = 0; i < allSelectedPackages.length; i++) {
            if (allSelectedPackages[i].id === packageUid) {
                allSelectedPackages[i].parentElement.remove();
            }
        }
    };
    
    function checkTag(tagName) {
        let allTags = document.getElementsByClassName('tag');
        let flag = false;
        for (let i = 0; i < allTags.length; i++) {
            let singleTag = allTags[i];
            if (singleTag.innerHTML === tagName) {
                flag = true;
                break;
            }
            
        }

        return flag;
    };

    function clickTag(event) {
        let tagName = event.target.innerHTML;
        let tagId = event.target.id;
        console.log(tagName, tagId);
    }

    function handleChangePackageDateTime(event) {
        console.log(event.target.value);
    }

    // script for package include dropdown ends
    
    function getCookie(name) {
        if (!document.cookie) {
            return null;
        }
        const xsrfCookies = document.cookie.split(';')
        .map(c => c.trim())
        .filter(c => c.startsWith(name + '='));
        if (xsrfCookies.length === 0) {
            return null;
        }
            return decodeURIComponent(xsrfCookies[0].split('=')[1]);
    }
    
    const csrfToken = getCookie('csrftoken');


    const discountDiv = document.getElementById('discountDiv');
    let fixedInnerHtml = `
        <label for="discount_amount" class="mt-4"> How Much Discount? </label>
        <input type="number" required placeholder="Enter amount in Rs" max="9999999" name="discount_amount" id="discount_amount" class="form-control">
    `;

    let percentageInnerHtml = `
        <label for="discount_amount" class="mt-4"> How Much Discount? </label>
        <input type="number" required placeholder="Enter in percentage" max="100" name="discount_amount" id="discount_amount" class="form-control">
    `;

    function changeDiscountType() {
        var discount_type_value = discount_type.value;
        if (discount_type_value == 'Percentage Discount') {
            discountDiv.innerHTML = ';'
            discountDiv.innerHTML = percentageInnerHtml;
            
        } else if (discount_type_value == 'Fixed Discount') {
            discountDiv.innerHTML = ';'
            discountDiv.innerHTML = fixedInnerHtml;
        }
    }

    
    function changeApplyPackage() {
        var apply_coupon_type_value = apply_coupon_type.value;
        if (apply_coupon_type_value == 'selected-packages') {
            is_all_Package = false;
            packageDiv.style.display = 'block';
        } else {
            packageDiv.style.display = 'none';
            is_all_Package = true;
        }

    }

    const addCouponForm = document.getElementById('addCouponForm');
    addCouponForm.addEventListener('submit', async function(e) {
        e.preventDefault();

        let allTags = document.getElementsByClassName('tag');
        let allPackageDates = document.getElementsByClassName('packageDate');
        let packages = [];
        for (let i = 0; i < allTags.length; i++) {
            packages.push(allTags[i].id);
            
            
        };

        let allPackagesUid = [];
        const allPackagesHtml = document.getElementsByClassName('tagId');
        for (let i = 0; i < allPackagesHtml.length; i++) {
            var element = allPackagesHtml[i];
            allPackagesUid.push(element.id);
        }

        let coupon_code = document.getElementById('coupon_code').value;
        let data = {
        'coupon_code': coupon_code,
        'coupon_validity': document.getElementById('coupon_validity').value,
        'discount_type': document.getElementById('discount_type').value,
        'discount': document.getElementById('discount_amount').value,
        'total_usage_limit': document.getElementById('usage_limit').value,
        'per_user_limit': document.getElementById('per_user_usase_limit').value,
        };

        let couponData = await fetch('/api/courses/coupon/?coupon_code='+ coupon_code, {
            method: 'GET',
            headers: {
                'X-CSRFToken': csrfToken,
            }
        });

        couponData = await couponData.json();
        let alreadyExists = couponData.message;
        

        // document upload
        if (document.getElementById('apply_coupon_type').value === 'all-packages') {
            data['courses'] = allPackagesUid;
            console.log(allPackagesUid);
        } else {
            data['courses'] = packages;
        }

        if (alreadyExists === true){
            alert('Coupon already exists. Please change the coupon code.');
            
        } else{
            if (document.getElementById('apply_coupon_type').value   === 'selected-packages' && allTags.length === 0) {
                alert('Please select atleast one package');
            } else {
                let res = await fetch('/api/courses/coupon/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                console.log(data);
    
                console.log(res);
                res = await res.json();
                console.log(res);
                
                if (res.statusText === 'OK') {
                    alert('Coupon added successfully');
                    window.location.href = '/courses/allcoupons/';
                } else {
                    alert('Something went wrong');
                }
            }
        }


        
    });



    
</script>

{%endblock %}