{% extends 'EasyHireApp/administrator/base.html' %}
{% block content %}
{% load static %}

<div class="row" style="padding:1em;">

  <!-- <div class="col s12">
    <div class="row">

      <div class="col s6">
        <select multiple id="multiple-select-applicant-search">
          {% if "10" in filter_list %}
          <option value="10" selected>All Applicants</option>
          {% else %}
          <option value="10">All Applicants</option>
          {% endif %}
          {% if "4" in filter_list %}
          <option value="4" selected>Campus</option>
          {% else %}
          <option value="4">Campus</option>
          {% endif %}

          {% if "5" in filter_list %}
          <option value="5" selected>Walk-In</option>
          {% else %}
          <option value="5">Walk-In</option>
          {% endif %}

          {% if "6" in filter_list %}
          <option value="6" selected>Posting</option>
          {% else %}
          <option value="6">Posting</option>
          {% endif %}

          {% if "1" in filter_list %}
          <option value="1" selected>Rejected Students</option>
          {% else %}
          <option value="1">Rejected Students</option>
          {% endif %}

          {% if "2" in filter_list %}
          <option value="2" selected>Selected Students</option>
          {% else %}
          <option value="2">Selected Students</option>
          {% endif %}

          {% if "3" in filter_list %}
          <option value="3" selected>Non-approved Students</option>
          {% else %}
          <option value="3">Non-approved Students</option>
          {% endif %}

          {% if "7" in filter_list %}
          <option value="7" selected>Gender: Male</option>
          {% else %}
          <option value="7">Gender: Male</option>
          {% endif %}
          {% if "8" in filter_list %}
          <option value="8" selected>Gender: Female</option>
          {% else %}
          <option value="8">Gender: Female</option>
          {% endif %}
          {% if "9" in filter_list %}
          <option value="9" selected>Gender: Others</option>
          {% else %}
          <option value="9">Gender: Others</option>
          {% endif %}

          {% for department_obj in master_department_objs %}
          {% if department_obj.pk in department_filter_list %}
          <option value="department_{{ department_obj.pk }}" selected>Department: {{ department_obj.name }}</option>
          {% else %}
          <option value="department_{{ department_obj.pk }}">Department: {{ department_obj.name }}</option>
          {% endif %}
          {% endfor %}
          {% for stream in master_stream_objs %}
          {% if stream.pk in stream_filter_list %}
          <option value="stream_{{ stream.pk }}" selected>Stream: {{ stream.name }}</option>
          {% else %}
          <option value="stream_{{ stream.pk }}">Stream: {{ stream.name }}</option>
          {% endif %}
          {% endfor %}
          {% for event_obj in master_event_objs %}
          {% if event_obj.pk in event_filter_list %}
          <option value="event_{{ event_obj.pk }}" selected>Event: {{ event_obj.name }}</option>
          {% else %}
          <option value="event_{{ event_obj.pk }}">Event: {{ event_obj.name }}</option>
          {% endif %}
          {% endfor %}

          {% for group_obj in master_group_objs %}
          {% if group_obj.pk in group_filter_list %}
          <option value="group_{{ group_obj.pk }}" selected>Group: {{ group_obj.group_name }}</option>
          {% else %}
          <option value="group_{{ group_obj.pk }}">Group: {{ group_obj.group_name }}</option>
          {% endif %}
          {% endfor %}

          {% for quiz_obj in master_quiz_objs %}
          {% if quiz_obj.pk in quiz_filter_list %}
          <option value="quiz_{{ quiz_obj.pk }}" selected>Quiz: {{ quiz_obj.title }}</option>
          {% else %}
          <option value="quiz_{{ quiz_obj.pk }}">Quiz: {{ quiz_obj.title }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="col s6">
        <a class="btn blue white-text tooltipped" data-position="bottom" data-tooltip="Filter Applicant"
          id="btn-search-edit-applicant"><i class="material-icons inline-icon">filter_list</i>&nbsp;Filter</a>
      </div>
    </div>

  </div> -->

  <!-- debug_change add filter -->
  <div class="col s6 left">
    <input type="text" placeholder="Enter Name / Email id / Contact Number" id="applicant-search-info"
      value="{{applicant_info}}">
    <a class="btn blue white-text tooltipped" data-position="bottom"
      data-tooltip="Filter All Applicant By Name/Email/Contact" id="btn-search-applicant-info-edit"><i
        class="material-icons inline-icon">filter_list</i>&nbsp;Filter</a>
  </div>
  <div class="col s3 right">
    <input type="date" id="startdate" value="{{ start_date }}" />
    <a class="btn blue white-text tooltipped" data-position="bottom" data-tooltip="Filter Applicant"
      id="btn-search-applicant-date-edit"><i class="material-icons inline-icon">filter_list</i>&nbsp;Filter</a>
  </div>
  <div class="col s12">
    {% if applicant_objs %}

    <table id="manage-applicants-table">
      <thead>
        <tr>
          <th>Applicant Name</th>
          <th>Contact Number</th>
          <th>Email Id</th>
          <th>Edit Tasks</th>
          <th>Edit Profile</th>
{#          <th class="center">Assign Task</th>#}
        </tr>
      </thead>
      <tbody>
        {% for applicant in applicant_objs %}
        <tr>
          <td><a href="#applicant-details-{{ applicant.pk }}" class="modal-trigger"><u>{{ applicant.name }}</u></a></td>
          <td>{{ applicant.phone_number }}</td>
          <td>{{ applicant.email_id }}</td>
          <td><a href="#" class="blue-text" id="btn-edit-task" onclick="open_edit_task_modal('{{applicant.pk}}')">&nbsp;<i class="material-icons inline-icon">edit</i></a></td>
          <td><a href="#modal-edit-profile-{{ applicant.pk }}" class="green-text modal-trigger" id="btn-edit-profile" >&nbsp;<i class="material-icons inline-icon">edit</i></a></td>
        {#          <td class="center"><a href="#" class="blue-text" id="btn-assign-task" onclick="assign_task('{{applicant.pk}}')">&nbsp;<i class="material-icons inline-icon">add</i></a></td>#}
        </tr>

        <div id="modal-edit-profile-{{ applicant.pk }}" class="modal">
            <div class="modal-content">
                <div class="row">
                    <h6>Edit Applicant Profile</h6>
                    <div class="col s6">
                        <label>Applicant name</label>
                        <input type="text" id="applicant-name-{{ applicant.pk }}" value="{{ applicant.name }}">
                    </div>
                    <div class="col s6">
                        <label>Email ID</label>
                        <input type="email" id="applicant-email-{{ applicant.pk }}" value="{{ applicant.email_id }}">
                    </div>
                    <div class="col s6">
                        <label>Contact Number</label>
                        <input type="text" id="applicant-phone-{{ applicant.pk }}" value="{{ applicant.phone_number}}">
                    </div>
{#                    <div class="col s6">#}
{#                        <label>Location</label>#}
{#                        <input type="text" id="applicant-location-{{ applicant.pk }}" value="{{ applicant.location }}">#}
{#                    </div>#}

                    <div class="col s6">
                        <label>Adhar number</label>
                        <input type="text" id="applicant-adhaar-{{ applicant.pk }}" value="{{ applicant.id_proof_adhaar_number }}">
                    </div>

                    <div class="col s6">
                        <label>Pan Number</label>
                        <input type="text" id="applicant-pan-{{ applicant.pk }}" value="{{ applicant.id_proof_pan_number }}">
                    </div>

                    <div class="col s6">
                        <label>Password</label>
                        <input type="text" id="applicant-password-{{ applicant.pk }}" autocomplete="new-password">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close btn grey white-text right">Cancel</a>
                <a href="#" class="waves-effect waves-green btn blue white-text right" onclick="update_applicant_profile('{{ applicant.pk }}')">Update</a>
            </div>
        </div>


        <div id="applicant-details-{{ applicant.pk }}" class="modal" style="border:0.1em solid black;">
          <div class="modal-content">
            <div class="row">
              {% if applicant.image %}
              <div class="col s12">
                <img src="{{ applicant.image.url }}" width="100" height="100" class="left">
                <a href="javascript:void(0)" class="btn danger modal-close right"><i
                    class="material-icons">close</i></a>
              </div>
              {% endif %}
              {% if applicant.name %}
              <div class="input-field col s6">
                <b>Applicant Name: </b> {{ applicant.name }}
              </div>
              {% endif %}
              {% if applicant.email_id %}
              <div class="input-field col s6">
                <b>Applicant Email Id: </b> {{ applicant.email_id }}
              </div>
              {% endif %}
              {% if applicant.phone_number %}
              <div class="input-field col s6">
                <b>Applicant Contact Number: </b> {{ applicant.phone_number }}
              </div>
              {% if applicant.gender %}
              <div class="input-field col s6">
                <b>Gender: </b> {{ applicant.get_gender_title }}
              </div>
              {% endif %}
              {% endif %}
              {% if applicant.dob %}
              <div class="input-field col s6">
                <b>Applicant DOB: </b> {{ applicant.dob }}
              </div>
              {% endif %}
              {% if applicant.college_name %}
              <div class="input-field col s6">
                <b>Applicant College: </b> {{ applicant.college_name }}
              </div>
              {% endif %}
              {% if applicant.year_of_passing %}
              <div class="input-field col s6">
                <b>Applicant Year Of Passing: </b> {{ applicant.year_of_passing }}
              </div>
              {% endif %}
              {% if applicant.stream %}
              <div class="input-field col s6">
                <b>Applicant Stream: </b> {{ applicant.stream }}
              </div>
              {% endif %}
              {% if applicant.location %}
              <div class="input-field col s6">
                <b>Location: </b> {{ applicant.location }}
              </div>
              {% endif %}
              {% if applicant.id_proof_adhaar_number %}
              <div class="input-field col s12 m12 l6">
                <b>Adhaar Number: </b> {{ applicant.id_proof_adhaar_number }}
              </div>
              {% endif %}

              {% if applicant.id_proof_pan_number %}
              <div class="input-field col s12 m12 l6">
                <b>Pan Number: </b> {{ applicant.id_proof_pan_number }}
              </div>
              {% endif %}
              {% if applicant.percentage %}
              <div class="input-field col s6">
                <b>Applicant Percentage: </b> {{ applicant.percentage }} %
              </div>
              {% endif %}
              {% if applicant.date_joined %}
              <div class="input-field col s12 m12 l6">
                <b>Registration Date: </b> {{ applicant.date_joined }}
              </div>
              {% endif %}
              {% if applicant.category %}
              <div class="input-field col s12 m12 l6">
                {% if applicant.category == "1" %}
                <b>Category: </b> Campus
                {% elif applicant.category == "2" %}
                <b>Category: </b> Walk-In
                {% else %}
                <b>Category: </b> Posting
                {% endif %}
              </div>
              {% endif %}
              {% if applicant.event %}
              <div class="input-field col s12 m12 l6">
                <b>Event: </b> {{ applicant.event.name }}
              </div>
              {% endif %}
              {% if applicant.resume %}
              <div class="input-field col s12 m12 l6">
                <b>Resume: </b> <a href="/files/{{ applicant.resume }}" target="_blank"><i
                    class="material-icons inline-icon">attach_file</i> Attached file</a>
              </div>
              {% endif %}
              {% if applicant.current_company %}
              <div class="input-field col s12 m12 l6">
                <b>Current Company: </b> {{ applicant.current_company }}
              </div>
              <div class="input-field col s12 m12 l6">
                <b>Current Designation: </b> {{ applicant.current_designation }}
              </div>
              <div class="input-field col s12 m12 l6">
                <b>Current CTC: </b> {{ applicant.current_ctc }}
              </div>
              {% endif %}
            </div>
          </div>
        </div>

        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <p class="green lighten-3 black-text center" style="padding:1em;">Sorry, no applicants found. Kindly choose valid
      filter to get list of applicants</p>
    {% endif %}
  </div>

  <!-- debug_change pagination -->
  <!-- pagination starts -->

  <!-- <div class="col s12 right-align">
    {% if applicant_objs.has_other_pages %}
    <ul class="pagination">
      {% if applicant_objs.has_previous %}
      <li><a href="?page={{ applicant_objs.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
      {% else %}
      <li class="disabled"><i class="material-icons">chevron_left</i></li>
      {% endif %}
      {% for i in applicant_objs.paginator.page_range %}
      {% if applicant_objs.number == i %}
      <li class="active blue darken-4"><a href="?page={{ i }}">{{ i }}</a></li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if applicant_objs.has_next %}
      <li><a href="?page={{ applicant_objs.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
      <li class="disabled"><i class="material-icons">chevron_right</i></li>
      {% endif %}
    </ul>
    {% endif %}
  </div> -->
  <!-- pagination ends -->
</div>

<input type="checkbox" style="display: none;" class="selected-applicant" id="">

<!-- Modal Structure -->
<div id="modal-assign-task" class="modal">
  <div class="modal-content">
    <div class="row">
      <h6>Assign Task</h6>
      <hr>
      <br>
      <div class="col s6">
        <select id="selected-next-round">
          {% for application_status_id, application_status_title in APPLICANT_APPLICATION_STATUS %}
          <option value="{{ application_status_id }}">{{ application_status_title }}</option>
          {% endfor %}
        </select>
        <br>
      </div>

      <div class="col s12" id="div-select-quiz-for-next-round" style="display:none;">
        <div class="row">
          <div class="input-field col s8">
            <p>Kindly select quiz which you want to assign to selected applicants</p>
            <select id="selected-quiz-for-next-round">
              {% for quiz_obj in master_quiz_objs %}
              <option value="{{ quiz_obj.pk }}">{{ quiz_obj.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <i class="material-icons">help</i> Optional start and end datetime field to add time constraints over quiz.
          <div class="col s12">
            <div class="row">
              <div class="col s6">
                <p>Start DateTime<sup>optional</sup></p>
                <input type="date" name="start-date" id="input-quiz-start-date">
                <input type="time" name="start-time" id="input-quiz-start-time">
              </div>
              <div class="col s6">
                <p>End DateTime<sup>optional</sup></p>
                <input type="date" name="end-date" id="input-quiz-end-date">
                <input type="time" name="end-time" id="input-quiz-end-time">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12" id="div-select-group-for-next-round" style="display:none;">
        <p>Kindly select group into which you want to add selected applicants</p>
        <select id="selected-group-for-next-round">
          {% for group_obj in master_group_objs %}
          <option value="{{ group_obj.pk }}">{{ group_obj.group_name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col s12" id="div-select-bot-for-next-round" style="display:none;">
        <p>Kindly select bot into which you want to add selected applicants</p>
        <select id="selected-bot-for-next-round">
          {% for bot_obj in master_botathon_objs %}
          <option value="{{ bot_obj.pk }}">{{ bot_obj.name }}</option>
          {% endfor %}
        </select>
      </div>
      <a href="javascript:void(0)" class="waves-effect waves-green btn blue white-text right"
        onclick="assign_task_applicants(this)">Assign Task</a>
    </div>
  </div>
  <!--<div class="modal-footer">
        <div class="col 12 left">
            <a href="javascript:void(0)" class="modal-close waves-effect waves-green btn green darken-3 white-text" onclick="accepted_applicants(this)">Accepted</a>
            <a href="javascript:void(0)" class="modal-close waves-effect waves-green btn red darken-3 white-text" onclick="rejected_applicants(this)">Rejected</a>          
            <a href="javascript:void(0)" class="modal-close waves-effect waves-green btn grey darken-3 white-text" onclick="reset_profile_applicants(this)">Reset</a>          
        </div>
        <a href="javascript:void(0)" class="waves-effect waves-green btn blue white-text right" onclick="assign_task_applicants(this)">Assign Task</a>
    </div>-->
</div>
<div id="modal-edit-task" class="modal">
  <div class="modal-content">
    <div class="row">
      <h6 id="edit-title">Change events and quizzes assigned to</h6>
      <hr>
      <br>
      <div class="col s12" id="div-edit-event">
        <h6>Event assigned to applicant</h6>
        <select id="select-edit-event">
        </select>
      </div>

      <br><br><br><br>

      <div class="col s12" id="div-quiz-table">
          
      </div>

      <h6 id="edit-applicant-id" style="display: none;"></h6>
{#      <br><br><br>#}
    </div>
  </div>
  <div class="modal-footer">
      <a href="#" class="waves-effect waves-green btn blue white-text green" onclick="update_applicant_tasks(1)">Update Event</a>
      <a href="#" class="waves-effect waves-green btn blue white-text" onclick="update_applicant_tasks(0)">Deassign Quiz</a>
  </div>
</div>

    <script type="text/javascript">

    function open_edit_profile_modal() {

    }

    $(document).on("change", "#selected-next-round", function (e) {
        $("#div-select-quiz-for-next-round").hide();
        selected_next_round = $("#selected-next-round").val();
        if (selected_next_round == "1") {
          $("#div-select-quiz-for-next-round").show();
        }
        else if (selected_next_round == "4") {
          $("#div-select-bot-for-next-round").show();
        }
      });
      $("#selected-next-round").change();

      function assign_task(applicant_id) {
        $('.selected-applicant').attr('id','applicant-'+applicant_id);
        $('.selected-applicant').prop('checked',true);
        $('#modal-assign-task').modal('open');
        $('#modal-assign-task').removeAttr('tabindex');
      }
    </script>

    {% endblock %}
