{% extends 'EasyHireApp/administrator/base.html' %}
{% block content %}
{% load static %}

<div class="row" style="padding:1em;">

    <div class="col s12">
        <div class="row">

            <div class="col s6">
                <select multiple id="multiple-select-applicant-search" onchange="toggle_range_search()">
                  {% if "10" in filter_list %}
                        <option value="10" selected>All Applicants</option>
                    {% else %}
                        <option value="10">All Applicants</option>
                    {% endif %}
                  {% if "4" in filter_list %}
                        <option value="4" selected>Campus</option>
                    {% else %}
                        <option value="4">Campus</option>
                    {% endif %}

                    {% if "5" in filter_list %}
                        <option value="5" selected>Walk-In</option>
                    {% else %}
                        <option value="5">Walk-In</option>
                    {% endif %}

                    {% if "6" in filter_list %}
                        <option value="6" selected>Posting</option>
                    {% else %}
                        <option value="6">Posting</option>
                    {% endif %}

                    {% if "1" in filter_list %}
                        <option value="1" selected>Rejected Students</option>
                    {% else %}
                        <option value="1">Rejected Students</option>
                    {% endif %}

                    {% if "2" in filter_list %}
                        <option value="2" selected>Selected Students</option>
                    {% else %}
                        <option value="2">Selected Students</option>
                    {% endif %}

                    {% if "3" in filter_list %}
                        <option value="3" selected>Non-approved Students</option>
                    {% else %}
                        <option value="3">Non-approved Students</option>
                    {% endif %}

                    {% if "7" in filter_list %}
                        <option value="7" selected>Gender: Male</option>
                    {% else %}
                        <option value="7">Gender: Male</option>
                    {% endif %}
                    {% if "8" in filter_list %}
                        <option value="8" selected>Gender: Female</option>
                    {% else %}
                        <option value="8">Gender: Female</option>
                    {% endif %}
                    {% if "9" in filter_list %}
                        <option value="9" selected>Gender: Others</option>
                    {% else %}
                        <option value="9">Gender: Others</option>
                    {% endif %}

                    <!-- {% for institute in master_institutes_objs %}
                        {% if institute.pk in institute_filter_list %}
                            <option value="institute_{{ institute.pk }}" selected>Institute: {{ institute.name }}</option>
                        {% else %}
                            <option value="institute_{{ institute.pk }}">Institute: {{ institute.name }}</option>
                        {% endif %}
                    {% endfor %} -->
                     {% for department_obj in master_department_objs %}
                        {% if department_obj.pk in department_filter_list %}
                            <option value="department_{{ department_obj.pk }}" selected>Department: {{ department_obj.name }}</option>
                        {% else %}
                            <option value="department_{{ department_obj.pk }}">Department: {{ department_obj.name }}</option>
                        {% endif %}
                    {% endfor %}
                    {% for stream in master_stream_objs %}
                        {% if stream.pk in stream_filter_list %}
                            <option value="stream_{{ stream.pk }}" selected>Stream: {{ stream.name }}</option>
                        {% else %}
                            <option value="stream_{{ stream.pk }}">Stream: {{ stream.name }}</option>
                        {% endif %}
                    {% endfor %}
                    {% for event_obj in master_event_objs %}
                        {% if event_obj.pk in event_filter_list %}
                            <option value="event_{{ event_obj.pk }}" selected>Event: {{ event_obj.name }}</option>
                        {% else %}
                            <option value="event_{{ event_obj.pk }}">Event: {{ event_obj.name }}</option>
                        {% endif %}
                    {% endfor %}

                    {% for group_obj in master_group_objs %}
                        {% if group_obj.pk in group_filter_list %}
                          <option value="group_{{ group_obj.pk }}" selected>Group: {{ group_obj.group_name }}</option>
                        {% else %}
                          <option value="group_{{ group_obj.pk }}">Group: {{ group_obj.group_name }}</option>
                        {% endif %}
                    {% endfor %}

                   {% for quiz_obj in master_quiz_objs %}
                        {% if quiz_obj.pk in quiz_filter_list %}
                            <option value="quiz_{{ quiz_obj.pk }}" selected>Quiz: {{ quiz_obj.title }}</option>
                        {% else %}
                            <option value="quiz_{{ quiz_obj.pk }}">Quiz: {{ quiz_obj.title }}</option>
                        {% endif %}
                    {% endfor %}

                    {% if "11" in filter_list %}
                        <option value="11" selected>Quiz not assigned</option>
                    {% else %}
                        <option value="11">Quiz not assigned</option>
                    {% endif %}

                    {% if "12" in filter_list %}
                        <option value="12" selected>Quiz assigned</option>
                    {% else %}
                        <option value="12">Quiz assigned</option>
                    {% endif %}

                    {% if "13" in filter_list %}
                        <option value="13" selected>Quiz assigned between</option>
                    {% else %}
                        <option value="13">Quiz assigned between</option>
                    {% endif %}

                    {% if "14" in filter_list %}
                        <option value="14" selected>Quiz completed</option>
                    {% else %}
                        <option value="14">Quiz completed</option>
                    {% endif %}

                    {% if "15" in filter_list %}
                        <option value="15" selected>Quiz completed between</option>
                    {% else %}
                        <option value="15">Quiz completed between</option>
                    {% endif %}

                    {% if "16" in filter_list %}
                        <option value="16" selected>Registered between</option>
                    {% else %}
                        <option value="16">Registered between</option>
                    {% endif %}

                </select>
            </div>

            <div class="col s6">
                <a class="btn blue white-text tooltipped" data-position="bottom" data-tooltip="Filter Applicant" id="btn-search-applicant"><i class="material-icons inline-icon">filter_list</i>&nbsp;Filter</a>
                <a href="#" class="btn blue white-text modal-trigger" id="btn-assign-task" onclick="assign_task()"  disabled>&nbsp;Assign Task</a>
                <a href="#" class="btn blue white-text modal-trigger" id="btn-assign-tag" onclick="assign_tag()"  disabled>&nbsp;Assign Tag</a>
                <a href="#modal-applicant-status" class="btn indigo white-text modal-trigger" id="btn-applicant-status" disabled>&nbsp;Status</a>
                <a class="btn purple white-text modal-trigger tooltipped" data-position="bottom" data-tooltip="Save Applicant at iRecruit" id="btn-save-applicant-irecruit" onclick="save_applicants_at_irecruit(this)" disabled><i class="material-icons inline-icon">save</i>&nbsp;iRecruit</a>
                 <a href="#" class="btn green white-text tooltipped" data-position="bottom" data-tooltip="Download Report" id="btn-download-report" onclick="download_applicant_report(this)"><i class="material-icons inline-icon">cloud_download</i></a>
            </div>          
        </div>

    </div>
    <ul class="col s6 left row collapsible" id="ul-range-filter">
        <li id="li-range-filter">
            <a class="collapsible-header">Range filters</a>
            <div id="div-filters" class="collapsible-body" style="border-bottom: none">
                <div id="div-quiz-assigned-range-filter" {% if "13" not in filter_list %} style="display:none;" {% endif %}>
                    <span class="col s12">Quiz assigned between</span>
                    <div class="col s6">
                        <label for="quiz-assigned-start-date">Start date</label>
                        <input type = "date" id="quiz-assigned-start-date" value="{{ quiz_assigned_start_date }}" placeholder="Range start date"/>
                    </div>
                    <div class="col s6">
                        <label for="quiz-assigned-end-date">End date</label>
                        <input type = "date" id="quiz-assigned-end-date" value="{{ quiz_assigned_end_date }}" placeholder="Range end date" />
                    </div>
                </div>
                <div id="div-quiz-completed-range-filter" {% if "15" not in filter_list %} style="display:none;" {% endif %}>
                    <span class="col s12">Quiz completed between</span>
                    <div class="col s6">
                        <label for="quiz-completed-start-date">Start date</label>
                        <input type = "date" id="quiz-completed-start-date" value="{{ quiz_completed_start_date }}" placeholder="Range start date"/>
                    </div>
                    <div class="col s6">
                        <label for="quiz-completed-end-date">End date</label>
                        <input type = "date" id="quiz-completed-end-date" value="{{ quiz_completed_end_date }}" placeholder="Range end date" />
                    </div>
                </div>
                <div id="div-registered-between-range-filter" {% if "16" not in filter_list %} style="display:none;" {% endif %}>
                    <span class="col s12">Registered between</span>
                    <div class="col s6">
                        <label for="registered-between-start-date">Start date</label>
                        <input type = "date" id="registered-between-start-date" value="{{ registered_between_start_date }}" placeholder="Range start date"/>
                    </div>
                    <div class="col s6">
                        <label for="registered-between-end-date">End date</label>
                        <input type = "date" id="registered-between-end-date" value="{{ registered_between_end_date }}" placeholder="Range end date" />
                    </div>
                </div>
            <span id="no-range-filter" {% if "13" in filter_list or "15" in filter_list or "16" in filter_list %}
                style="display: none"
            {% endif %}>
                No range filters selected
            </span>
            </div>
        </li>
    </ul>

    <ul class="col s6 left row collapsible" id="ul-configure-table">
        <li id="li-configure-table">
            <a class="collapsible-header">Manage fields</a>
            <div id="div-filters" class="collapsible-body" style="border-bottom: none">
                <div class="row">
                    <label class="col s6">
                        <input type="checkbox" id="applicant-name" checked onchange="toggle_column(this)">
                        <span>Applicant Name</span>
                    </label>
                    <label class="col s6">
                        <input type="checkbox" id="applicant-contact" checked onchange="toggle_column(this)">
                        <span>Contact</span>
                    </label>
                    <label class="col s6">
                        <input type="checkbox" id="applicant-email" checked onchange="toggle_column(this)">
                        <span>Email ID</span>
                    </label>
                    <label class="col s6">
                        <input type="checkbox" id="applicant-event" checked onchange="toggle_column(this)">
                        <span>Event</span>
                    </label>
                    <label class="col s6">
                        <input type="checkbox" id="applicant-tag" checked onchange="toggle_column(this)">
                        <span>Tag</span>
                    </label>
                    <label class="col s6">
                        <input type="checkbox" id="applicant-irecruit" checked onchange="toggle_column(this)">
                        <span>iRecruit Status</span>
                    </label>
                    <label class="col s6">
                        <input type="checkbox" id="current-status" checked onchange="toggle_column(this)">
                        <span>Applicant Status</span>
                    </label>
{#                    <label class="col s6">#}
{#                        <input type="checkbox" id="applicant-result" checked onchange="toggle_column(this)">#}
{#                        <span>Result</span>#}
{#                    </label>#}
                    <label class="col s6">
                        <input type="checkbox" id="applicant-report" checked onchange="toggle_column(this)">
                        <span>Report Card</span>
                    </label>
                </div>

            </div>
        </li>
    </ul>
    <div class="col s6 left">
      <input type="text" placeholder="Enter Name / Email id / Contact Number" id="applicant-search-info" value="{{applicant_info}}">
      <a class="btn blue white-text tooltipped" data-position="bottom" data-tooltip="Filter All Applicant By Name/Email/Contact" id="btn-search-applicant-info"><i class="material-icons inline-icon">filter_list</i>&nbsp;Filter</a>
    </div>
    <div class="col s3 right">
    <input type = "date" id="startdate" value="{{ start_date }}" />
    <a class="btn blue white-text tooltipped" data-position="bottom" data-tooltip="Filter Applicant" id="btn-search-applicant-date"><i class="material-icons inline-icon">filter_list</i>&nbsp;Filter</a>
  </div>
    <div class="col s12">
        {% if applicant_objs %}

            <table id="manage-applicants-table">
                <thead>
                    <tr>
                        <th>
                            <label>
                              <input type="checkbox" name="input-checkbox-selected-applicant" 
                              id="global-selected-applicants" class="filled-in">
                              <span></span>
                            </label>
                        </th>
                        <th class="applicant-name">Applicant Name</th>
                        <th class="applicant-contact">Contact Number</th>
                        <th class="applicant-email">Email Id</th>
                        <th class="applicant-event">Event</th>
                        <th class="applicant-tag">Tag</th>
                        <th class="applicant-irecruit">iRecruit Status</th>
                        <th class="current-status">Applicant Status</th>
                        <th class="applicant-report">Report Card</th>
                    </tr>
                </thead>
                <tbody>
                    {% for applicant in applicant_objs %}
                        <tr>
                            <td>
                              <p>
                                <label>
                                  <input type="checkbox" name="input-checkbox-selected-applicant-{{ applicant.pk }}" id="input-checkbox-selected-applicant-{{ applicant.pk }}" class="filled-in selected-applicant">
                                  <span></span>
                                </label>
                              </p>                             
                            </td>
                            <td class="applicant-name"><a href="#applicant-details-{{ applicant.pk }}" class="modal-trigger"><u>{{ applicant.name }}</u></a></td>
                            <td class="applicant-contact">{{ applicant.phone_number }}</td>
                            <td class="applicant-email">{{ applicant.email_id }}</td>
                            <td class="applicant-event">{{ applicant.event }}</td>
                            <td class="applicant-tag">{{ applicant.tag }}</td>
                            <td class="applicant-irecruit">
                              {% if applicant.save_at_irecruit %}
                                 <span>Saved</span>
                              {% else %}
                                <span>Not Saved</span>
                              {% endif %}
                            </td>
                            <td class="current-status">
                                {% if applicant.is_selected %}
                                    Accepted
                                {% elif applicant.is_rejected %}
                                    Rejected
                                {% else %}
                                    {{ applicant.get_current_status }}
                                {% endif %}
                            </td>
                            <td class="applicant-report"><a target="_blank" href="/administrator/applicant-report-card/{{ applicant.pk }}/"><i class="material-icons">open_in_new</i></a></td>
                        </tr>    

                        <div id="applicant-details-{{ applicant.pk }}" class="modal" style="border:0.1em solid black;">
                          <div class="modal-content">
                            <div class="row">
                              {% if applicant.image %}
                              <div class="col s12">
                                <img src="{{ applicant.image.url }}" width="100" height="100" class="left">
                                <a href="javascript:void(0)" class="btn danger modal-close right"><i class="material-icons">close</i></a>
                              </div>
                              {% endif %}
                              {% if applicant.name %}
                              <div class="input-field col s6">
                                <b>Applicant Name: </b> {{ applicant.name }}
                              </div>
                              {% endif %}
                              {% if applicant.email_id %}
                              <div class="input-field col s6">
                                <b>Applicant Email Id: </b> {{ applicant.email_id }}
                              </div>
                              {% endif %}
                              {% if applicant.phone_number %}
                              <div class="input-field col s6">
                                <b>Applicant Contact Number: </b> {{ applicant.phone_number }}
                              </div>
                              {% endif %}
                              {% if applicant.gender %}
                                <div class="input-field col s6">
                                    <b>Gender: </b> {{ applicant.get_gender_title }}
                                </div>
                              {% endif %}
                              {% if applicant.dob %}
                              <div class="input-field col s6">
                                <b>Applicant DOB: </b> {{ applicant.dob }}
                              </div>
                              {% endif %}
                              {% if applicant.college_name %}
                              <div class="input-field col s6">
                                <b>Applicant College: </b> {{ applicant.college_name }}
                              </div>
                              {% endif %}
                              {% if applicant.year_of_passing %}
                              <div class="input-field col s6">
                                <b>Applicant Year Of Passing: </b> {{ applicant.year_of_passing }}
                              </div>
                              {% endif %}
                              {% if applicant.stream %}
                              <div class="input-field col s6">
                                <b>Applicant Stream: </b> {{ applicant.stream }}
                              </div>
                              {% endif %}
				{% if applicant.location %}
				<div class="input-field col s6">
				<b>Location: </b> {{ applicant.location }}
				</div>
				{% endif %}
				{% if applicant.id_proof_adhaar_number %}
				<div class="input-field col s12 m12 l6">
				<b>Adhaar Number: </b> {{ applicant.id_proof_adhaar_number }}
				</div>
				{% endif %}

				{% if applicant.id_proof_pan_number %}
				<div class="input-field col s12 m12 l6">
				<b>Pan Number: </b> {{ applicant.id_proof_pan_number }}
				</div>
				{% endif %}
                              {% if applicant.percentage %}
                              <div class="input-field col s6">
                                <b>Applicant Percentage: </b> {{ applicant.percentage }} %
                              </div>
                              {% endif %}
                              {% if applicant.date_joined %}
                                <div class="input-field col s12 m12 l6">
                                    <b>Registration Date: </b> {{ applicant.date_joined }}
                                </div>
                              {% endif %}
                              {% if applicant.category %}
                                <div class="input-field col s12 m12 l6">
                                  {% if applicant.category == "1" %}
                                  <b>Category: </b> Campus
                                  {% elif applicant.category == "2" %}
                                    <b>Category: </b> Walk-In
                                  {% else %}
                                    <b>Category: </b> Posting
                                  {% endif %}
                                </div>
                              {% endif %}
                              {% if applicant.event %}
                                <div class="input-field col s12 m12 l6">
                                  <b>Event: </b> {{ applicant.event.name }}
                                </div>
                              {% endif %}
                              {% if applicant.resume %}
                              <div class="input-field col s12 m12 l6">
                                <b>Resume: </b> <a href="/files/{{ applicant.resume }}" target="_blank"><i class="material-icons inline-icon">attach_file</i> Attached file</a>
                              </div>
                              {% endif %}
				{% if applicant.current_company %}
				<div class="input-field col s12 m12 l6">
				<b>Current Company: </b> {{ applicant.current_company }}
				</div>
				<div class="input-field col s12 m12 l6">
				<b>Current Designation: </b> {{ applicant.current_designation }}
				</div>
				<div class="input-field col s12 m12 l6">
				<b>Current CTC: </b> {{ applicant.current_ctc }}
				</div>  
				{% endif %}
                            </div>
                          </div>
                        </div>


                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p class="green lighten-3 black-text center" style="padding:1em;">Sorry, no applicants found. Kindly choose valid filter to get list of applicants</p>
        {% endif %}
    </div>

</div>

<!-- Modal Structure -->
<div id="modal-assign-tag" class="modal">
    <div class="modal-content">
        <h6>Assign a tag to selected student</h6>
        <select id="selected-student-tag">
            <option value="" disabled>Select a student tag from the list</option>
            <option value="-1">None</option>
            {% for tag in student_tag_objs %}
                <option value="{{ tag.pk }}">{{ tag.title }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="modal-footer">
        <a class="right btn blue" onclick="assign_tag_applicants(this)">Assign Tag</a>
    </div>
</div>

<div id="modal-assign-task" class="modal">
    <div class="modal-content">
        <div class="row">
            <h6>Assign Task</h6>
            <hr>
            <br>
            <div class="col s6">
              <select id="selected-next-round">
                  {% for application_status_id, application_status_title in APPLICANT_APPLICATION_STATUS %}
                      <option value="{{ application_status_id }}">{{ application_status_title }}</option>
                  {% endfor %}
              </select>              
              <br>
            </div>

            <div class="col s12" id="div-select-quiz-for-next-round" style="display:none;">
              <div class="row">
                  <div class="input-field col s8">
                      <p>Kindly select quiz which you want to assign to selected applicants</p>
                      <select id="selected-quiz-for-next-round">
                          {% for quiz_obj in master_quiz_objs %}
                                <option value="{{ quiz_obj.pk }}">{{ quiz_obj.title }}</option>
                          {% endfor %}                
                      </select>                    
                  </div>
              </div>
              <div class="row">
                  <i class="material-icons">help</i> Optional start and end datetime field to add time constraints over quiz.
                  <div class="col s12">
                      <div class="row">
                          <div class="col s6">
                              <p>Start DateTime<sup>optional</sup></p>
                              <input type="date" name="start-date" id="input-quiz-start-date">
                              <input type="time" name="start-time" id="input-quiz-start-time">
                          </div>
                          <div class="col s6">
                              <p>End DateTime<sup>optional</sup></p>
                              <input type="date" name="end-date" id="input-quiz-end-date">
                              <input type="time" name="end-time" id="input-quiz-end-time">
                          </div>                        
                      </div>                    
                  </div>
              </div>
            </div>

            <div class="col s12" id="div-select-group-for-next-round" style="display:none;">
              <p>Kindly select group into which you want to add selected applicants</p>
              <select id="selected-group-for-next-round">
                {% for group_obj in master_group_objs %}
                    <option value="{{ group_obj.pk }}">{{ group_obj.group_name }}</option>
                {% endfor %}                
              </select>
            </div>

            <div class="col s12" id="div-select-bot-for-next-round" style="display:none;">
              <p>Kindly select bot into which you want to add selected applicants</p>
              <select id="selected-bot-for-next-round">
                {% for bot_obj in master_botathon_objs %}
                    <option value="{{ bot_obj.pk }}">{{ bot_obj.name }}</option>
                {% endfor %}                
              </select>
            </div>
           <a href="javascript:void(0)" class="waves-effect waves-green btn blue white-text right" onclick="assign_task_applicants(this)">Assign Task</a>
        </div>
    </div>
    <!--<div class="modal-footer">
        <div class="col 12 left">
            <a href="javascript:void(0)" class="modal-close waves-effect waves-green btn green darken-3 white-text" onclick="accepted_applicants(this)">Accepted</a>
            <a href="javascript:void(0)" class="modal-close waves-effect waves-green btn red darken-3 white-text" onclick="rejected_applicants(this)">Rejected</a>          
            <a href="javascript:void(0)" class="modal-close waves-effect waves-green btn grey darken-3 white-text" onclick="reset_profile_applicants(this)">Reset</a>          
        </div>
        <a href="javascript:void(0)" class="waves-effect waves-green btn blue white-text right" onclick="assign_task_applicants(this)">Assign Task</a>
    </div>-->
</div>

<div id="modal-applicant-status" class="modal">
    <div class="modal-content">
        <div class="row">
            <h6>Status</h6>
            <hr>
            <br>
        <div class="col 12">
            <a href="javascript:void(0)" class="modal-close waves-effect waves-green btn green darken-3 white-text" onclick="accepted_applicants(this)">Accept Applicant</a>
            <a href="javascript:void(0)" class="modal-close waves-effect waves-green btn red darken-3 white-text" onclick="rejected_applicants(this)">Reject Applicant</a>          
            <a href="javascript:void(0)" class="modal-close waves-effect waves-green btn grey darken-3 white-text" onclick="reset_profile_applicants(this)">Reset Profile</a>          
        </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
      <p>These are the errors please note page will be refreshed</p>
      <div id="errors"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat" onclick="window.location.reload()">Agree</a>
    </div>
</div>
  


<script type="text/javascript">
  $(document).on("change", "#selected-next-round", function(e){
      $("#div-select-quiz-for-next-round").hide();
      selected_next_round = $("#selected-next-round").val();
      if(selected_next_round=="1"){
        $("#div-select-quiz-for-next-round").show();
      }
      else if(selected_next_round == "4"){
         $("#div-select-bot-for-next-round").show();
      }
  });
  $("#selected-next-round").change();

 function assign_task(){
    $('#modal-assign-task').modal('open');
    $('#modal-assign-task').removeAttr('tabindex');
  }

  function assign_tag(){
     $('#modal-assign-tag').modal('open');
     $('#modal-assign-tag').removeAttr('tabindex');
  }

 function toggle_column(self){
    if(self.checked){
        $('.'+self.id).show();
    }
    else{
        $('.'+self.id).hide();
    }
 }

</script>

{% endblock %}
