{% extends 'EasyHireApp/administrator/base.html' %}
{% block content %}
{% load static %}

<div class="row" style="padding:1em;">
    <div class="col s12" style="margin-top:1%;">
      <h5><blockquote>Department Lists
        <a class="btn blue modal-trigger right" href="#modal-add-new-department">Add New Department</a>
      </blockquote></h5>
    </div>
    <div class="col s12">
      <br>
      <table id="table-departments-details">
          <thead>
              <tr>
                  <th>Departments</th>
                  <th>Total Applicants</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
            {% for department in department_objs %}
              <tr>
                  <td>{{ department.name }}</td>
                  <td>
                      {% for no_applicant in no_applicants %}
                    {% if no_applicant.department == department.name %}
                      <!--<a class="blue-text modal-trigger" href="#modal-applicant-department-{{ department }}"><u>{{ no_applicant.count }}</u></a>-->
                          <a class="blue-text">{{ no_applicant.count}}</a>
                    {% endif %}
                  {% endfor %}
                  <div id="modal-applicant-department-{{ department }}" class="modal" style="border:0.1em solid black;">
                <div class="modal-content row s12">
                  <div class="col s12">
                      <h6>Applicants with department: {{ department.name }}<sup>*</sup></h6>
                      <ul class="collection">
                        {% for applicant in applicant_objs %}
                          {% if applicant.department == department %}
                            <li class="collection-item"><b>Name:</b> <u>{{ applicant.name }}</u> <b>|</b>  <b>College:</b> <u>{{ applicant.college_name}}</u> <b>|</b> <b>Percentage:</b> <u>{{ applicant.percentage }}</u> <b>|</b> <b>Year of Passing:</b> <u>{{ applicant.year_of_passing }}</u> </li>
                          {% endif%}
                        {% endfor %}
                      </ul>
                    </div>
                </div>
              </div>
                  </td>
                  <td><a class="green-text modal-trigger" href="#modal-applicant-department-{{ department.pk }}"><i class="material-icons">delete</i></a></td>
              </tr>
              <div id="modal-applicant-department-{{ department.pk }}" class="modal" style="border:0.1em solid black;">
                <div class="modal-content row s12">
                  <div class="col s10">
                    <h5>Are you sure you want to <span class="red-text">delete</span> this?</h5>
                    <p> Deleting this will directly affect the candidate profile. We recommend not to delete this.</p>
                    <a href="javascript:void(0)" class="btn grey modal-close">Cancel</a>
                    <a class="btn red" id="btn-delete" onclick="delete_department('{{ department.pk }}')">Delete</a>
                  </div>
                </div>
            </div>
            {% endfor %}
          </tbody>
        </table>      
    </div>
</div>

<div id="modal-add-new-department" class="modal" style="border:0.1em solid black;">
    <div class="modal-content row s12">
      <div class="input-field col s12">
          <h6>Department Name<sup>*</sup></h6>
            <input id="input-department-name" type="text" class="validate">
        </div>
    </div>
    <div class="modal-footer">
      <a href="javascript:void(0)" class="btn grey modal-close">Cancel</a>
      <a class="btn blue safe modal-close" id="btn-add-department">Add</a>
    </div>
</div>
{% endblock %}

