{% extends 'EasyHireApp/administrator/base.html' %}
{% block content %}
{% load static %}

<div class="row" style="padding:1em;">

    <div class="col s12" style="margin-top:1%;">
        <h5>
            <blockquote>Tags
                <a class="btn blue right" href="#" onclick="open_modal('modal-add-tag')">
                    Add Tag</a>
            </blockquote>
        </h5>
    </div>
<div id="div-tag-upload" style="display: none;">
    <div class = "col s12 row">
      <div class="col s12 m3 l3" style="padding-top:20px;">
        <a class="btn blue darken-4 waves-effect waves-light right white-text" href="/static/GroupDiscussionApp/files/Upload_Panelist_Excel_Format.xlsx">Download Format</a>
      </div>
      <div class = "file-field input-field col s12 m6 l6">
        <div class = "btn blue darken-4">
          <span>Select File <sup style="color:red;">*</sup></span>
          <input id="input-upload-tag-excel" type = "file">
        </div>

        <div class = "file-path-wrapper">
          <input class = "file-path validate" id="input-upload-tag-excel-v" type = "text" placeholder = "Upload file">
        </div>
      </div>
      <div class="col s12 m3 l3" style="padding-top:20px;">
        <a class="btn blue darken-4 waves-effect waves-light right white-text" href="#" id="btn-upload-tag-excel">Import Panelists</a>
      </div>
    </div>

    <div class = "col s10 offset-s1">
      <br>
      <div class="progress" id="preloader_div" style="display: none;">
        <div class="indeterminate"></div>
      </div>
    </div>

    <div class="col s12" id="upload-tag-excel-error" style="color: red;font-size: 1.5em;display:none">

    </div>
</div>

<div class="col s12">
    {% if quiz_tag_objs %}
    <h6>
        <blockquote>Quiz Tags</blockquote>
    </h6>

    <table id="table-quiz-tags">
        <thead>
            <tr>
{#                <th>Tag</th>#}
{#                <th>Edit</th>#}
            </tr>
        </thead>

        <tbody>
            {% for tag in quiz_tag_objs %}
            <tr>
{#                <td>{{ tag.title }}</td>#}
{#                <td>#}
{#                    <a href="#modal-edit-tag-{{tag.pk}}" class="modal-trigger"><i class="material-icons center dark-blue">edit</i></a>#}
{#                </td>#}
                <td>
                    <a href="#modal-edit-tag-{{tag.pk}}" class="modal-trigger">{{tag.title}}</a>
                </td>
            </tr>
            <div id="modal-edit-tag-{{tag.pk}}" class="modal" style="border:0.1em solid black;">
                <div class="modal-content">
                    <div class="row">
                        <h6>Edit Quiz Tag</h6>
                        <input type="text" value="1" id="selected-tag-category-{{ tag.pk }}" style="display: none">
                        <div class="input-field col s12">
                            <div class="col s9">
                                <h6>Tag Title<sup>*</sup></h6>
                                <input type="text" class="validate"  name="input-tag-title" id="input-tag-title-{{tag.pk}}" value="{{tag.title}}" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" class="btn grey modal-close">Cancel</a>
                    <a class="btn blue modal-close" id="btn-edit-tag" href="#" onclick="save_tag('{{tag.pk}}')">Update</a>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="padding:1em; border: solid black 0.1em;">
        No quiz tags
    </p>
    {% endif %}

    <br>
    <hr>
    <br>

    {% if topic_tag_objs %}
    <h6>
        <blockquote>Topic Tags</blockquote>
    </h6>

    <table id="table-topic-tags">
        <thead>
            <tr>

            </tr>
        </thead>

        <tbody>
            {% for tag in topic_tag_objs %}
            <tr>
                <td>
                    <a href="#modal-edit-tag-{{tag.pk}}" class="modal-trigger">{{tag.title}}</a>
                </td>
            </tr>
            <div id="modal-edit-tag-{{tag.pk}}" class="modal" style="border:0.1em solid black;">
                <div class="modal-content">
                    <div class="row">
                        <h6>Edit topic Tag</h6>
                        <input type="text" value="2" id="selected-tag-category-{{ tag.pk }}" style="display: none">
                        <div class="input-field col s12">
                            <div class="col s9">
                                <h6>Tag Title<sup>*</sup></h6>
                                <input type="text" class="validate"  name="input-tag-title" id="input-tag-title-{{tag.pk}}" value="{{tag.title}}" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" class="btn grey modal-close">Cancel</a>
                    <a class="btn blue modal-close" id="btn-edit-tag" href="#" onclick="save_tag('{{tag.pk}}')">Update</a>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="padding:1em; border: solid black 0.1em;">
        No topic tags
    </p>
    {% endif %}

    <br>
    <hr>
    <br>

    {% if student_tag_objs %}
    <h6>
        <blockquote>Student Tags</blockquote>
    </h6>

    <table id="table-student-tags">
        <thead>
            <tr>
{#                <th>Tag</th>#}
{#                <th>Edit</th>#}
            </tr>
        </thead>

        <tbody>
            {% for tag in student_tag_objs %}
            <tr>
{#                <td>{{ tag.title }}</td>#}
{#                <td>#}
{#                    <a href="#modal-edit-tag-{{tag.pk}}" class="modal-trigger"><i class="material-icons center dark-blue">edit</i></a>#}
{#                </td>#}
                <td>
                    <a href="#modal-edit-tag-{{tag.pk}}" class="modal-trigger">{{tag.title}}</a>
                </td>
            </tr>
            <div id="modal-edit-tag-{{tag.pk}}" class="modal" style="border:0.1em solid black;">
                <div class="modal-content">
                    <div class="row">
                        <h6>Edit student Tag</h6>
                        <input type="text" value="3" id="selected-tag-category-{{ tag.pk }}" style="display: none">
                        <div class="input-field col s12">
                            <div class="col s9">
                                <h6>Tag Title<sup>*</sup></h6>
                                <input type="text" class="validate"  name="input-tag-title" id="input-tag-title-{{tag.pk}}" value="{{tag.title}}" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" class="btn grey modal-close">Cancel</a>
                    <a class="btn blue modal-close" id="btn-edit-tag" href="#" onclick="save_tag('{{tag.pk}}')">Update</a>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p style="padding:1em; border: solid black 0.1em;">
        No student tags
    </p>
    {% endif %}



</div>
</div>

<div id="modal-add-tag" class="modal" style="border:0.1em solid black;">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12">
                <div class="col s12">
                    <select id="selected-tag-category--1">
                        <option value="" disabled selected>Select category of tag</option>
                        {% for tag_type in TAG_CATEGORY_CHOICES %}
                            <option value="{{ tag_type.0 }}">{{ tag_type.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="input-field col s12">
                <div class="col s12">
                    <h6>Tag Title<sup>*</sup></h6>
                    <input type="text" class="validate"  name="input-tag-title" id="input-tag-title--1" required>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn grey modal-close">Cancel</a>
        <a class="btn blue modal-close" id="btn-add-tag" onclick="save_tag(-1)">Add</a>
    </div>
</div>

<script>

function show_upload_info() {
    $('#div-tag-upload').show();
}

function open_modal(modal_id){
        $('#'+modal_id).modal('open');
        $('#'+modal_id).removeAttr('tabindex');
    }

</script>

{% endblock %}
