{% extends 'EasyHireApp/administrator/base.html' %}
{% block content %}
{% load static %}

<div class="row" style="padding:1em;">
    <div class="col s12" style="margin-top:1%;">
      <h5><blockquote>Event Lists
        <a class="btn blue modal-trigger right" href="#modal-add-new-event">Add New Event</a>
      </blockquote></h5>
    </div>
    <div class="col s12">
      <br>
      <table id="table-events-details">
          <thead>
              <tr>
                  <th>Events</th>
                  <th>Category</th>
                  <th>Total Applicants</th>
                  <th>Edit</th>
                  <th>Current Status</th>
                  <th>Download</th>
                 <!--<th>Delete</th>-->
              </tr>
          </thead>
          <tbody>
            {% for event in event_objs %}
              <tr>
                  <td><a class="blue-text modal-trigger" href="#modal-applicant-event-quiz-{{ event }}"><u>{{ event.name }}</u></a>
                  <div id="modal-applicant-event-quiz-{{ event }}" class="modal" style="border:0.1em solid black;">
                    <div class="modal-content row s12">
                      <div class="col s12">
                          <h6>Quiz for this hiring process<sup>*</sup></h6>
                          <ul class="collection">
                            {% with event.get_all_quiz as event_quizzes %}
                                {% for quiz in event_quizzes %}
                                    <li class="collection-item">{{ quiz }}</li>
                                {% endfor %}
                            {% endwith %}
                          </ul>
                        </div>
                    </div>
                  </div>
                  </td>

                  <td>{{ event.get_category }}</td>

                  <td>
                      {% for no_applicant in no_applicants %}
                    {% if no_applicant.event == event.name %}
                      <a class="blue-text">{{ no_applicant.count }}</a>
                    {% endif %}
                  {% endfor %}
                   <!--
                  <div id="modal-applicant-event-{{ event }}" class="modal" style="border:0.1em solid black;">
                <div class="modal-content row s12">
                  <div class="col s12">
                      <h6>Applicants with event: {{ event.name }}<sup>*</sup></h6>
                      <ul class="collection">
                        {% for applicant in applicant_objs %}
                          {% if applicant.event == event %}
                            <li class="collection-item"><b>Name:</b> <u>{{ applicant.name }}</u> <b>|</b>  <b>College:</b> <u>{{ applicant.college_name}}</u> <b>|</b> <b>Percentage:</b> <u>{{ applicant.percentage }}</u> <b>|</b> <b>Year of Passing:</b> <u>{{ applicant.year_of_passing }}</u> </li>
                          {% endif%}
                        {% endfor %}
                      </ul>
                    </div>
                </div>
              </div>-->
                  </td>
                  <td><a class="blue-text modal-trigger" href="#modal-applicant-event-edit-{{ event.pk }}"><i class="material-icons">edit</i></a></td>
                  <td>
                    {% if event.is_activated %}
                    <a class="btn green safe modal-close" id="btn-deactivate" onclick="deactivate_event('{{ event.pk }}')">Active</a>
                  {% else %}
                    <a class="btn red safe modal-close" id="btn-activate" onclick="activate_event('{{ event.pk }}')">Deactive</a>
                  {%endif%}
                  </td>
                  <td><a class="green-text" onclick="download_event_excel('{{ event.pk }}')"><i class="material-icons">cloud_download</i></a></td>
                  <!--<td><a class="green-text modal-trigger" href="#modal-applicant-event-{{ event.pk }}"><i class="material-icons">delete</i></a></td>-->
              </tr>
              <!--<div id="modal-applicant-event-{{ event.pk }}" class="modal" style="border:0.1em solid black;">
                <div class="modal-content row s12">
                  <div class="col s10">
                    <h5>Are you sure you want to <span class="red-text">delete</span> this?</h5>
                    <p> Deleting this will directly affect the candidate profile. We recommend not to delete this.</p>
                    <a href="javascript:void(0)" class="btn grey modal-close">Cancel</a>
                    <a class="btn red" id="btn-delete" onclick="delete_event('{{ event.pk }}')">Delete</a>
                  </div>
                </div>
            </div>-->
            <div id="modal-applicant-event-edit-{{ event.pk }}" class="modal" style="border:0.1em solid black;">
                <div class="modal-content row s10">
                  <div class="col s10">
                    <h5><u>{{ event.name }}</u></h5>

                    <div class="col s12">
                        <label>Select Category</label>
                        <select id="selected-event-category-{{ event.pk }}">
                            <option value="1" {% if event.category == "1" %} selected{% endif %}>Campus</option>
                            <option value="2" {% if event.category == "2" %} selected{% endif %}>Walk-in</option>
                            <option value="4" {% if event.category == "4" %} selected{% endif %}>All</option>
                        </select>
                    </div>
			<hr>
                     <div class="col s12">
                      <label>Select Quiz</label>
                      <select multiple id="multiple-select-event-quiz-edit-{{ event.pk }}">
                        <option value="">Choose from the following</option>
                        {% with event.get_all_quiz as event_quizzes %}
                        {% for quiz_obj in quiz_objs %}
                              {% if quiz_obj in event_quizzes %}
                                <option value="{{ quiz_obj.pk }}" selected>{{ quiz_obj }}</option>
                              {% else %}
                                <option value="{{ quiz_obj.pk }}">{{ quiz_obj }}</option>
                              {% endif %}
                        {% endfor %}
                        {% endwith %}
                           
                      </select>
                    </div>
                    <div class="modal-footer">
                    <a class="btn green right" id="btn-edit" onclick="edit_event('{{ event.pk }}')">Save</a>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
          </tbody>
        </table>      
    </div>
</div>

<div id="modal-add-new-event" class="modal" style="border:0.1em solid black;">
    <div class="modal-content row s12">
      <div class="input-field col s12">
          <h6>Event Name<sup>*</sup></h6>
            <input id="input-event-name" type="text" class="validate">
      </div>

      <div class="col s12">
        <label>Select Category</label>
        <select id="selected-event-category">
            <option value="1">Campus</option>
            <option value="2">Walk-in</option>
            <option value="4">All</option>
        </select>
    </div>

      <div class="input-field col s12">
          <h6>Quiz<sup>*</sup></h6>
            <select id="multiple-select-event-quiz" multiple>
              <option value="">Choose from the following</option>
              {% for quiz_obj in quiz_objs %}
                <option value="{{ quiz_obj.pk }}">{{ quiz_obj }}</option>
              {% endfor %}
            </select>
      </div>
    </div>
    <div class="modal-footer">
      <a href="javascript:void(0)" class="btn grey modal-close">Cancel</a>
      <a class="btn blue safe modal-close" id="btn-add-event">Add</a>
    </div>
</div>
{% endblock %}

