{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>EasyHire | Macleods</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="Description" content="Adaptive quizzing platform for Macleods">
  <meta name="Keywords" content="job, internship">
  <link href="/static/EasyHireApp/img/macleods-logo-1.png" rel="icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/EasyHireApp/css/select2.min.css" rel="stylesheet"/>
  <link href="/static/EasyHireApp/css/materialize.min.css" type="text/css" rel="stylesheet" 
  media="screen,projection"/>
  <link href="/static/EasyHireApp/css/style.css" type="text/css" rel="stylesheet" 
  media="screen,projection"/>
  <!--  Scripts-->
  <script src="/static/EasyHireApp/js/jquery-3.3.1.min.js"></script>
  <script src="/static/EasyHireApp/js/materialize.min.js"></script>
  <style type="text/css">
    nav ul li a{
      color: black;
    } 
  a.btn {
    margin-right:1em; 
    background-color:#0d47a1; 
    color:white; 
    border:solid black 0.1em;
  }
  a.btn:hover{
    color:black;
    background-color: white;
  }
  @media screen and (max-width: 900px) {
      .image-logo{
        width: 15%;
        padding-top: 1em;
      }
    }

    @media screen and (max-width: 600px) {
      .image-logo{
        padding-top: 0.7em;
        width: 20%;
      }
      #div-notes-id{
       display: none;
      }
    }
  </style>

  <style type="text/css" media="print">
      * { display: none; }
  </style>

</head>
<body>
  {% csrf_token %}
<input type="hidden" id="quiz_status_obj" value="{{quiz_status_obj}}">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper grey lighten-5">
        <div class="container">
          <a href="#" class="brand-logo left black-text"><img class="image-logo"  src="{% static 'EasyHireApp/img/macleods-logo-1.png' %}" width="10%"></a>
          <ul class="right black-text">
              <li>
                <div class="row" id="global-row-div-clock-div">
                  <div id="global-clockdiv" class="center"></div>    
                </div>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="row">

    <div id="div-notes-id"  class="col s12 m3 l3">
      <div class="card-panel">
        <div class="row">
            <p style="padding:1em;" class="grey lighten-3 center"><b>Make your notes</b></p>
            <textarea style="height:25em !important;"></textarea>
        </div>
      </div>
    </div>

    <div class="col s12 m9 l9">
        <div class="row center" id="problem-render-preloader" style="display:none;padding:2em 1em 1em 1em;">
          <div class="preloader-wrapper active">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="div-quiz-section-list"></div>
    </div>
  </div>

<div class="row">
    <!-- Global Capture Video start -->
    <div class="col s12" style="display: none">
      <button id="btn-start-recording">Start</button>
      <button id="btn-stop-recording" disabled="disabled">Stop</button>
      <button id="btn-preview-recording" disabled="disabled" style="display:none;" >Preview</button>
      <button id="btn-take-screenshot" style="display:none;">Screenshot</button>
      <img src="" id="captured-image-from-video" style="display:none;">
      <canvas style="display:none;" id="global-canvas-video-capture"></canvas>
    </div>
    <div class="col s12" style="display:none;">
        <div class="col s12 m6 l6">
          <br>
          <video class="responsive-video" id="global-video-captured-response" controls autoplay style="height:10em;" type="video/webm"></video>                      
        </div>
    </div>
    <!-- Global Capture Video end -->          
  </div>
  <!-- Modal Structure -->
<div id="modal-end-test" class="modal">
  <div class="modal-content">
    Are you sure, you want to end the this section?
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" class="modal-close btn">Cancel</a>
    <a class="modal-close btn" id="btn-agree-end-test" onclick="end_test()">Agree</a>
  </div>
</div>

<div id="modal-timeout-test" class="modal">
  <div class="modal-content">
    Your test paper is ended. We will send result soon! Thank you for your time.
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" class="modal-close btn" id="btn-timeout-submit">Submit</a>
  </div>
</div>

<div id="modal-completed-quiz-section" class="modal">
  <div class="modal-content">
    Congratulations, you have completed this section successfully. You can now move to next section.
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" class="modal-close btn">Start Now</a>
  </div>
</div>

<div id="modal-multiple-faces-detected" class="modal">
  <div class="modal-content">
      <i class="material-icons inline-icon">warning</i> More than one faces detected!. Kindly restart the quiz.
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" class="modal-close btn">Restart Now</a>
  </div>
</div>

<input type="hidden" value="{{request.user.username}}" id="request_user">

<script type="text/javascript" src="{% static 'EasyHireApp/js/RecordRTC.js' %}"></script>
<script type="text/javascript" src="{% static 'EasyHireApp/js/adapter-latest.js' %}"></script>
<script type="text/javascript" src="{% static 'EasyHireApp/js/quiz.js' %}"></script>
<script type="text/javascript">
  onselectstart = (e) => {
  e.preventDefault()
  console.log("Text Selection is diabled")
  }
</script>

<script>
  EnableWebSocket()
</script>
</body>
</html>

