{% extends 'EasyHireApp/base.html' %}
{% block content %}
{% load static %}

<style type="text/css" media="print">
  * { display: none; }
</style>

<div class="row">
	<div class="col m2 l2">
	</div>
	<div class="col s12 m8 l8">
		<div class="card-panel">
			<div class="row">
				<div class="col s12">
					<h5>
						<p style="padding:1em;border-radius:0.5em;" class="grey lighten-3 center">Quiz Instruction</p>
					</h5>
					<hr>
				</div>
				<div class="col s12">
					<p><b>Time limit:</b> {{ quiz_config.total_quiz_time }} mins | <b>No of questions:</b> {{ quiz_config.total_no_of_questions }}</p>
					<b>Topics:</b>
					{% for topic in quiz_config.get_topic_list %}
					<div class="chip">{{ topic.name }}</div>
					{% endfor %}
					<hr>
				</div>
				<div class="col s12">
					{{ quiz_config.instruction | safe }}
					<hr>
				</div>
<!-- 				<div class="col s12">
					<p>
						<label>
							<input type="checkbox" class="filled-in" id="checkbox-switch-off-face-analytics" />
							<span class="black-text">Switch off your camera, video and image based analytics</span>
						</label>
					</p>
				</div> -->
				<!-- <div class="col s12">
					<div class="row center">
						<div class="col s12">
							<strong>
								<p style="padding:0.5em 1em 0.5em 1em;">System Checking</p>
							</strong>
						</div>
						<div class="col s12" id="check-system-error" style="display:none;">
							<strong>
								<p style="padding:0.5em 1em 0.5em 1em; color:red;">Please complete webcam and microphone testing.</p>
							</strong>
						</div>
					</div>
				</div>
 				<div class="col s12">
					<div class="row">
						<div class="col s12 m6 l6">
							<div class="row">
								<div class="col s12">
									
									<label class="left">
										<input type="checkbox" name="checkbox-video-checked" id="checkbox-video-checked" class="filled-in" disabled="disabled" />
										<span></span>
									</label>
									

									<button id="btn-check-video-start" class="btn">Check Webcam</button>
									<button id="btn-check-video-stop" class="btn" disabled="disabled">Stop</button>

								</div>

								<div class="col s12">
									<br>
									<canvas style="display:none;" id="global-canvas-video-capture"></canvas>
									<video class="responsive-video" id="global-video-captured-response" controls autoplay style="height:10em;"></video>
								</div>
							</div>
						</div>
						<div class="col s12 m6 l6">
							<div class="row">
								<div class="col s12">
									
									<label class="left">
										<input type="checkbox" name="checkbox-audio-checked" id="checkbox-audio-checked" class="filled-in" disabled="disabled" />
										<span></span>
									</label>
									
									<button id="btn-check-audio-start" class="btn">Check Microphone</button>
									<button id="btn-check-audio-stop" class="btn" disabled="disabled">Stop</button>

								</div>
								<div class="col s12">
									<br>
									<span id="speech_to_text_span" class="final"></span>
									<span id="interim_span" class="final"></span>
								</div>
							</div>
						</div>
					</div>
				</div>  -->
				<div class="col s12">
					<a class="btn" href="javascript:void(0)" id="btn-start-test-paper">Start Test</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col m2 l2">
	</div>
</div>

<!-- <script type="text/javascript" src="{% static 'EasySTEPApp/js/RecordRTC.js' %}"></script> -->
<!-- <script type="text/javascript" src="{% static 'EasyHireApp/js/init.js' %}"></script> -->

{% endblock %}

