{% extends 'EasyHireApp/quiz/base.html' %}
{% block content %}
{% load static %}


<div class="row" style="padding:2em;">

	<div class="col s12" style="margin-top:1%;">

		<div class="col s12">
			<a class="btn one grey white-text" onclick="history.back(-1)"><i class="material-icons 	inline-icon">arrow_back</i> Back</a>
			<a href="/manage-quiz/problem/add" class="btn blue white-text">Add New Problem</a>
			{% if is_editable %}
			<a class="btn green white-text save-problem right">Save</a>
			{% endif %}
		</div>

		{% if is_editable %}

		<div class="col s12" id="div-problem-category">
			<h6>
				<blockquote>Problem Category <sup>*</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<div class="input-field col s12 m4 l4">

				<select id="problem-category" onchange="change_topic_list()">

		                    <option value="" disabled selected>Choose problem category</option>
		                    {% for category_tuple in PROBLEM_CATEGORY_CHOICES %}
		                        {% if category_tuple.0 == problem_obj.category %}
		                            <option value="{{ category_tuple.0 }}" selected>{{ category_tuple.1 }}</option>
		                        {% else %}
		                            <option value="{{ category_tuple.0 }}">{{ category_tuple.1 }}</option>
		                        {% endif %}
		                    {% endfor %}

		                </select>

			</div>
		</div>


		<div class="col s12" id="div-problem-difficulty">
			<h6>
				<blockquote>Problem Difficulty <sup>*</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<div class="input-field col s12 m4 l4">
				<select id="problem-difficulty">

					<option value="" disabled selected>Choose problem difficulty</option>
					{% for difficulty_tuple in DIFFICULTY_CHOICES %}
						{% if difficulty_tuple.0 == problem_obj.difficulty %}
							<option value="{{ difficulty_tuple.0 }}" selected>{{ difficulty_tuple.1 }}</option>
						{% else %}
							<option value="{{ difficulty_tuple.0 }}">{{ difficulty_tuple.1 }}</option>
						{% endif %}
					{% endfor %}

				</select>
			</div>
		</div>


		<!-- <div class="col s12" id="div-problem-topics">
			<h6>
				<blockquote>Problem Topics <sup>*</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<div class="input-field col s12 m8 l8">
				<select multiple id="multiple-select-problem-topics">

					{% for topic in topics %}
						{% if topic in problem_obj.topics.all %}
							<option value="{{ topic.pk }}" selected>{{ topic.name }}</option>
						{% else %}
							<option value="{{ topic.pk }}">{{ topic.name }}</option>
						{% endif %}
					{% endfor %}

				</select>
			</div>
		</div> -->

                <div class="col s12" id="div-problem-topics">
            <h6>
                <blockquote>Problem Topics <sup>*</sup> </blockquote>
            </h6>
            <div class="divider"></div>
            <div class="input-field col s12 m8 l8">
            <div id="div-select-topic-1"
                {% if problem_obj.category == "1" or problem_obj.category == "2" %}
                    style=""
                {% else %}
                    style="display: none"
                {% endif %}>
                <select multiple id="multiple-select-problem-topics-1">
                    {% for topic in objective_topics %}
                        {% if topic in problem_obj.topics.all %}
                            <option value="{{ topic.pk }}" selected>{{ topic.name }}</option>
                        {% else %}
                            <option value="{{ topic.pk }}">{{ topic.name }}</option>
                        {% endif %}`
                    {% endfor %}
                </select>
            </div>
            <div id="div-select-topic-3"
                {% if problem_obj.category == "3" %}
                    style=""
                {% else %}
                    style="display: none"
                {% endif %}>
                <select multiple id="multiple-select-problem-topics-3">
                    {% for topic in descriptive_topics %}
                        {% if topic in problem_obj.topics.all %}
                            <option value="{{ topic.pk }}" selected>{{ topic.name }}</option>
                        {% else %}
                            <option value="{{ topic.pk }}">{{ topic.name }}</option>
                        {% endif %}`
                    {% endfor %}
                </select>
            </div>
            <div id="div-select-topic-4"
                {% if problem_obj.category == "4" %}
                    style=""
                {% else %}
                    style="display: none"
                {% endif %}>
                <select multiple id="multiple-select-problem-topics-4">
                    {% for topic in audio_topics %}
                        {% if topic in problem_obj.topics.all %}
                            <option value="{{ topic.pk }}" selected>{{ topic.name }}</option>
                        {% else %}
                            <option value="{{ topic.pk }}">{{ topic.name }}</option>
                        {% endif %}`
                    {% endfor %}
                </select>
            </div>
            <div id="div-select-topic-5"
                {% if problem_obj.category == "5" %}
                        style=""
                    {% else %}
                        style="display: none"
                    {% endif %}>
                <select multiple id="multiple-select-problem-topics-5">
                    {% for topic in video_topics %}
                        {% if topic in problem_obj.topics.all %}
                            <option value="{{ topic.pk }}" selected>{{ topic.name }}</option>
                        {% else %}
                            <option value="{{ topic.pk }}">{{ topic.name }}</option>
                        {% endif %}`
                    {% endfor %}
                </select>
            </div>
            </div>
        </div>

		<div class="input-field col s12" id="div-problem-description">
			<h6>
				<blockquote>Problem Description <sup>*</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<br>
			<div class="col s6">
				<div class="file-field input-field col s12">
					<div class="btn blue darken-4">
						<span>Upload image</span>
						<input id="input_upload_image" type="file">
					</div>
					<div class="file-path-wrapper">
						<input id="input_upload_image2" class="file-path validate" type="text">
					</div>
				</div>
				{% if problem_obj.image %}
					<div class="col s12">
						<img src="{{ problem_obj.image.url }}" class="responsive-img">
					</div>
					<div class="col s12">
						<a class="btn danger modal-trigger" href="#modal-remove-image"><i class="material-icons">delete</i></a>
					</div>
				{% endif %}
			</div>

			<div class="col s6" align="right">
				{% if problem_obj.text_to_speech %}
				<p>
					<label>
						<input type="checkbox" id="checkbox-text-to-speech" checked class="filled-in" />
						<span class="black-text">Viva Problem</span>
					</label>
				</p>
				{% else %}
				<p>
					<label>
						<input type="checkbox" id="checkbox-text-to-speech" class="filled-in" />
						<span class="black-text">Viva Problem</span>
					</label>
				</p>
				{% endif %}
			</div>
			<br>
			<div class="col s12">
				<br>
				<textarea id="problem-description" class="materialize-textarea">{{ problem_obj.description }}</textarea>
			</div>
		</div>

		<div class="col s12" id="div-problem-pdf-urls">
			<h6>
				<blockquote>PDF URL <sup>*</sup> </blockquote>
			</h6>
			<input type="text" class="validate" placeholder="Add pdf url" 
			id="input-pdf-url-value" value="{{ problem_obj.pdf }}">
		</div>

		<div class="col s12" id="div-problem-video-urls">
			<h6>
				<blockquote>Video URLs <sup>*</sup> </blockquote>
			</h6>
				<a id="btn-add-video-url"></a>
				<input id="input-video-url-value" type="text" class="validate" placeholder="Add url and hit enter">
				<div id="input-video-url-value-div">
					<ul class="collection" id="ul-video-url-collection">
						{% for option in problem_obj.get_video_url_list %}
							<li class="collection-item" id="li-collection-video-item-{{ forloop.counter }}">
								<div class="row">
									<div class="col s10">
										<input value="{{ option }}" class="video-url-collection" id="input-video-url-{{ forloop.counter }}"></input>
									</div>
									<div class="col s2">
										<i class="material-icons right" onclick="delete_selected_video_urls_from_problem('{{ forloop.counter }}')">delete</i>
									</div>
								</div>
							</li>
						{% endfor %}
				    </ul>
				</div>
			</div>


		<div class="col s12" id="div-problem-urls">
			<h6>
				<blockquote>Graph URLS <sup>*</sup> </blockquote>
			</h6>
				<a id="btn-add-url"></a>
				<input id="input-url-value" type="text" class="validate" placeholder="Add url and hit enter">
				<div id="input-url-value-div">
					<ul class="collection" id="ul-url-collection">
						{% for option in problem_obj.get_graph_url_list %}
							<li class="collection-item" id="li-collection-item-{{ forloop.counter }}">
								<div class="row">
									<div class="col s10">
										<input value="{{ option }}" class="url-collection" id="input-url-{{ forloop.counter }}"></input>
									</div>
									<div class="col s2">
										<i class="material-icons right" onclick="delete_selected_urls_from_problem('{{ forloop.counter }}')">delete</i>
									</div>
								</div>
							</li>
						{% endfor %}
				    </ul>
				</div>
			</div>
		</div>


		<div class="input-field col s12" id="div-problem-solution">
			<h6>
				<blockquote>Problem Solution <sup>*</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<br>
			<textarea id="problem-solution" style="width:100%;height:10em;border:0.5em;border:0.09em solid black;border-radius:0.5em;">{{ problem_obj.solution }}</textarea>
		</div>

		<div class="input-field col s12" id="div-problem-hint">
			<h6>
				<blockquote>Problem Hint <sup>optional</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<br>
			<textarea id="problem-hint" class="materialize-textarea">{{ problem_obj.hint }}</textarea>
		</div>

		<div class="col s12" id="div-problem-choices">

			<h6>
				<blockquote>Choices <sup>*</sup> </blockquote>
			</h6>
			<!--
			<p>*Search from existing choice list or create new choice</p>
			<div class="input-field col s12 m8 l8">
				<select multiple id="multiple-select-choices">
					{% for choice in choices %}
					{% if choice in problem_obj.choices.all %}
					<option value="{{ choice.pk }}" selected>{{ choice.value }}</option>
					{% else %}
					<option value="{{ choice.pk }}">{{ choice.value }}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
			<a class="btn modal-trigger" href="#modal-add-choice" style="margin-top:1em;">Add New Choice</a>
			-->
				<a id="btn-add-choice"></a>
				<input id="input-choice-value" type="text" class="validate" placeholder="Add option and hit enter">

				<div id="input-choice-value-div">
					<ul class="collection" id="ul-choice-collection">
						{% for option in problem_obj.get_option_list %}
							<li class="collection-item" id="li-collection-item-{{ forloop.counter }}">
								<div class="row">
									<div class="col s10">
										<input value="{{ option }}" class="choice-collection" id="input-choice-{{ forloop.counter }}"></input>
									</div>
									<div class="col s2">
										<i class="material-icons right" onclick="delete_selected_option_from_problem('{{ forloop.counter }}')">delete</i>
									</div>
								</div>
							</li>
						{% endfor %}
				    </ul>
				</div>
			</div>

		<div class="col s12" id="div-problem-correct-choices">
			<h6>
				<blockquote>Correct Choices <sup>*</sup> </blockquote>
			</h6>
			<a id="btn-add-correct-choice"></a>
			<input id="input-choice-correct-value" type="text" class="validate" placeholder="Add correct option and hit enter">

			<div id="input-choice-correct-value-div">
				<ul class="collection" id="ul-choice-correct-collection">
					{% for option in problem_obj.get_correct_option_list %}
						<li class="collection-item" id="li-collection-correct-item-{{ forloop.counter }}">
							<div class="row">
								<div class="col s10">
									<input value="{{ option }}" class="choice-correct-collection" id="input-choice-correct-{{ forloop.counter }}"></input>
								</div>
								<div class="col s2">
									<i class="material-icons right" onclick="delete_selected_correct_option_from_problem('{{ forloop.counter }}')">delete</i>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<!-- <div class="input-field col s12 m8 l8" onfocus="myFunction(this)" id="div-multiple-select-correct-choices">
				<select multiple id="multiple-select-correct-choices" >
					{% for option in problem_obj.get_option_list %}
						{% if option in problem_obj.get_correct_option_list%}
							<option value="{{ option }}" selected>{{ option }}</option>
						{% else %}
							<option value="{{ option }}">{{ option }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div> -->
		</div>

		{% else %}


		<div class="col s12" id="div-problem-category">
			<h6>
				<blockquote>Problem Category <sup>*</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<div class="input-field col s12 m4 l4">
				<select id="problem-category" disabled>
					<option value="" disabled selected>Choose problem category</option>
					{% for category_tuple in PROBLEM_CATEGORY_CHOICES %}
					{% if category_tuple.0 == problem_obj.category %}
					<option value="{{ category_tuple.0 }}" selected>{{ category_tuple.1 }}</option>
					{% else %}
					<option value="{{ category_tuple.0 }}">{{ category_tuple.1 }}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>


		<div class="col s12" id="div-problem-difficulty">
			<h6>
				<blockquote>Problem Difficulty <sup>*</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<div class="input-field col s12 m4 l4">
				<select id="problem-difficulty" disabled>
					<option value="" disabled selected>Choose problem difficulty</option>
					{% for difficulty_tuple in DIFFICULTY_CHOICES %}
					{% if difficulty_tuple.0 == problem_obj.difficulty %}
					<option value="{{ difficulty_tuple.0 }}" selected>{{ difficulty_tuple.1 }}</option>
					{% else %}
					<option value="{{ difficulty_tuple.0 }}">{{ difficulty_tuple.1 }}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>


		<div class="col s12" id="div-problem-topics">
			<h6>
				<blockquote>Problem Topics <sup>*</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<div class="input-field col s12 m8 l8">
				<select multiple id="multiple-select-problem-topics" disabled>
					{% for topic in topics %}
					{% if topic in problem_obj.topics.all %}
					<option value="{{ topic.pk }}" selected>{{ topic.name }}</option>
					{% else %}
					<option value="{{ topic.pk }}">{{ topic.name }}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>


		<div class="input-field col s12" id="div-problem-description">
			<h6>
				<blockquote>Problem Description <sup>*</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<br>
			<div class="file-field input-field col s8">
				<div class="btn blue darken-4">
					<span>Upload image</span>
					<input id="input_upload_image" type="file">
				</div>
				<div class="file-path-wrapper">
					<input id="input_upload_image2" class="file-path validate" type="text">
				</div>
			</div>
			{% if problem_obj.image %}
			<div class="col s4">
				<img src="{{ problem_obj.image.url }}" class="responsive-img">
			</div>
			{% endif %}
			<br>
			<div class="col s12">
				<textarea id="problem-description" class="materialize-textarea" disabled>{{ problem_obj.description }}</textarea>
			</div>
		</div>

		<div class="input-field col s12" id="div-problem-solution">
			<h6>
				<blockquote>Problem Solution <sup>*</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<br>
			<textarea id="problem-solution" disabled style="width:100%;height:10em;border:0.5em;border:0.09em solid black;border-radius:0.5em;">{{ problem_obj.solution }}</textarea>
		</div>

		<div class="input-field col s12" id="div-problem-hint">
			<h6>
				<blockquote>Problem Hint <sup>optional</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<br>
			<textarea id="problem-hint" class="materialize-textarea" disabled>{{ problem_obj.hint }}</textarea>
		</div>

		<!-- <div class="col s12" id="div-problem-choices">
			<h6>
				<blockquote>Choices <sup>*</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<p>*Search from existing choice list or create new choice</p>
			<div class="input-field col s12 m8 l8">
				<select multiple id="multiple-select-choices" disabled>
					{% for choice in choices %}
					{% if choice in problem_obj.choices.all %}
					<option value="{{ choice.pk }}" selected>{{ choice.value }}</option>
					{% else %}
					<option value="{{ choice.pk }}">{{ choice.value }}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
			<a class="btn modal-trigger" href="#modal-add-choice" style="margin-top:1em;">Add New Choice</a>
		</div>

		<div class="col s12" id="div-problem-correct-choices">
			<h6>
				<blockquote>Correct Choices <sup>*</sup> </blockquote>
			</h6>
			<div class="divider"></div>
			<div class="input-field col s12 m8 l8">
				<select multiple id="multiple-select-correct-choices" disabled>
					{% for choice in problem_obj.right_choices.all %}
					<option value="{{ choice.pk }}" selected>{{ choice.value }}</option>
					{% endfor %}
				</select>
			</div>
		</div> -->
			{% if problem_obj.category == "1" or problem_obj == "2" %}

			<div class="col s12" id="div-problem-choices">

				<h6>
					<blockquote>Choices <sup>*</sup> </blockquote>
				</h6>
					<div id="input-choice-value-div">
						<ul class="collection" id="ul-choice-collection">
							{% for option in problem_obj.get_option_list %}
								<li class="collection-item" id="li-collection-item-{{ forloop.counter }}">
									<div class="row">
										<div class="col s10">
											<input value="{{ option }}" class="choice-collection" id="input-choice-{{ forloop.counter }}" readonly></input>
										</div>
									</div>
								</li>
							{% endfor %}
					    </ul>
					</div>
			</div>

			<div class="col s12" id="div-problem-correct-choices">
				<h6>
					<blockquote>Correct Choices <sup>*</sup> </blockquote>
				</h6>

				<div id="input-choice-correct-value-div">
					<ul class="collection" id="ul-choice-correct-collection">
						{% for option in problem_obj.get_correct_option_list %}
							<li class="collection-item" id="li-collection-correct-item-{{ forloop.counter }}">
								<div class="row">
									<div class="col s10">
										<input value="{{ option }}" class="choice-correct-collection" id="input-choice-correct-{{ forloop.counter }}" readonly></input>
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
		{% endif %}


		<div class="col s12">
			<a class="btn one grey white-text" onclick="history.back(-1)"><i class="material-icons 	inline-icon">arrow_back</i> Back</a>
			<a href="/manage-quiz/problem/add" class="btn blue white-text">Add New Problem</a>
			{% if is_editable %}
			<a class="btn green white-text save-problem right">Save</a>
			{% endif %}
		</div>

	</div>
</div>
<!--
<div id="modal-add-choice" class="modal" style="border:0.1em solid black;">
	<div class="modal-content">
		<div class="input-field col s6">
			<h6>Choice Value</h6>
			<input id="input-choice-value" type="text" class="validate">
		</div>
	</div>
	<div class="modal-footer">
		<a href="javascript:void(0)" class="btn modal-close">Cancel</a>
		<a class="btn safe modal-close" id="btn-add-choice">Add</a>
	</div>
</div>
-->
<div id="modal-problem-video" class="modal" style="border:0.1em solid black;">
	<div class="modal-content">
		<div class="input-field col s6">
			<h6>Video URL (youtube video link/.mp4 video link)</h6>
			<input id="input-video-url" type="text" class="validate">
		</div>
	</div>
	<div class="modal-footer">
		<a href="javascript:void(0)" class="btn modal-close">Cancel</a>
		<a class="btn safe modal-close" id="btn-add-video">Add</a>
	</div>
</div>

<div id="modal-remove-image" class="modal" style="border:0.1em solid black;">
	<div class="modal-content">
		<div class="input-field col s6">
			<h6>Are you sure, you want to remove <b>image</b> from this problem?</h6>
		</div>
	</div>
	<div class="modal-footer">
		<a href="javascript:void(0)" class="btn modal-close">Cancel</a>
		<a class="btn danger modal-close remove-problem-image" id="btn-remove-problem-image-{{ problem_obj.pk }}">Remove</a>
	</div>
</div>

<div id="modal-remove-video" class="modal" style="border:0.1em solid black;">
	<div class="modal-content">
		<div class="input-field col s6">
			<h6>Are you sure, you want to remove <b>video</b> from this problem?</h6>
		</div>
	</div>
	<div class="modal-footer">
		<a href="javascript:void(0)" class="btn modal-close">Cancel</a>
		<a class="btn danger modal-close remove-problem-video" id="btn-remove-problem-video-{{ problem_obj.pk }}">Remove</a>
	</div>
</div>

<script type="text/javascript">
	CKEDITOR.replace('problem-description');
	// CKEDITOR.replace( 'problem-solution');
	CKEDITOR.replace('problem-hint');
</script>

{% endblock %}
