{% extends 'EasyHireApp/quiz/base.html' %}
{% block content %}
{% load static %}

<div class="row" style="padding:1em;">

	<div class="col s12">
		<a class="btn modal-trigger right green darken-3" href="#modal-add-quiz-config">Add Quiz</a>
	</div>

	<div class="col s12" style="margin-top:1%;">
		{% if quiz_objs %}

				<table id="table-manage-quiz">
					<thead>
						<tr>
							<th>Title</th>
							<th>Tag</th>
							<th>No of sections</th>
							<th>Total time (mins)</th>
							<th>Total questions</th>
							<th>Delete</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						{% for quiz_obj in quiz_objs %}
							<tr>
								<td>
									<a href="/manage-quiz/quiz/edit/{{ quiz_obj.pk }}">
									{{ quiz_obj.title }}</a>
								</td>
								<td>{{ quiz_obj.tag }}</td>
								<td>{{ quiz_obj.total_sections }}</td>
								<td>{{ quiz_obj.total_quiz_time }}</td>
								<td>{{ quiz_obj.total_no_of_questions }}</td>
								<td>
									{% if quiz_obj.is_editable %}
									<a class="red-text text-darken-3 modal-trigger" href="#modal-delete-quiz-{{ quiz_obj.pk }}">
										<i class="material-icons">delete</i>
									</a>
									{% else %}
									<a class="grey-text tooltipped" data-tooltip="Delete is disabled">
									    <i class="material-icons">delete</i>
									</a>
									{% endif %}
								</td>
								<td>
									{% if quiz_obj.is_activated %}
										<a class="btn green safe" id="btn-deactivate" onclick="deactivate_quiz('{{ quiz_obj.pk }}')">Active</a>
									  {% else %}
										<a class="btn red safe" id="btn-activate" onclick="activate_quiz('{{ quiz_obj.pk }}')">Deactive</a>
									{%endif%}
								</td>
							</tr>

							<!-- Modal for Activating Quiz -->
							<div id="modal-activate-quiz-{{ quiz_obj.pk }}" class="modal" style="border:0.1em solid black;">
								<div class="modal-content">
									<h6>Activating this quiz will deactivate all other quiz with same name as <b>{{ quiz_obj.title }}</b></h6>
                                    <p>Do you want to still want to activate this quiz?</p>
								</div>
								<div class="modal-footer">
									<a href="javascript:void(0)" class="btn modal-close white black-text">Cancel</a>
									<a class="btn darken-3 modal-close" id="btn-activate-quiz-{{ quiz_obj.pk }}" onclick="activate_quiz('{{ quiz_obj.pk }}')">Activate</a>
								</div>
							</div>

							<!-- Modal for Deactivating Quiz -->
							<div id="modal-activate-quiz-{{ quiz_obj.pk }}" class="modal" style="border:0.1em solid black;">
								<div class="modal-content">
									<h6>Activating this quiz will deactivate all other quiz with same name as <b>{{ quiz_obj.title }}</b></h6>
                                    <p>Do you want to still want to activate this quiz?</p>
								</div>
								<div class="modal-footer">
									<a href="javascript:void(0)" class="btn modal-close white black-text">Cancel</a>
									<a class="btn darken-3 modal-close" id="btn-activate-quiz-{{ quiz_obj.pk }}" onclick="activate_quiz('{{ quiz_obj.pk }}')">Activate</a>
								</div>
							</div>

							<div id="modal-delete-quiz-{{ quiz_obj.pk }}" class="modal" style="border:0.1em solid black;">
								<div class="modal-content">
									<h6>Are you sure, you want to delete <b>{{ quiz_obj.title }}</b> quiz conf?</h6>
                                                                        <p>Deleting this will affect candidate report card. We recommend not to delete this.</p>
								</div>
								<div class="modal-footer">
									<a href="javascript:void(0)" class="btn modal-close white black-text">Cancel</a>
									<a class="btn red darken-3 modal-close delete-quiz-config" id="btn-delete-quiz-{{ quiz_obj.pk }}">Delete</a>
								</div>
							</div>

							
						{% endfor %}

					</tbody>
				</table>

		{% else %}

			<p style="padding:1em; border: solid black 0.1em;">No quiz conf available. Please create atleast one quiz configuuration for hosting quiz.</p>

		{% endif %}

	</div>


</div>

<div id="modal-add-quiz-config" class="modal" style="border:0.1em solid black;">
	<div class="modal-content">
		<div class="input-field col s6">
			<h6>Quiz title</h6>
			<input id="quiz-title" type="text" class="validate">
		</div>
	</div>
	<div class="modal-footer">
		<a href="javascript:void(0)" class="btn modal-close white black-text">Cancel</a>
		<a class="btn safe modal-close green darken-3" id="btn-add-quiz-config">Add</a>
	</div>
</div>

{% endblock %}
