
{% extends 'EasyHireApp/quiz/base.html' %}
{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div class="row" style="padding:1em;">

  <div class="col s12 left">
    <a class="btn one grey white-text" onclick="history.back(-1)"><i class="material-icons  inline-icon">arrow_back</i> Back</a>
    <a href="/manage-quiz/problem/add" class="btn blue white-text">Add New Problem</a>
    {#<a class="btn red darken-3 white-text right modal-trigger" href="#modal-delete-selected-problem" style="display:none;" id="delete-selected-problem">delete selected</a>#}
    {% if not can_delete %}
    <a class="btn grey darken-3  white-text right modal-trigger tooltipped"   data-position="bottom" data-tooltip="Problem under on-going Quiz cannot be deleted. Kindly deactivate"   style="display:none;" id="delete-selected-problem" >delete selected</a>
    {% else %}
    <a class="btn red darken-3 white-text right modal-trigger tooltipped"    href="#modal-delete-selected-problem" style="display:none;" id="delete-selected-problem">delete selected</a>
    {% endif %}
    
        <a href="javascript:void(0)" class="btn green white-text right" onclick="download_topic_problems('{{topic_obj.pk}}')">Export Problems</a>
    
  </div>

	<br>
    <div class="col s12 center">
    <p style="padding:1em; border-radius:0.5em;" class="grey lighten-3 black-text ">{{ topic_obj.name }}

        {% if topic_obj.category == "1" or topic_obj.category == "2" %}
        - Objective
        {% elif topic_obj.category == "3" %}
        - Descriptive
        {% elif topic_obj.category == "5" %}
        - Video
        {% endif %}
    </p>
  </div>

  <div class="input-field col s12 m6 l6">
    <span>Topic Tag</span>
    <div class="row">
        <div class="col s12 m8 l8">
            <select id="select-topic-tag" style="padding-top: 1em">
                <option val="-1"
                {% if topic_obj.tag is None %}
                    selected
                {% endif %}
                >None</option>
                {% for tag in topic_tag_objs %}
                    <option value="{{tag.pk}}"
                    {% if topic_obj.tag == tag %}
                        selected
                    {% endif %}
                    >{{tag.title}}</option>
                {% endfor %}
            </select>
        </div>
        <a class="btn col s12 m2 l2" onclick="change_topic_tag('{{ topic_obj.pk }}')">Save</a>
    </div>
  </div>

   {% if topic_obj.category is None or topic_obj.category == "" %}
        <div class="input-field col s12 m6 l6">
            <span>Topic Category</span>
            <div class="row">
                <div class="col s12 m8 l8">
                    <select id="select-topic-category" style="padding-top: 1em">
                        <option value="" selected>None</option>
                        <option value="1">Objective</option>
                        <option value="3">Descriptive</option>
                        <option value="5">Video</option>
                    </select>
                </div>
                <a class="btn col s12 m2 l2" onclick="save_topic_category('{{ topic_obj.pk }}')">Save</a>
            </div>
        </div>
    {% endif %}

    {% if problem_objs %}
      <div class="row">
      <table class="col s12 m8 l8">
        <thead>
          <tr>
            <td> Total: {{topic_obj.no_questions }}</td>
            <td> Easy Questions: {{topic_obj.no_easy_question }}</td>
          </tr>
          <tr>
            <td> Medium Questions: {{topic_obj.no_medium_question }}</td>
            <td> Hard Questions: {{topic_obj.no_hard_question }}</td>
          </tr>
        </thead>
      </table>
      <div class="col s12 m4 l4">
        <canvas id="canvas-problem-distribution">

        </canvas>
      </div>

      </div>

      <table class="striped highlight">
        <thead>
          <tr>
              <th>
                <p>
                  <label>
                    <input type="checkbox" name="input-checkbox-selected-problem" 
                    id="global-selected-problem" class="filled-in">
                    <span></span>
                  </label>
                </p>
              </th>
              <th style="width:10%">Last Modified</th>
              <th style="width:5%">Typed by</th>
              <th style="width:30%">Problem</th>
	      <th style="width:15%">Difficulty</th>		
              <th style="width:10%">Total Attempts</th>
              <th style="width:10%">No of correct answer</th>
              <th style="width:5%"></th>
          </tr>
        </thead>
        <tbody>
        	{% for problem in problem_objs %}
	          <tr>
              <td>
                <p>
                  <label>
                    <input type="checkbox" name="input-checkbox-selected-problem-{{ problem.pk }}" id="input-checkbox-selected-problem-{{ problem.pk }}" class="filled-in selected-problem">
                    <span></span>
                  </label>
                </p>                
              </td>
	            <td style="width:10%">{{ problem.date }}</td>
	            <td style="width:5%">{{ problem.typed_by.username }}</td>
	            <td style="width:40%"><u><a href="/manage-quiz/problem/edit/{{ problem.pk }}" class="black-text">{{ problem.get_shorten_description | safe }}</a></u></td>
              <td style="width: 15%;">{{ problem.get_problem_difficuly_title }}</td>
              <td style="width:10%">{{ problem.total_attempts }}</td>
              <td style="width:10%">{{ problem.correct_attempts }}</td>
              <td id="td-problem-status-{{ problem.pk }}">
                {% if problem.is_active %}
                    <a class="btn green tooltipped" href="javascript:void(0)" onclick="toggle_problem_visibility({{ problem.pk }})" data-tooltip="Deactivate Problem">Active</a>
                {% else %}
                    <a class="btn red tooltipped" href="javascript:void(0)" onclick="toggle_problem_visibility({{ problem.pk }})" data-tooltip="Activate Problem">Inactive</a>
                {% endif %}
              </td>
              <td style="width:5%">
                {% if problem.typed_by.username == request.user.username %}
		    {% if problem.is_editable %}
                	<a class="modal-trigger" href="#modal-delete-problem-{{ problem.pk }}"><i class="material-icons red-text text-darken-4">delete</i></a>
		    {% else %}
		        <a class=""><i class="material-icons grey-text tooltipped" data-position="bottom" data-tooltip="Delete is disabled">delete</i></a>
                    {% endif %}
		{% endif %}
              </td>
	          </tr>

            {% if problem.typed_by.username == request.user.username %}
              <div id="modal-delete-problem-{{ problem.pk }}" class="modal">
                <div class="modal-content">
                  Are you sure, you want to delete this problem?
                </div>
                <div class="modal-footer">
                  <a href="javascript:void(0)" class="modal-close btn">Close</a>
                  <a href="/manage-quiz/delete-problem/{{ topic_obj.pk }}?problem_id={{ problem.pk }}" 
                  class="modal-close btn danger">Delete</a>
                </div>
              </div>
            {% endif %}

	        {% endfor %}
        </tbody>
      </table>	
      {% else %}
        <div class="col s12 center">
          <p style="padding:1em; border-radius:0.5em;" class="grey lighten-3 black-text ">No problems</p>
        </div>
      {% endif %}

      <!-- pagination starts -->
      <div class="col s12 right-align">
          {% if problem_objs.has_other_pages %}
            <ul class="pagination">
              {% if problem_objs.has_previous %}
                <li><a href="?page={{ problem_objs.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
              {% else %}
                <li class="disabled"><i class="material-icons">chevron_left</i></li>
              {% endif %}
              {% for i in problem_objs.paginator.page_range %}
                {% if problem_objs.number == i %}
                  <li class="active blue darken-4"><a href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if problem_objs.has_next %}
                <li><a href="?page={{ problem_objs.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
              {% else %}
                <li class="disabled"><i class="material-icons">chevron_right</i></li>
              {% endif %}
            </ul>          
          {% endif %}
      </div>
      <!-- pagination ends -->

  <div class="col s12" style="margin-top:2%;">
      <hr>
  </div>

    <div class="col s12">
      <h5><blockquote>Import Questions from another topic
      </blockquote></h5>
    </div>

    <div class = "col s12">
        <div class="row">
          <div class="col s12 m6 l6">
            <select id="selected-import-topic">
                <option value="">Choose a topic*</option>
                {% for topic in topics %}
                  <option value="{{topic.pk}}">{{topic.name}}</option>
                {% endfor %}
            </select>
          </div>
        </div>
    </div>

    <div class = "col s10 offset-s1">
      <br>
      <div class="progress" id="preloader_div_import" style="display: none;">
        <div class="indeterminate"></div>
      </div>
    </div>
    <div class="col s12">
      <a class="col s6 m2 l2 btn blue darken-4 waves-effect waves-light right" id="btn-import-question" onclick="import_question_from_topic(false, '{{ topic_obj.pk }}')">Import
      </a>
      <br><br>
      {#<a class="col s6 m3 l3 btn red darken-4 waves-effect waves-light right" id="btn-delete-import-question" onclick="import_question_from_topic(true, '{{ topic_obj.pk }}')">Delete existing and import#}
      {% if can_delete %}
      <a class="col s6 m3 l3 btn red darken-4 waves-effect waves-light right"  id="btn-delete-import-question" onclick="import_question_from_topic(true, '{{ topic_obj.pk }}')">Delete existing and import
      {% endif %}
      </a>
    </div>
    <div class="col s12">
      <h5><blockquote>Upload Questions from Excel
      </blockquote></h5>
    </div>

    <div class = "col s12">
        <div class="row">
          <div class="col s12 m6 l6">
            <br>
            <!--<select id="selected-question-type-excel-upload">
                <option value="">Choose type of questions*</option>
                <option value="1">Descriptive</option>
                <option value="2">Multiple Choice</option>
		<option value="3">Video Questions</option>
            </select> -->
            {% if topic_obj.category == "1" or topic_obj.category == "2" %}
                <input id="selected-question-type-excel-upload" type="text" value="2" readonly style="display: none">
                <h6>MCQ Questions</h6>
              {% elif topic_obj.category == "3" %}
              <input id="selected-question-type-excel-upload" type="text" value="1" readonly style="display: none">
                <h6>Descriptive Questions</h6>
              {% else %}
              <input id="selected-question-type-excel-upload" type="text" value="3" readonly style="display: none">
                <h6>Video Questions</h6>
              {% endif %}
          </div>

          <div class="col s12 m6 l6">
              {% if topic_obj.category == "1" or topic_obj.category == "2" %}
                <a class="btn blue darken-4 waves-effect waves-light right white-text" href="/static/EasyHireApp/files/Upload_Excel_Format.xlsx">Download MCQ Excel Format</a>
                <br><br>
              {% endif %}
              {% if topic_obj.category == "3"%}
                <a class="btn blue darken-4 waves-effect waves-light right white-text" href="/static/EasyHireApp/files/Upload_Descriptive_Excel_Format.xlsx">Download Descriptive Excel Format</a>
                <br><br>
              {% endif %}
              {% if topic_obj.category == "5" %}
                <a class="btn blue darken-4 waves-effect waves-light right white-text" href="/static/EasyHireApp/files/Upload_Video_Excel_Format.xlsx">Download Video Excel Format</a>
              {% endif %}
          </div>
        </div>
    </div>

    <div class = "col s10 offset-s1">
      <br>
      <div class="progress" id="preloader_div" style="display: none;">
        <div class="indeterminate"></div>
      </div>
    </div>

    <div class = "col s12">
      <div class = "file-field input-field col s12 m6 l8">
        <div class = "btn blue darken-4">
          <span>Select File <i class="material-icons" style="font-size: 0.6em;color: #cc0000;vertical-align: super;">star</i></span>
          <input id="input-upload-questions-excel" type = "file">
        </div>

        <div class = "file-path-wrapper">
          <input class = "file-path validate" id="input-upload-questions-excel-v" type = "text" placeholder = "Upload file">
        </div>
      </div>
    </div>

    <div class="col s12">
      <a class="col s4 m2 l2 btn blue darken-4 waves-effect waves-light right" id="btn-upload-questions-excel">Upload
      </a>
    </div>  
    
    <div class="col s12" id="upload-questions-excel-error" style="color: red;font-size: 1.5em;display:none">
      
    </div>

    <div class="col s12">
        <br><br>
        <br><br>      
    </div>

    <div id="modal-delete-selected-problem" class="modal">
      <div class="modal-content">
        Are you sure, you want to delete selected problem from this topic?
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-close btn">cancel</a>
        <a href="javascript:void(0)" class="modal-close btn danger" id="btn-delete-selected-problem">delete</a>
      </div>
    </div>
	
</div>


<script>
var ctx = document.getElementById("canvas-problem-distribution").getContext("2d");

data = [parseInt('{{topic_obj.no_easy_question}}'),parseInt('{{topic_obj.no_medium_question}}'),parseInt('{{topic_obj.no_hard_question}}')];
data2 = [parseInt('{{topic_obj.no_questions}}')];

var config = {
    type: 'doughnut',
    data: {
        datasets: [{
            data: data,
            backgroundColor: [
                "#46BFBD",
                "#FDB45C",
                "#F7464A"
            ],
        }],
        labels: [
            "Easy",
            "Medium",
            "Hard",
        ]
    },
    options: {
        responsive: true,
        rotation: 1 * Math.PI,
        circumference: 1 * Math.PI
    }
};
var myDoughnut = new Chart(ctx, config);
</script>

{% endblock %}
