{%extends 'base.html'%}
{% block start %}

<style type="text/css">
    .bg-1 {
        background: #ECECF8;
    }
</style>
<div class="section-header">
    <h1>Add Pakage</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item">Add Pakage</div>
    </div>
</div>


<div class="card">
    <!-- <div class="card-header">
    <h4>Horizontal Form</h4>
  </div> -->
    <div class="card-body">
        {% include "utils/alert.html" %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-row mb-4">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Package title</label>
                    <input type="text" name="package_title" class="form-control" required
                       id="inputEmail4" placeholder="Enter Package title">
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="degree4">Expiry date </label>
                        <input type="text" class="form-control mb-4" id="degree4" placeholder="Add your work here" value="">
                    </div>
                </div>
            
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Web image</label>
                            <input type="file" class="form-control mb-4" id="degree3" placeholder="Add your subjects" value="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="degree4">Mobile image</label>
                            <input type="file" class="form-control mb-4" id="degree4" placeholder="Add your work here" value="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <textarea class="form-control" placeholder="Package description" cols="100" rows="50"></textarea>
            </div>


        </div>

            




            <button type="submit" class="btn btn-primary mt-3">Add Package</button>
        </form>

      </div>
    
</div>
        <div class="card mt-5">
            <div class="card-header bg-primary text-white">
                <h4 class="text-white">ADD ITEMS</h4>
                <div class="card-header-action">
                    <a data-collapse="#mycard-collapse" class="btn btn-icon btn-danger " style="border-radius: 4px;"
                        href="#">
                        Collapse <i class="fas fa-chevron-up"></i></a>
                </div>
            </div>
            <div class="collapse show" id="mycard-collapse" style="">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <select id="inputState" class="form-control">
                                <option selected="">Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="input-group ">
                                <input type="text" class="form-control" placeholder="Search item category here"
                                    aria-label="">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                All Category
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12 bg-1" id="dragparent">
                    <div id="container1" class="container">
                        
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="card bg-1">
                    <div class="card-header bg-primary p-2" style="min-height: 43px;">
                        <h4 class="ml-2 text-white">Input Text</h4>
                        <div id="container2">

                            <button class="btn btn-success" type="button">Drop lesson here </button>

                        </div>
                    </div>

                    <div class="card-body">
                    </div>

                </div>
            </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.6/dragula.min.js"
            integrity="sha512-MrA7WH8h42LMq8GWxQGmWjrtalBjrfIzCQ+i2EZA26cZ7OBiBd/Uct5S3NP9IBqKx5b+MMNH1PhzTsk6J9nPQQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.6/dragula.css" integrity="sha512-gGkweS4I+MDqo1tLZtHl3Nu3PGY7TU8ldedRnu60fY6etWjQ/twRHRG2J92oDj7GDU2XvX8k6G5mbp0yCoyXCA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

        <script>
            let one = document.querySelector('#container1')
            let two = document.querySelector('#container2')

            var drake = dragula([one, two])

            drake.on('drag', function (el, source) {
                console.log(el, source)
            })
            drake.on('drop', function (el, target) {
                console.log(el, target)

                el.style.border = '5px dashed white';
                // el.innerText = "Drag MEEEE :)"

            })
        </script>

        <div class="card-footer text-right">
            <button class="btn btn-primary">Save & Next</button>
            <button class="btn btn-success">Save & Close</button>
        </div>
    </div>

    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="row layout-top-spacing" id="cancel-row">
                <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                    <div class="widget-content widget-content-area br-6">
                        <div id="zero-config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div style="margin-left:-50px !important">
                               
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(".tagging").select2({
            tags: true
        });
    </script>
    {% endblock %}