{%extends 'base.html'%}
{% block start %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.6/dragula.min.js"
    integrity="sha512-MrA7WH8h42LMq8GWxQGmWjrtalBjrfIzCQ+i2EZA26cZ7OBiBd/Uct5S3NP9IBqKx5b+MMNH1PhzTsk6J9nPQQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- multiple select function -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<style type="text/css">
    .bg-1 {
        background: #ECECF8;
    }
</style>
<div class="section-header">
    <h1>Add Pakage</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active">
            <button class="btn btn-success" onclick="addChapters()">
                Add Chapter
            </button>
        </div>
    </div>
</div>
<div id="main_id">
    <div class="card mt-5">
        <div class="card-header bg-primary text-white">
            <h4 class="text-white">ADD ITEMS</h4>
            <div class="card-header-action">
                <a data-collapse="#mycard-collapse" class="btn btn-icon btn-danger " style="border-radius: 4px;"
                    href="#">
                    Collapse <i class="fas fa-chevron-up"></i></a>
            </div>
        </div>
        <div class="collapse show" id="mycard-collapse" style="">
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Select Subject</label>
                        <div class="input-group ">
                            <select id="subject" onchange="getChapters()" class="form-control">
                                <option selected>Choose</option>
                                {% for subject in subjects%}
                                <option value="{{subject.uid}}" {% if subject.uid == subject_uid %} selected
                                    {% endif %}>{{subject.subject_title}}</option>
                                {%  endfor %}
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-8">
                        <label>Select Chapter</label>
                        <div class="input-group ">
                            <select id="chapter" onchange="getLessons()" class="form-control">
                                <option>Choose</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="degree2">select multiple</label>
                            <select class="form-control " id="choices-multiple-remove-button"
                                placeholder="Select upto Lessons" multiple>
                                {% for lesson in lessons %}
                                <option class="{{lesson.uid}}" {% if lesson.is_added %} selected {% endif %}>
                                    {{lesson.lesson_title}}</option>
                                {% endfor %}
                            </select>


                        </div>
                    </div>





                </div>
            </div>





            <button onclick="saveSubject()" class="btn btn-dark mt-3 mb-4 ml-4">
                Save Subject
            </button>


        </div>


    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
            removeItemButton: true,
            searchResultLimit: 5,
        });

    });
</script>
<script>
    let one = document.querySelector('#container1')
    let two = document.querySelector('#container2')
    var course_package_uid = '{{course_package_uid}}'
    var CSRF_TOKEN = '{{csrf_token}}'
    console.log(CSRF_TOKEN)


    function addLessonToChapter(subject_uid, chapter_uid, lesson_uid) {
        var payload = {
            'subject_uid': subject_uid,
            'chapter_uid': chapter_uid,
            'lesson_uid': lesson_uid,
            'course_package_uid': course_package_uid
        }
        console.log(payload)


        const headers = {
            'X-CSRFToken': CSRF_TOKEN
        }

        axios.post('/api/courses/save-course-package/', payload, {
                headers: headers
            })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });




    }



    function getChapters() {
        var subject = document.getElementById('subject').value
        axios.get(`/api/courses/get-chapters/?uid=${subject}`)
            .then(response => {
                console.log(response)

                var chapters = response.data.data
                $("#chapter").empty();
                var opt = document.createElement('option');

                opt.innerHTML = 'Choose';
                document.getElementById('chapter').appendChild(opt);
                for (var i = 0; i <= chapters.length; i++) {
                    var opt = document.createElement('option');
                    opt.value = chapters[i].uid;
                    opt.innerHTML = chapters[i].chapter_title;
                    document.getElementById('chapter').appendChild(opt);
                }
            })
    }

    function getLessons() {
        var chapter = document.getElementById('chapter').value

        window.location.href = `?uid=${chapter}`
        return;
        // axios.get(`/api/courses/get-lessons/?uid=${chapter}&course_package_uid=${course_package_uid}`)
        //     .then(response => {
        //         var element = document.getElementById('choices-multiple-remove-button')
        //         var data = response.data.data

        //         for(var i=0;i<data.length ;i++){

        //             var opt = document.createElement('option');
        //             opt.value = "A";
        //             opt.innerHTML = "A";
        //             console.log(opt)
        //             document.getElementById('choices-multiple-remove-button').appendChild(opt);


        //         }

        //     console.log(response.data.data)


        // })



    }


    function saveSubject() {

        swal({
                title: "Are you sure?",
                text: "You want to save?",
                icon: "success",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    var payload = {}

                    var lessons = [];
                    $('#choices-multiple-remove-button :selected').each(function () {
                        lessons[$(this).val()] = $(this).text();
                    });
                   
    
                    var chapter = document.getElementById('chapter').value
                    var subject = document.getElementById('subject').value
                    var course_pacakage_uid = '{{course_package_uid}}'

                  
                    var payload = {
                        'course_package_uid': course_package_uid,
                        'subject_uid': subject,
                        'chapter_uid': chapter,
                        'lesson_uid': lessons
                    }
                    const headers = {
                        'X-CSRFToken': CSRF_TOKEN
                    }

                    axios.post('/api/courses/save-course-package/', payload, {
                            headers: headers
                        })
                        .then(function (response) {
                            console.log(response)
                           

                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                } else {
                    swal("Your imaginary file is safe!");
                }
            });


        console.log('Saved')

    }

    $(document).ready(function () {
        $('#multiselect').multiselect({
            buttonWidth: '160px',
            includeSelectAllOption: true,
            nonSelectedText: 'Select an Option'
        });
    });


    function getSelectedValues() {
        var selectedVal = $("#multiselect").val();
        for (var i = 0; i < selectedVal.length; i++) {
            function innerFunc(i) {
                setTimeout(function () {
                    location.href = selectedVal[i];
                }, i * 2000);
            }
            innerFunc(i);
        }
    }
</script>


{% endblock %}


quiz application django,
making quiz app in django,
quiz app using django github,
quiz application in django,
quiz app django github,
quiz app with django,
test django application,
quiz app using django,
online quiz app using django,