{%extends 'base.html'%}
{% block start %}

<style type="text/css">
    .bg-1 {
        background: #ECECF8;
    }
</style>
<div class="section-header">
    <h1>Add Pakage</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item">Add Pakage</div>
    </div>
</div>


<div class="card">
    <!-- <div class="card-header">
    <h4>Horizontal Form</h4>
  </div> -->
    <div class="card-body">
        {% include "utils/alert.html" %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-row mb-4">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Package title</label>
                    <input type="text" name="package_title" class="form-control" required
                       id="inputEmail4" placeholder="Enter Package title">
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="degree4">Expiry date </label>
                        <input type="text" class="form-control mb-4" id="degree4" placeholder="Add your work here" value="">
                    </div>
                </div>
            
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Web image</label>
                            <input type="file" class="form-control mb-4" id="degree3" placeholder="Add your subjects" value="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="degree4">Mobile image</label>
                            <input type="file" class="form-control mb-4" id="degree4" placeholder="Add your work here" value="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <textarea class="form-control" placeholder="Package description" cols="100" rows="50"></textarea>
            </div>


        </div>

            




            <button type="submit" class="btn btn-primary mt-3">Add Package</button>
        </form>

        <div style= "width:150px; margin:20px auto;">
            <!-- Build your select: -->
            <select id="example-getting-started" multiple="multiple">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                 <option value="cheese">Cheese</option>
                <option value="tomatoes">Tomatoes</option>
                <option value="mozarella">Mozzarella</option>
              </div>
              
               <div class="col-md-6">
                 <option value="mushrooms">Mushrooms</option>
                <option value="pepperoni">Pepperoni</option>
                <option value="onions">Onions</option>
              </div>
                  
                </div>
              </div>
              
               
                
            </select>
          
          </div>
      </div>
    
</div>
    
     


    {% endblock %}