{%extends 'base.html'%}

{%block start%}

<style type="text/css">
    .bg-1 {
        background: #ECECF8;
    }
</style>
<!-- JavaScript Bundle with Popper -->
<div class="section-header">
    <h1>Add Subjects </h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add Chapter
              </button>
         
        </div>
    </div>
</div>
<div id="main_id">
    <div class="card mt-5">
     
                        <div style="margin-left:-50px !important">

                        </div>
                        {% include "utils/alert.html" %}

                        <div class="table-responsive">
                            <table id="zero-config" class="table table-striped dataTable" style="width: 100%;"
                                role="grid" aria-describedby="zero-config_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="zero-config" rowspan="1"
                                            colspan="1" aria-label="Name: activate to sort column descending"
                                            aria-sort="ascending" style="width: 101px;">S.no</th>
                                        <th class="sorting" tabindex="0" aria-controls="zero-config" rowspan="1"
                                            colspan="1" aria-label="Position: activate to sort column ascending"
                                            style="width: 156px;">Subject Chapter</th>
                                            <th class="sorting" tabindex="0" aria-controls="zero-config" rowspan="1"
                                            colspan="1" aria-label="Position: activate to sort column ascending"
                                            style="width: 156px;">Subject</th>
                                        <th class="sorting" tabindex="0" aria-controls="zero-config" rowspan="1"
                                            colspan="1" aria-label="Office: activate to sort column ascending"
                                            style="width: 71px;">Created At</th>
                                        <th class="sorting" tabindex="0" aria-controls="zero-config" rowspan="1"
                                            colspan="1" aria-label="Age: activate to sort column ascending"
                                            style="width: 30px;">Updated At</th>
                                            <th class="sorting" tabindex="0" aria-controls="zero-config" rowspan="1"
                                            colspan="1" aria-label="Age: activate to sort column ascending"
                                            style="width: 30px;">Action </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for subject_chapter in subject_chapters %}
                                    <tr role="row">
                                        <td class="sorting_1">{{forloop.counter}}</td>
                                        <td>{{subject_chapter.chapter_title}}</td>
                                        <td>{{subject_chapter.subject.subject_title}}</td>
                                        
                                        <td>{{subject_chapter.created_at}}</td>
                                        <td>{{subject_chapter.updated_at}}</td>
                                       
                                        <td>
                                            <a href="{% url 'edit_subject_chapter' subject_chapter.uid %}" class="btn btn-success btn-sm" >
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <button class="btn btn-danger btn-sm" onclick="deleteChapter('{{subject_chapter.uid}}')">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>    
                                            </td>
                                    </tr>
                                {% endfor %}

                                </tbody>

                            </table>
                        </div>
                       
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Subject</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlInput1">Subject </label>
                    <select required class="form-control" name="subject">
                        {% for subject in subjects %}
                        <option value="{{subject.uid}}">{{subject.subject_title}}</option>
                        {% endfor %}
                    </select>
                </div> 

                <div class="form-group">
                    <label>Chapter Title</label>
                    <input class="form-control" required name="chapter_title" type="text">
                </div>

                

                <button class="btn btn-success">Add Subject</button>
            </form>


          

        </div>
       
      </div>
    </div>
  </div>

  <script>
      
    $(document).ready(function () {
        $(".table").dataTable();
    });
   
   
      function deleteChapter(uid){
        swal({
                title: "Are you sure?",
                text: "You want to delete?",
                icon: "success",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
            window.location.href = `{% url 'delete_chapter' %}?uid=${uid}`

                } else {
                    swal("No deleted");
                }
            });
      }

  </script>



{%endblock%}