{%extends 'base.html'%}
{% block start %}

<style type="text/css">
    .bg-1 {
        background: #ECECF8;
    }
</style>
<div class="section-header">
    <h1>Add Pakage</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
        <div class="breadcrumb-item">Add Pakage</div>
    </div>
</div>


<div class="card">
    <!-- <div class="card-header">
    <h4>Horizontal Form</h4>
  </div> -->
    <div class="card-body">
        {% include "utils/alert.html" %}
 <form method="POST">
     {% csrf_token %}
                            <div class="form-row mb-4">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Lesson title</label>
                                    <input type="text" class="form-control" required name="lesson_title" value="{{lesson.lesson_title}}" id="inputEmail4" placeholder="Enter lesson title">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Subject Chapters</label>
                                    <select required id="chapters" name="chapters" class="form-control basic tagging ">
                                        {% for subject_chapter in  subject_chapters %}
                                        <option {% if lesson.subject_chapters ==  subject_chapter %} selected {% endif %} value="{{subject_chapter.uid}}">{{subject_chapter.chapter_title}}</option>
                                        {% endfor  %}
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAddress">Video Platform</label>
                                    <select required class="form-control" name="video_uploaded_on">
                                        <option {% if lesson.video_uploaded_on == 'Vimeo' %} selected {% endif %} value="Vimeo">Vimeo</option>
                                        <option  {% if lesson.video_uploaded_on == 'Youtube' %} selected {% endif %} value="Youtube">Youtube</option>
    
                                    </select>
                                    </div>

                                    <div class="form-group col-md-6">
                             
                                        <label for="inputEmail4">Lesson Link</label>
                                        <input required type="text" value="{{lesson.video_link}}"  class="form-control" name="video_link" id="inputEmail4" placeholder="Enter lesson title">
                                    </div>
                                    
                                    <div class="form-group col-md-6">
                             
                                        <label for="inputEmail4">Is free</label>
                                        <select class="form-control" name="is_free">
                                            <option {% if lesson.is_free  == "0" %} selected {% endif %} value="0">No</option>
                                            <option {% if lesson.is_free  == "1" %} selected {% endif %} value="1">Yes</option>

                                        </select>
                                    </div>
                                    
                            </div>
                          
                            

                          <button type="submit" class="btn btn-primary mt-3">Update Chapters</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}