{% load static %}
<div class="main-sidebar">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="{% url 'dashboard">
        <img height="50" src="/media/img/logo.svg" width="85.94">
      </a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="index.html">
        <img src="/media/img/logo-sm.png" height="35" width="auto">
      </a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">Dashboard</li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="index-0.html">General Dashboard</a></li>
          <li><a class="nav-link" href="index.html">Ecommerce Dashboard</a></li>
        </ul>
      </li>
      <li class="menu-header">Starter</li>

      <li class="nav-item dropdown">
        <a href="{% url 'subjects' %}" class="nav-link"><i class="fas fa-columns"></i>
           <span>Subjects</span></a>
       
      </li>
      <li class="nav-item dropdown">
        <a href="{% url 'subject_chapters' %}" class="nav-link"><i class="fas fa-columns"></i>
           <span>Chapters</span></a>
       
      </li>
      
      <li class="nav-item dropdown">
        <a href="{% url 'lessons' %}" class="nav-link"><i class="fas fa-columns"></i>
           <span>Lessons</span></a>
       
      </li>
      <li class="nav-item dropdown">
        <a href="{% url 'add_lessons' %}" class="nav-link"><i class="fas fa-columns"></i>
           <span> Add Lessons</span></a>
       
      </li>
      
      <li class="nav-item dropdown">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i>
           <span>Course Packages</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="{% url 'course_packages' %}">Course Packages</a></li> 
        </ul>
      </li>

      
      
    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
      <a href="https://getstisla.com/docs" class="btn btn-primary btn-lg btn-block btn-icon-split">
        <i class="fas fa-rocket"></i> Documentation
      </a>
    </div>
  </aside>
</div>